<!DOCTYPE html>
<html lang="ko">
{% extends 'main.html' %}

{% load static %}
{% load tag_templatetag %}
{% block content %}
<div class="container my-4">
  <div class="row">
    <div class="col-3 border">
      {% include "community/sidebar.html" %}
    </div>
    <div class="col-9">

        <div class="d-flex my-2 overflow-hidden" id="active-article-list">

        </div>

      <div class="d-flex justify-content-between bg-light" id="board-title-bar">
        <div class="d-flex col-8 justify-content-start">
          <h2>{{ board_name }} 게시판</h2>
        </div>
      </div>
        <div>

        </div>

      {% include "community/footer.html" with board=board %}
    </div>
  </div>
</div>
{% endblock content %}
{% block script %}
<script>
</script>
{% endblock script %}

</html>