<!DOCTYPE html>
<html lang="ko">
{% extends 'main.html' %}

{% load static %}
{% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-3 border h-100">
      {% include "community/sidebar.html" %}
    </div>
    <div class="col-9">
      <div class="row">
        {% for board in boards %}
        <div class="col-6 my-2">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <h4 class="card-title fw-bold">{{board.name}} 게시판</h4>
                <a href="/community/{{board.name}}">
                  더보기
                  <i class="bi-chevron-right"></i>
                </a>
              </div>
              {% include "community/article-bar.html" with article_list=board.article_list bartype='compact' %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
</div>
{% endblock content %}
{% block script %}
{% endblock script %}

</html>