{% load community_tag %}
{% load user_templatetag %}
{% load static %}
<div class="row m-2" id="profile-tab">
    <div class="col-6">
        <img class="w-100" src="{{user|user_profile_image_url}}">
    </div>
    <div class="col-6">
        {% if user.is_authenticated %}
        <a href="/user/{{user.username}}">{{user.username}}</a>
        <br>
        <i class="bi-card-text"></i>
        {{user|user_article}}
        <br>
        <i class="bi-chat-left-dots"></i>
        {{user|user_comment}}
        <br>
        <i class="bi-bookmark-star"></i>
        {{user|user_like}}
        <br>
        {% else %}
        <a href="/accounts/login">로그인</a>
        <br>
        <a href="/accounts/register">회원가입</a>
        {% endif %}
    </div>
</div>
<div class="row m-2" id="community-tab">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="/community">Community Main</a>
        </li>
        {% board_sidebar_items request %}
        {% if user.is_authenticated %}
        <li class="list-group-item text-primary" id="team-create" style="cursor:pointer;">
            <i class="bi-plus"></i>
            Make Team
        </li>
        {% endif %}
    </ul>
</div>
{% if user.is_authenticated %}
<div class="modal fade" id="AddTeamModal">
</div>
<script src="{% static 'js/community_sidebar.js' %}"></script>
{% endif %}