{% load community_tag %}
{% load user_templatetag %}
{% load static %}
<div class="col-3 border h-100" id="community-sidebar">
    <div id="profile-tab" class="w-100">
        <div id="profile-image-wrap" class="m-auto">
            <img src="{{user|user_profile_image_url}}" id="profile-image">
        </div>
        <div id="profile-sum">
            {% if user.is_authenticated %}
            <div id="profile-username">{{user.username}}</div>
            <div id="community-stat" class="d-flex">
                <div class="mx-3"><i class="bi-card-text me-1"></i>{{user|user_article}}</div>
                <div class="mx-3"><i class="bi-chat-left-dots me-1"></i>{{user|user_comment}}</div>
                <div class="mx-3"><i class="bi-bookmark-star me-1"></i>{{user|user_like}}</div>
            </div>
            {% else %}
            {% endif %}
        </div>
    </div>
    <div id="community-tab" class="w-100">
        <div class="boardgroup-title">
            게시판
        </div>
        <div class="boardgroup-item">
            <a href="/community">Community Main</a>
        </div>
        {% board_sidebar_normal_board request %}
        <div class="boardgroup-title d-flex justify-content-between">
            <div>팀 게시판</div>
            {% if user.is_authenticated %}
            <div id="team-create" style="cursor:pointer;"><i class="bi-plus"></i></div>
            {% endif %}
        </div>
        {% board_sidebar_team_board request %}  
    </div>
    {% if user.is_authenticated %}
    <div class="modal fade" id="AddTeamModal">
    </div>
    <script src="{% static 'js/community_sidebar.js' %}"></script>
    {% endif %}
</div>