<!DOCTYPE html>
<html lang="ko">
{% extends 'main.html' %}

{% load static %}
{% load tag_templatetag %}
{% block content %}
<div class="container my-4">
  <div class="row">
    <div class="col-3 border">
      {% include "community/sidebar.html" %}
    </div>
    <div class="col-9">
      <div id="active-article">
        <div id="active-article-control">
          <i class="bi-chevron-left active-article-control" value="left"></i>
          {% for i in active_article_tab %}
            {% if forloop.first %}
            <i class="active-article-control bi-circle-fill text-primary active" value="{{i}}"></i>
            {% else %}
            <i class="bi-record active-article-control" value="{{i}}"></i>
            {% endif %}
          {% endfor %}
          <i class="bi-chevron-right active-article-control" value="right"></i>
        </div>
        <div class="d-flex my-2 overflow-hidden" id="active-article-list">
        {% for article in active_article %}
        <div class="article-item col-3 p-1">
          <div class="h-100 w-100 border p-1">
            <div class="team-profile d-flex">
              <img src="{{article.team.image.url}}" alt="profile" class="w-50">
              <div>
                <div>
                  {{article.team.name}}
                </div>
                <div>
                  {{article.team.description}}
                </div>
              </div>
            </div>
            <div class="fw-bold">{{article.title}}</div>
            <div>
            {% for tag in article.tags %}
              <span class="badge bg-tag-{{tag.type}}">{{tag.name}}</span>
            {% endfor %}
            </div>
          </div>
        </div>
        {% endfor %}
        </div>
      </div>
      <div class="d-flex justify-content-between bg-light" id="board-title-bar">
        <div class="d-flex col-8 justify-content-start">
          <h2>{{ board.name }} 게시판</h2>
          <div class="my-auto col-6" id="tag-filter">
            <select class="mx-2" style="min-width: 25%;" id="tag-select" multiple>
              {% category_tag request %}
            </select>
          </div>
        </div>
        <div class="my-auto">
          <button class="btn btn-outline-secondary" id="">
            글쓰기
            <i class="bi-pencil"></i>
          </button>
        </div>
      </div>
      <div id="article-list-body">
      </div>
      {% include "community/footer.html" with board=board %}
    </div>
  </div>
</div>
{% endblock content %}
{% block script %}
<script>
  $(function(){
    var tag_selector = new SlimSelect({
      select: '#tag-select',
      onChange: (selected_list) => {
        for(selected of selected_list){
          $(`.ss-value[data-id="${selected.id}"]`).addClass('bg-' + selected.class)
        }
        now_page = 1;
        redraw();
    }});
    $('.active-article-control').click(function(){
      // active_list = $('.article-item').toArray()
      // now_tab = Number($('.active-article-control.active').attr('value'))
      // selected_tab = Number($(this).attr('value'))
      // sorted_list = active_list.slice((now_tab + 1) * 4, active_list.length).concat(active_list.slice(0, (now_tab + 1) * 4))
      // console.log(now_tab, selected_tab)
      // selected_list = sorted_list.slice(now_tab * 4, (now_tab + 1) * 4)
      // .concat(sorted_list.slice((now_tab + 1) * 4, sorted_list.length))
      // .concat(sorted_list.slice(0, now_tab * 4))
      // $('#active-article-list').html()
      // for(active_article of selected_list){
      //   console.log(active_article)
      //   $('#active-article-list').append(active_article);
      // }
      // $('.active-article-control.active').toggleClass('active')
      // .toggleClass('bi-circle-fill').toggleClass('bi-record').toggleClass('text-primary')
      // $(`.active-article-control[value=${selected_tab}]`).toggleClass('active')
      // .toggleClass('bi-circle-fill').toggleClass('bi-record').toggleClass('text-primary')
    });
  });
</script>
{% endblock script %}

</html>