
.article-bar-comment {
    position: relative;
    top: -1rem;
    background-color: var(--tag-bg-ect) !important;
    z-index: -1;
    max-height: 3.5rem;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: -1rem;
    padding: 1rem;
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
    box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.25);
}

.empty {
    white-space: nowrap;
}

.article-bar.empty {
    display: flex;
    background-color: var(--main-white);
    text-align: center;
    border-radius: 0.625rem;
}

.accordion-collapse {
    margin-top: -1rem;
    padding-top: 1rem;
    background-color: var(--main-white);
    border-bottom-left-radius: 0.625rem !important;
    border-bottom-right-radius: 0.625rem !important;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}


.accordion-collapse .article-bar {
    min-height: 20px;
    display: flex;
    justify-content: center;
    background-color: var(--main-white);
    border-bottom: 1px solid var(--main-border-color);
    padding: 0.25rem;
}

.accordion-collapse .article-bar:last-child {
    border-bottom: none;
    border-bottom-left-radius: 0.625rem !important;
    border-bottom-right-radius: 0.625rem !important;
}

.article-bar {
    min-height: 20px;
    display: flex;
    justify-content: center;
    background-color: var(--main-white);
    border-bottom: 1px solid var(--main-border-color);
    padding: 0.25rem;
}

.article-bar:first-child {
    border-top: none;
    border-top-left-radius: 0.625rem !important;
    border-top-right-radius: 0.625rem !important;
}

.article-bar:last-child {
    border-bottom: none;
    border-bottom-left-radius: 0.625rem !important;
    border-bottom-right-radius: 0.625rem !important;
}

.background-shadow{
    border-bottom-left-radius: 0.625rem !important;
    border-bottom-right-radius: 0.625rem !important;
    box-shadow: 0 0.25rem 0.25rem rgb(0 0 0 / 25%);
}
.article-head {
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.article-bar-title {
    display: flex;
    align-items: center;
}

.article-bar-writer {
    color: #0094FF;
    text-decoration: underline;
}

.article-meta {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    text-align: end;
    font-size: 16px;
    color: var(--main-black);
}

.article-meta-stat {
    margin-left: 0.25em;
    margin-right: 0.25em;
    justify-content: end;
    text-align: center;
    color: #2F2F2F;
}

.article-meta-stat-icon {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.25em;
    margin-right: 0.25em;
    text-align: end;
    font-size: 14px;
    color: #2F2F2F;
}

.accordion-item {
    background-color: transparent;
}

.accordion-header-inner {
    display: flex;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

.accordion-header-inner * {
    font-weight: 600;
    color: var(--main-white);
}

.accordion-header-inner>div {
    background-color: var(--main-point-color) !important;
    box-shadow: none !important;
    padding: 1rem 1.25rem 1rem 1.25rem;
    font-size: 1rem;
}

.accordion-header-inner>div:first-child {
    border-top-left-radius: 0.625rem;
    border-bottom-left-radius: 0.625rem;
}

.accordion-header-inner>div:last-child {
    border-top-right-radius: 0.625rem !important;
    border-bottom-right-radius: 0.625rem !important;
}

.accordion-header-inner a {
    background-color: var(--main-point-color) !important;
    font-size: 1rem;
    line-height: normal;
}

.accordion-button {
    flex: 1;
}

.accordion-item,
.accordion-button {
    border: none;
    font-weight: 600;
    border-radius: 0 !important;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    background-color: var(--main-point-color) !important;
    color: var(--main-white);
}

.accordion-button.collapsed {
    background-color: var(--main-point-color) !important;
    color: var(--main-white);
}

.accordion-button::after {
    font-family: bootstrap-icons;
    background-image: none;
    width: fit-content;
    content: "\F229";
}

.accordion-button:not(.collapsed):after {
    background-image: none;
}

#teamTab {
    background-color: var(--main-point-color) !important;
    color: var(--main-white);
    margin-bottom: 10px;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    padding:35px 20px;
}

#team-image-container {
    min-height: 160px;
    height: 160px;
    min-width: 160px;
    width: 160px;
    background: var(--main-white);
    border: 1px solid var(--main-border-color);
}

#teamMemberList {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
}

.team-admin-icon {
    vertical-align: middle;
}

.nav-pills .title-bar.nav-link.active, .nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: var(--main-point-color);
    box-shadow: 0 0.25rem 0.25rem var(--card-box-shadow);
    border-radius: 0.75rem;
}

#board-title-bar {
    background: var(--main-point-color) !important;
    padding: 0.55rem;
    color: var(--main-white);
    box-shadow: 0 0.25rem 0.25rem var(--card-box-shadow);
    margin-bottom: 1rem;
    border-radius: 0.65rem;
    position: relative;
}

#board-title {
    font-size: 20px;
}

#board-title > a {
    font-size: 20px;
    color: var(--main-white);
}

.p-board-title {
    padding: 6px 12px;
    vertical-align: middle;
}

#date-label {
    font-size: 20px;
    color: var(--main-white);
}
.p-date-label {
    padding: 6px;
    vertical-align: middle;
}

.board-content-bar {
    background: var(--main-white) !important;
    padding: 1rem;
    color: var(--main-black);
    box-shadow: 0 0.25rem 0.25rem var(--card-box-shadow);
    margin-bottom: 1rem;
    border-radius: 0.75rem;
}
#user-filter, #activity-filter{
    right:5px;
    top:10px;
    flex: 0 0 auto;
    width: 33.33333333%;
}
#user-tag-filter, #activity-tag-filter{
    position:absolute;
    width: inherit;
    transition-duration: 0.15s;
}
#user-tag-filter:not(.show), #activity-tag-filter:not(.show){
    opacity: 0;
    visibility: hidden;
}
@media (max-width: 992px) {
    #user-filter, #activity-filter{
        width: 41.6%;
    }
    #article-teamcard {
        display: block !important;
    }
    .article-info-desc {
        min-width: 100% !important;
    }
    #profile-username {
        display: none;
    }
}
@media (max-width: 576px) {
    #user-filter, #activity-filter{
        width: 100%;
    }
}
.color-b {
    color: #2F2F2F;
}

.active-article {
    min-height: 10em;
    margin-bottom: 40px;
}

.active-article-list {
    border-radius:10px;
    padding: 1rem;
}

/* Overide carousel.scss */
.carousel-control-next {
    justify-content: right;
    width: auto;
}

.carousel-control-prev {
    justify-content: left;
    width: auto;
}

.carousel-indicators{
    bottom: -40px;
}
/*************************/

.active-article-item {
    background: var(--main-white);
    color: var(--main-black);
    border-radius: 0.8rem;
    padding: 0.8rem;
    width:92%;
    min-width:480px;
    height:200px;
    margin:auto;
}

.active-article-item:hover {
    transform: scale(1.02);
    transition: .5s;
    color: inherit;
}

#comment-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    gap: 0.625rem;
}

#comment-body {
    width: 80%;
    flex: 1;
    resize: none;
    height: 100%;
}

#comment-cnt{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.275rem;
}

#comment-annonymous{
    display: flex;
    gap: 0.5rem;
}

#comment-annonymous > input {
    line-height: 2rem;
}

#btn-comment-save {
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: 1px solid var(--main-border-color);
    border-radius: 0.625rem;
}

#comment-group-login {
    width: 100%;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
    background-color: white;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

#comment-group-logout {
    width: 100%;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    border-radius: 0.625rem;
    background-color: white;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

#comment-form {
    display: flex;
    height: 70px;
    padding: 0 30px 0 30px;
    align-items: center;
    background-color: #002743;
    color: white;
    border-bottom-left-radius : 0.625rem;
    border-bottom-right-radius : 0.625rem;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

#comment-form button{

    color: white;

}

.comment-item {
    display: flex;
    background-color: var(--main-white);
    padding: 1rem 2rem;
    width: 100%;
    min-height: 2.5rem;
    border-style: solid;
    border-width:  0 0 2px 0;
    border-color: #EBEBEB;
}

.comment-item-last {
    display: flex;
    background-color: var(--main-white);
    padding: 1rem 2rem;
    width: 100%;
    min-height: 2.5rem;
    border-radius: 0.625rem;
}

.comment-item-left{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.comment-item-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comment-item-writer-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.25rem;
}

.comment-item-body {
    flex: 1;
    margin-top: auto;
    margin-bottom: auto;
}

.comment-item-meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comment-item-writer {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
    padding: 0;
}

.comment-item-writer>div>button {
    padding: 0;
}

.comment-item-delete {
    margin-top: auto;
    margin-bottom: auto;
}

.comment-item-delete>span {
    cursor: pointer;
    color: var(--main-border-color);
}

.comment-item-datetime {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    margin-bottom: auto;
}

.comment-item-datetime>div {
    height: 3em;
    font-size: 5px;
    margin-right: 0.5em;
    color: var(--main-border-color);
}

.comment-item-mod {
    display: flex;
    justify-content: end;
    gap: 0.25em;
}

.comment-item-like {
    cursor: pointer;
}

.comment-item-like>span {
    font-size: 1rem;
    vertical-align: middle;
}

#article-like-scrap {
    color: var(--main-black);
    margin-left: 0.25rem;
    gap: 0.25rem;
}

#article-like-scrap span {
    font-size: 1.25rem;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.tag-recruit {
    font-size: 0.75rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tag-text {
    width: 3rem!important;
}
.tag-recruit-ing{
    background: var(--tag-bg-recruit);
    color: var(--sub-point-color);

}

.tag-recruit-end {
    background: var(--main-border-color);
    color: var(--main-black);
}

#pagination-body {
    display: flex;
}

#pagination-body > .page-item {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    display: flex;
}
#pagination-body > .page-item.disabled {
    opacity: 50%;
}
#pagination-body > .page-item > .page-link:nth-child(1) {
    background-color: transparent;
}

#pagination-body > .page-item > .page-link {
    text-align: center;
    color: var(--main-black);
    border: none;
    padding: 0 !important;
}

.page-item.active {
    color: var(--main-white);
    background-color: var(--main-border-color);
}

#article-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: var(--main-white);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
    border-radius: 0.625rem;
    padding: 1.5rem 2rem 1rem 2rem;
    z-index: 1;
    position: relative;
    gap: 0.5rem;
}


#article-title {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    width:100%;
}

#article-metadata {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.625rem;

}

#article-datetime {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#article-datetime>div {
    font-size: 0.375rem;
}

#article-viewcnt {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#article-viewcnt>* {
    font-size: 1rem;
}

#article-body {
    min-height: 350px;
    max-height: 500px;
    overflow: auto;
}

#article-body img{
    max-width: 100%;
}

#article-title-border {
    border: 1px solid #9d9d9d;
}

#article-taglist {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
    background-color: var(--article-bg-color);
    border-radius: 0.625rem;
    gap: 0.5rem;
}

#article-like-scrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#article-teamcard {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--main-bg-color);
    border-radius: 0.625rem;
    margin-top: -1rem;
    padding: 2.25rem 3rem 1.25rem 3rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
    gap: 1rem;
}

#recruit-article-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
    flex: 1;
}

#team-option {
    width:150px;
}

.small-radius-image > img {
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
}

.article-info-name {
    font-size:20px;
    font-weight: 500;
}
.article-info-desc {
    font-size:16px;
    min-width:360px;
}
.sub-point-text {
    color: var(--sub-point-color);
}


.recruit-badge {
    font-size: 14px;
    border-radius: 0.625rem;
    padding: 1rem;
}

.recruit-btn {
    font-size: 14px;
    border-radius: 0.625rem;
    padding: 1rem;
    border: 1px solid var(--main-border-color);
}

.recruit-inactive {
    background-color: var(--main-border-color);
}
.recruit-active {
    background-color: var(--tag-bg-recruit);
    color: var(--sub-point-color);
}

.btn-filter {
    color: var(--main-icon-color);
}

.btn-filter:hover, .btn-check:checked+.btn {
    border: 1px solid var(--main-black)!important;
}

.team-apply-delete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.account-card {
    width: calc(33% - 0.5rem);
    background-color: var(--main-white);
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    padding: 0.75rem 1rem;
    margin-top: 0.375rem;
    margin-bottom: 0.375rem;
}

.account-data{
    display: flex;
    align-items: center;
}

.account-img{
    height: 3rem;
    width: 3rem;
}

.account-intro{
    flex-grow: 1;
    overflow-y: auto;
}

.user-card{
    width: calc(33.3% - 4px);
    min-width: 253px;
    height: 240px;
    padding: 15px 10px;
    margin: 4px 2px;
    position: relative;
}
@media screen and (max-width: 1200px) {
    .user-card{
        width: calc(50% - 4px);
    }
}
@media screen and (max-width: 768px) {
    .user-card{
        width: 100%;
        height: 280px;
    }
}

.rec-team{
    position:absolute;
    right:10px;
    top:10px;
    background:var(--main-white);
    z-index:10;
}

.account-tag{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: auto;
    padding: 0.25rem 0;
    flex-shrink: 0;
}

.desc-break{
    word-wrap: break-word;
    word-break: break-word;
}

/* admin이 아닌 팀원의 아이콘 색을 연하게 설정 */
.icon-normal-user{
    color:#CDCDCD;
}

#membersList{
    max-height: 200px;
    overflow-y: auto;
}
/* 새로운 디자인 */
.table {
    table-layout: fixed;
}
.small-table {
    display: none;
}
.thead-board {
    background-color: var(--main-bg-color);
    border: transparent;
}

.thead-board > tr:first-child > th:first-child{
    border-radius: 0.5rem 0 0 0;
}
.thead-board > tr:first-child > th:last-child{
    border-radius: 0 0.5rem 0 0;
}
.white-box {
    background-color: var(--main-white);
}
#tbody > tr:last-child > td {
    border-width: 0;
}
#tbody > tr > td {
    vertical-align: middle;
}
#tbody > tr > td a, #tbody > tr > td button {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    color: var(--main-black);
}
#tbody > tr > td a:hover, #tbody > tr > td button:hover{
    text-decoration: underline;
}
.article-tag{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: auto;
}

#boards-card{
    max-width: 100%;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    padding: auto;
}
.main-board{
    height: 400px;
}

.main-board-title{
    font-size: 24px;
    font-weight: bold;

}

.main-board-more{
    display: flex;
    font-size: 12px;
    align-items: end;
}

#community-main-title{
    max-width: 100%;
    height: 60px;

    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    border-radius: 0.625rem;

    font-size: 24px;
    font-weight: bold;
    color: white;

    background-color: #002743;

    justify-content: center;
    margin-bottom: 10px;
    padding: 0.55rem;
}

.p-community-main {
    padding: 6px 12px;
    vertical-align: middle;
    font-size: 20px;
}

.main-board-head{
    width: 95%;
    border-width: 0 0 3px 0;
    border-style: solid;
    border-color: #002743;
    padding-bottom: 10px;

}
.article-list-section{
    width: 95%;
}

.recruit-status{
    display: flex;
    align-items: center;
}

#article-view-reply{
    display: inline-block;
}

.notice-line {
    background-color: var(--notice-row);
    border-color: var(--main-border-color);
}

.comment-none{
    color:#9d9d9d;
    padding : 0.5rem 2rem 1rem 2rem;
}

#period-setting{
    padding: 10px 20px 10px 20px;
    color: white;
    border-radius: 0.625rem;
    background-color: #002743;
}

.period-label{
    font-size: 24px;
    margin-right: 10px;
}

#end-button{
    margin-left: 20px;
    font-size: 16px;

    align-items: center;
}

.article-dropdown{
    display: block;
    position: absolute;
    pointer-events: auto;
    z-index: 50;
}

.article-input{
    display: block;
    pointer-events: auto;
    z-index: 50;
    background-color: var(--main-white);
    background-clip: padding-box;
    border: 1px solid var(--main-border-color);
    border-radius: 0.375rem;
    width: fit-content;
    margin: 0.25rem 0;
    padding: 0.25rem 0.5rem;
}

.file-block{
    display: block;
    max-width:200px;
}

@font-face {
  font-family: 'IBMPlexSansKR-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.render .fouc {
  opacity: 1;
}
.fouc {
  opacity: 0;
  transition: opacity 0.01s linear;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'IBMPlexSansKR-Regular';
  font-weight: 500;
  background-color: var(--sub-bg-color);
  -ms-overflow-style: none;
}

#body-wrapper {
  min-height: 100%;
  position: relative;
  padding-bottom: 80px;
}

footer {
  width: 100%;
  height: 80px;
  position: relative;
  transform: translateY(-100%);
  border-top: solid 2px black;
  text-align: center;
}

/* body 스크롤바 제거 */
body::-webkit-scrollbar {
  display: none;
}
/* div 내부 스크롤바 스타일 */
div > ::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}
div > ::-webkit-scrollbar-track {
  background: var(--main-border-color);
  border-radius: 0.625rem;
}
div > ::-webkit-scrollbar-thumb {
  background: var(--profile-btn-inactive);
  border-radius: 0.625rem;
}
div > ::-webkit-scrollbar-thumb:hover {
  background: var(--profile-btn-inactive);
}
body::-webkit-scrollbar {
  display: none;
}
/* table 내부 스크롤바 스타일 */
td > ::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}
td > ::-webkit-scrollbar-track {
  background: var(--main-border-color);
  border-radius: 0.625rem;
}
td > ::-webkit-scrollbar-thumb {
  background: var(--profile-btn-inactive);
  border-radius: 0.625rem;
}
td > ::-webkit-scrollbar-thumb:hover {
  background: var(--profile-btn-inactive);
}
li,
a,
button {
  font-weight: 500;
  text-decoration: none;
}

.row {
  --bs-gutter-x: 0.8rem !important;
}

.material-icons {
  vertical-align: middle;
}

.bold {
  font-weight: bold;
  color: black;
}

.none {
  display: none !important;
}

.nav-icon {
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
}

.col-dropdown:not(.show) {
  visibility: hidden;
  opacity: 0;
}
.noti-dropdown {
  padding: 0;
}
@media (min-width: 992px) {
  .noti-dropdown {
    padding: 0;
    left: auto !important;
    right: 0 !important;
  }
}
@media (max-width: 991px) {
  #text-logo {
    display: none !important;
  }
}
@media (max-width: 450px) {
  #searcher-box-1 {
    visibility: hidden;
    cursor: default;
  }
  #searcher-box-2 {
    display: block !important;
    margin: 0 15px 0 13px;
  }
  .py-3 {
    padding-bottom: 0 !important;
  }
  .searcher-box {
    margin-left: 10px;
  }
}
/*검색창*/
#searcher-box-2 {
  display: none;
}
#search-btn {
  margin: 1px;
  background-color: var(--main-point-color);
  padding: 0.5rem;
  --bs-btn-color: var(--main-white);
  --bs-btn-hover-color: var(--main-white);
  --bs-btn-active-color: var(--main-white);
  --bs-btn-active-border-color: var(--main-point-color);
}
#tag-btn {
  margin: 1px 0;
  padding: 0.2rem;
  font-size: 24px;
  border: 2px 0 var(--main-border-color);
}
.searcher-box {
  flex: 1 1 auto;
  box-sizing: border-box;
}
#searcher {
  position: relative;
  flex: 0 0 auto;
}
#tag-filter {
  transition-duration: 0.15s;
}
#tag-filter:not(.show) {
  opacity: 0;
  visibility: hidden;
  cursor: default;
  height: 0px;
}
#board-searcher {
  flex-grow: 2;
}
#search-word {
  flex-grow: 7;
}
#search-field {
  flex-wrap: nowrap;
}
/*알림 스타일*/
.noti-item {
  width: 20em;
  padding: 0.5em;
  border-bottom: solid 0.5px var(--main-border-color);
}
.noti-item:last-child {
  border-bottom: none;
}
.noti-item.empty {
  vertical-align: middle;
}
.noti-item.read {
  background-color: var(--main-bg-color);
  color: var(--main-border-color);
}
.badge-new {
  height: 0.5rem;
  width: 0.5rem;
  position: absolute;
  background-color: var(--alert-color);
  border-radius: 50%;
  padding: 0.25rem;
}
#noti-list {
  position: absolute;
  max-height: 185px;
  overflow-y: auto;
  overflow-x: hidden;
}
.fixed-li {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--main-white);
  border-bottom: solid 0.5px var(--main-border-color);
}
/* 메시지 모달 스타일 */
#message-modal .modal-header {
  border-bottom: 1px solid var(--main-border-color);
}
#message-modal .modal-dialog,
#message-modal .modal-content {
  height: 60%;
  min-width: 700px;
}
#message-modal-body {
  height: inherit;
}
#oppo-list {
  width: 40%;
  z-index: 1;
  border-bottom-left-radius: 0.625rem;
}
#opponent-list {
  padding-inline-start: 0;
  list-style-type: none;
  height: 100%;
  overflow-y: scroll;
  overflow-x: auto;
}
.opponent-item {
  padding: 1rem;
}
.opponent-item.selected {
  background-color: var(--main-bg-color);
}
#chat-view-tab {
  width: 60%;
  height: 100%;
  padding: 1rem;
  border-bottom-right-radius: 0.625rem;
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}
img.opponent-profile {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: solid 0.5px var(--main-border-color);
}
.unread-count {
  border-radius: 1em;
  padding: 0.25em;
  color: #ffffff;
  background-color: var(--sub-point-color);
  font-weight: 800;
  font-size: 12px;
}
.opponent-name {
  font-size: 18px;
  font-weight: 400;
}
#chat-view {
  overflow-y: auto;
  display: flex;
  flex: 1;
  flex-direction: column;
}
.chat-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.25rem;
}
.chat-box.pending {
  opacity: 50%;
}
.chat-box.send {
  align-items: flex-end;
}
.chat-box.receive {
  display: flex;
  align-items: flex-start;
}
.chat-text {
  display: flex;
  width: 100%;
}
.send .chat-text {
  flex-direction: row-reverse;
}
.receive .chat-text {
  flex-direction: row;
}
.receive .chat-unread {
  display: none;
}
.send .chat-unread {
  background: var(--sub-point-color);
  border-radius: 50%;
  height: 0.5em;
  width: 0.5em;
  margin-top: auto;
  margin-right: 0.25em;
}
.chat-text-body {
  max-width: 80%;
  padding: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem var(--card-box-shadow);
  border-radius: 10px;
  overflow: hidden;
  white-space: normal;
  display: inline-block;
  word-break: normal;
  overflow-wrap: break-word;
}
.send .chat-text-body {
  background-color: var(--chat-send-color);
}
.receive .chat-text-body {
  background-color: var(--chat-receive-color);
}
.chat-date {
  font-weight: 500;
  font-size: 12px;
  color: var(--main-icon-color);
}
#chat-input-form {
  display: flex;
}
#chat-input {
  flex: 2;
  margin-right: 0.25rem;
  background: #ffffff;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0.5em;
  border-radius: 0.5rem;
  border: none;
}
#chat-input:focus {
  outline: 0.0625rem solid var(--sub-point-color);
}
#chat-input:disabled {
  background-color: var(--main-bg-color);
}
#chat-submit {
  border: 0;
  border-radius: 10%;
  background-color: var(--sub-point-color);
  color: #ffffff;
}

/* 기본 모달 스타일 Overide */
.modal-header {
  border-color: var(--main-border-color);
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  border: none;
}
.modal-content {
  border-radius: 0.625rem;
  border: none;
}
.modal-body .form-control {
  box-shadow: inset 0 0.125rem 0.25rem var(--card-box-shadow);
}

.email-input {
  flex: 2 1 60%;
}
.email-domain {
  flex: 0 1 40%;
}

/* SlimSelect Override */
.ss-multi-selected {
  border: none !important;
  box-shadow: inset 0 0.125rem 0.25rem var(--card-box-shadow);
}
.ss-single-selected > .placeholder {
  background: none;
}
.ss-main .ss-single-selected > .placeholder {
  cursor: pointer;
  background-color: transparent;
  opacity: 1;
}

.form-floating-group input {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.bg-tag-tool {
  color: #000000 !important;
  background-color: var(--tag-bg-tool) !important;
  font-weight: 700 !important;
}

.bg-tag-domain {
  color: #000000 !important;
  background-color: var(--tag-bg-domain) !important;
  font-weight: 700 !important;
}

.bg-tag-language {
  color: #000000 !important;
  background-color: var(--tag-bg-language) !important;
  font-weight: 700 !important;
}

.bg-tag-etc {
  color: #000000 !important;
  background-color: var(--tag-bg-ect) !important;
  font-weight: 700 !important;
}

.bg-tag-new {
  color: var(--main-white) !important;
  background-color: var(--alert-color) !important;
  font-weight: 500 !important;
}

.bg-none {
  background: none;
}

.bg-gray {
  background: #cdcdcd;
  font-weight: 600;
}

.default-cursor {
  cursor: default;
}

.pointer {
  cursor: pointer;
}

.hover-opacity {
  cursor: pointer;
}

.hover-opacity:hover {
  opacity: 0.5;
}

.hover-gray:hover {
  background-color: var(--btn-default-color);
}

.noti-dropdown::after,
.msg-dropdown::after {
  content: none;
}

.no-icon-dropdown::after {
  display: none !important;
}

#ApplyTeamModal .modal-body {
  padding: 0;
}

#ApplyTeamModal .nav {
  border-bottom: 1px solid var(---main-border-color);
}

#ApplyTeamModal .nav-item,
#ApplyTeamModal .nav-link {
  border-radius: 0;
}

#ApplyTeamModal .nav-pills .nav-link,
#ApplyTeamModal .nav-pills > .nav-link {
  color: #000000;
  border-top-color: transparent;
  border-bottom-color: #000000;
  border-radius: 0;
}

#ApplyTeamModal .nav-pills .nav-link.active,
#ApplyTeamModal .nav-pills .show > .nav-link {
  background-color: var(--main-bg-color);
  color: var(--sub-point-color);
  border-color: #000000;
  border-bottom-color: transparent;
  border-radius: 10px 10px 0 0;
}

#apply-recv-tab {
  border-right: 0.5px solid transparent;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

#apply-send-tab {
  border-left: 0.5px solid transparent;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.split-line {
  padding: 0.75rem;
  border-bottom: 1px solid var(--main-border-color);
}

.split-line:first-child {
  border-top: 1px solid var(--main-border-color);
}

.team-apply-meta {
  display: flex;
  gap: 0.5rem;
}

.team-apply-teamname {
  margin: auto;
}

.team-apply-user {
  margin: auto;
  text-decoration: underline;
  cursor: pointer;
}

.team-apply-action {
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 0.5rem;
}

.team-apply-detail {
  display: flex;
}

.team-apply-detail-body {
  text-align: center;
}

.btn-none {
  border: none;
  background: none;
  padding: 0;
}

.btn-default {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0.5rem;
  border-radius: 0.625rem;
  border: 1px solid #000000;
}

.btn-default:hover {
  background-color: var(--btn-default-color);
}

.btn-xs {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1rem;
  border-radius: 0.625rem;
  background-color: transparent;
}

.btn-refuse {
  border: 1px solid var(--danger-color);
}

.btn-refuse:hover {
  background-color: var(--danger-color-transparent);
}

.btn-refuse:disabled {
  color: #000000;
  background-color: var(--danger-color-transparent);
}

.btn-accept {
  border: 1px solid var(--sub-point-color);
}

.btn-accept:hover {
  background-color: var(--sub-point-color-transparent);
}

.btn-accept:disabled {
  color: #000000;
  background-color: var(--sub-point-color-transparent);
}

.btn-remove {
  border: 1px solid var(--danger-color);
}

.btn-remove:hover {
  background-color: var(--danger-color-transparent);
}

.btn-remove:disabled {
  color: #000000;
  background-color: var(--danger-color-transparent);
}

.btn-wait {
  border: 1px solid var(--main-point-color);
}

.btn-wait:disabled {
  color: #000000;
  background-color: var(--main-icon-color-transparent);
}

.writer-dropdown-btn {
  border: none;
  color: var(--sub-point-color);
  background: none;
}

.weak-text {
  color: var(--main-icon-color);
  font-size: 12px;
}

.weak-text-lg {
  color: var(--main-icon-color);
}

.user-info {
  margin: auto;
  background-color: var(--main-point-color);
  box-shadow: 0 4px 4px var(--card-box-shadow);
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  width: 100%;
  text-align: center;
}

.user-info .profile-img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: var(--main-white);
  border: 2px solid var(--main-point-color);
  z-index: 5;
  margin-top: -40px;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 992px) {
  .user-info .profile-img {
    width: 100px;
    height: 100px;
  }
}

.flex-harf {
  flex: 1 0 40%;
}

.lh-xl {
  line-height: 2.5 !important;
}

.fs-7 {
  font-size: 14px;
}

.fs-8 {
  font-size: 12px;
}

.text-white {
  color: var(--main-white);
}
.required-star {
  color: var(--danger-color);
}

.modal-dialog-started {
  display: flex;
  min-height: calc(100% - var(--bs-modal-margin) * 2);
}
.shadow-box {
  box-shadow: 0 0.25rem 0.25rem var(--card-box-shadow);
}

.flex-between {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-start {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
}

.check-failed {
  background-color: #dc3545;
  color: #ffffff;
}

.check-success {
  background-color: #0d6efd;
  color: #ffffff;
}

.form-control-plaintext:read-only {
  border: 1px solid #6c757d !important;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.ss-main {
  position: relative;
  display: inline-block;
  user-select: none;
  color: #666;
  width: 100%;
}

.ss-main .ss-multi-selected {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  min-height: 30px;
  width: 100%;
  padding: 0 0 0 3px;
  border: 1px solid #dcdee2;
  border-radius: 4px;
  background-color: #fff;
  outline: 0;
  box-sizing: border-box;
  transition: background-color .2s;
}

.ss-multi-selected {
  border: none !important;
  box-shadow: inset 0 0.125rem 0.25rem var(--card-box-shadow);
}

.ss-main .ss-multi-selected .ss-values {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex: 1 1 100%;
  width: calc(100% - 30px);
} 

.ss-main .ss-multi-selected .ss-values .ss-disabled {
  display: flex;
  padding: 4px 5px;
  margin: 2px 0;
  line-height: 1em;
  align-items: center;
  width: 100%;
  color: #dedede;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.my-1 {
  margin-top: 0.25rem!important;
  margin-bottom: 0.25rem!important;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.bi-x-lg::before {
  content: "\f659";
}

.bi::before, [class*=" bi-"]::before, [class^=bi-]::before {
  display: inline-block;
  font-family: bootstrap-icons!important;
  font-style: normal;
  font-weight: 400!important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, ::after, ::before {
  box-sizing: border-box;
}

input-group-text {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
}