{% load static %}
{% load markdown_filter %}
{% if active_article|length != 0 %}
<div class="active-article">
    <div id="carouselTeam" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            {% for article in active_article %}
            {% if forloop.first %}
            <button type="button" class="active" data-bs-target="#carouselTeam" data-bs-slide-to="{{ forloop.counter0 }}" aria-current="true"></button>
            {% else %}
            <button type="button" data-bs-target="#carouselTeam" data-bs-slide-to="{{ forloop.counter0 }}"></button>
            {% endif %}
            {% endfor %}
        </div>
        <div class="carousel-inner">
            {% for article in active_article %}
            {% if forloop.first %}
            <div class="carousel-item active">
            {% else %}
            <div class="carousel-item">
            {% endif %}
                <a href="{% url 'community:article-view' article.id %}" role="button" class="active-article-item d-flex flex-column justify-content-between">
                    <div class="fs-5">
                        {{ article.title }}
                    </div>
                    <div class="fs-6">
                        {{ article.team.name }}
                    </div>
                    <div class="fs-6 flex-grow-1 overflow-hidden">
                        {{ article.body|safe|mark }}
                    </div>
                    <div>
                        {% for tag in article.tags %}
                        <span class="badge bg-tag-{{tag.type}}">{{tag.name}}</span>
                        {% endfor %}
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselTeam" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselTeam" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
{% endif %}
