{% load static %}
{% if active_article|length != 0 %}
<div id="active-article">
{#    <div class="slick-carousel" id="active-article-list" style="display:flex!important;">#}
{#        {% for article in active_article %}#}
{#        <div class="" style="width:30%;">#}
{#            <div style="height:140px;"  class="d-flex flex-column active-article-item" onclick="location.href='{% url 'community:article-view' article.id %}'" >#}
{#                <div  class="d-flex flex-row recruit-team-info">#}
{#                    <div class="recruit-team-info-image">#}
{#                        <img src="{{article.team.image.url}}" alt="team-image">#}
{#                    </div>#}
{#                    <div class="d-flex flex-column">#}
{#                        <div class="active-article-item-team-name fw-bold color-b">{{ article.team.name }} </div>#}
{#                        <br>#}
{#                        <div class="active-article-item-team-desc color-b " style="font-size:10px;" >{{ article.team.description }}</div>#}
{#                    </div>#}
{#                </div>#}
{#                <div>#}
{#                    {% for tag in article.tags %}#}
{#                    <span class="badge bg-tag-{{tag.type}}">{{tag.name}}</span>#}
{#                    {% endfor %}#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        {% endfor %}#}
{#    </div>#}

{#    <div id="active-article" class="carousel slide" data-ride="carousel">#}
    <div id="carouselExampleControlsNoTouching" class="active-article-list carousel slide active-article" data-bs-touch="false" data-bs-interval="false">
      <div class="carousel-inner">
{#        <div class="carousel-item active">#}
{##}
{#        </div>#}
      {% for article in active_article %}
        <div class="carousel-item {% if article == active_article.0 %}active{% endif %}">
{#            <div class="d-flex flex-row justify-content-space border w-100">#}
                <div style="height:140px;width:480px;margin:auto;"  class="d-flex flex-column active-article-item" onclick="location.href='{% url 'community:article-view' article.id %}'" >
                    <div  class="d-flex flex-row recruit-team-info">
                        <div class="recruit-team-info-image">
                            <img src="{{article.team.image.url}}" alt="team-image">
                        </div>
                        <div class="d-flex flex-column w-100" >
                            <div class="d-flex flex-row w-100" style="height:40px;">
                                <div class=" active-article-item-team-name fw-bold color-b">{{ article.team.name }} </div>
                                <div class=" w-100 active-article-item-team-desc color-b " style="font-size:10px;padding-left:10px;" >{{ article.team.description }}</div>
                            </div>
                            <div class="color-b w-100  h-100" style="font-size:0.2em;">
                                {{ article.title }}
                                <br>
                                {{ article.body }}
                            </div>
                        </div>
                    </div>
                    <div>
                        {% for tag in article.tags %}
                        <span class="badge bg-tag-{{tag.type}}">{{tag.name}}</span>
                        {% endfor %}
                    </div>
                </div>
{#            </div>#}
        </div>
        {% endfor %}

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!-- <div class="slick-carousel" id="active-article-list">
        {% for article in active_article %}
        <div class="carousel-item" style="width:30%;min-width:300px;">
            <div style="height:140px;"  class="d-flex flex-column active-article-item w-100" onclick="location.href='{% url 'community:article-view' article.id %}'" >
                <div id="recruit-team-info" class="d-flex flex-row border w-100">
                    <div id="recruit-team-info-image">
                        <img src="{{article.team.image.url}}" alt="team-image">
                    </div>
                    <div class="d-flex flex-column border w-100" style="flex:1;max-width:100%;">
                        <div class="active-article-item-team-name fw-bold w-100">{{ article.team.name }} </div>
                        <br>
                        <div class="active-article-item-team-desc w-100" style="flex:1;maxs-width:100%;" >{{ article.team.description }}</div>
                    </div>
                </div>
                <div >
                    {% for tag in article.tags %}
                    <span class="badge bg-tag-{{tag.type}}">{{tag.name}}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div> -->
{% endif %}
</div>