<div id="article-list-footer" class="d-flex justify-content-between mt-3">
    <div>
        <div class="input-group" id="search-field">
            {% if board and board.name != "User" %}
            <input type="text" class="form-control" placeholder="제목/본문" id="search-keyword" aria-describedby="search-btn">
            {% else %}
            <input type="text" class="form-control" placeholder="Username" id="search-keyword" aria-describedby="search-btn">
            {% endif %}
            <button class="btn btn-outline-secondary" type="button" id="search-btn">검색</button>
        </div>
    </div>
    <div id="article-list-pagination">
        <div id="pagination-body">
        </div>
    </div>
    <script>
        var MAX_PAGE = 1;
        var now_page = 1;

        function page_item(page, href) {
            if(page == now_page){
                return $('<div></div>').addClass('page-item').addClass('active').append(
                    $('<a></a>').addClass('page-link').addClass('m-auto').attr('href', '#').attr('value', page).html(page)
                )
            }
            return $('<div></div>').addClass('page-item').append(
                $('<a></a>').addClass('page-link').addClass('m-auto').attr('href', '#').attr('value', page).html(page)
            )
        }

        function draw_page() {
            var page_body = $('#pagination-body');
            page_body.empty();
            if(now_page != 1) {
                page_body.append(page_item('<i class="bi-chevron-double-left">'));
                page_body.append(page_item('<i class="bi-chevron-left">'));
            }
            else{
                page_body.append(page_item('<i class="bi-chevron-double-left">').addClass('disabled'));
                page_body.append(page_item('<i class="bi-chevron-left">').addClass('disabled'));
            }
            var left_limit = Math.max(1, now_page - 2);
            var right_limit = Math.min(MAX_PAGE, now_page + 2);
            if(right_limit - left_limit < 5){
                if(now_page - left_limit < 2){
                    right_limit = Math.min(MAX_PAGE, right_limit + 2 - (now_page - left_limit));
                }
                if(right_limit - now_page < 2){
                    left_limit = Math.max(1, left_limit - (2 - (right_limit - now_page)));
                }
            }
            for(i = left_limit; i <= right_limit; i++){
                page_body.append(page_item(i));
            }
            if(now_page < MAX_PAGE) {
                page_body.append(page_item('<i class="bi-chevron-right">'));
                page_body.append(page_item('<i class="bi-chevron-double-right">'));
            }
            else{
                page_body.append(page_item('<i class="bi-chevron-right">').addClass('disabled'));
                page_body.append(page_item('<i class="bi-chevron-double-right">').addClass('disabled'));
            }
            $('.page-link').click(function(){
                var val = $(this).attr('value');
                if(isNaN(val)){
                    console.log('Special');
                    special_code = $(val).attr('class');
                    if(special_code == 'bi-chevron-left'){
                        now_page -= 1;
                    }
                    if(special_code == 'bi-chevron-double-left'){
                        now_page = 1;
                    }
                    if(special_code == 'bi-chevron-right'){
                        now_page += 1
                    }
                    if(special_code == 'bi-chevron-double-right'){
                        now_page = MAX_PAGE;
                    }
                }
                else{
                    now_page = Number(val);
                }
                redraw();
            })
        }
        function redraw(){
            var tag_list = []
            for(tag of $('#tag-filter').find('.ss-value-text')){
                tag_list.push($(tag).html())
            }

            var team_li = [];
            $('#team-filter').children().each(function(){
                if($(this).hasClass('bg-gray')){
                    {#console.log($(this).val())#}
                    team_li.push($(this).attr('value'));
                }
            });
            console.log(team_li)
            $.ajax(
                {
                    {% if board and board.name != "User" %}
                    url: "{% url 'community:Article_List' board_name=board.name board_id=board.id %}",

                    {% elif board and board.name == "User" %}
                    url: "{% url 'community:Account_Cards' %}",

                    {% endif %}

                    data: {
                        'page': now_page,
                        'keyword': $('#search-keyword').val(),
                        'tag': tag_list.join(','),
                        'team_li': JSON.stringify(team_li),
                    },
                    method: 'GET',
                    dataType: 'JSON'
                }
            ).done(function(data){
                {% if board and board.name == "User" %}
                $('#article-card-body').html(data['html']);
                {% else %}
                $('#article-list-body').html(data['html']);
                {% endif %}
                MAX_PAGE = data['max-page']
                draw_page();
            });
        }
        $('#search-btn').click(function() {
            now_page=1;
            redraw();
        });
        redraw();
    </script>
</div>