{% load static %}
<div id="team-tab" class="col-12" team-id="{{team.id}}">
    <div id="team-image-container" class="col-3" >
        <img id="team-image" src="{{ team.image.url }}" alt="team-image">
    </div>
    <div id="team-data" class="col-6">
        <div id="team-name">
            {{ team.name }}
            {% if team_admin %}
            <button id="team-update">
                <i class="bi-pencil text-white"></i>
            </button>
            {% endif %}
            {% if team_members.count == 1 or not team_admin %}
                <button id="team-out">
                    <i onclick="teamOut({{ team.id }},'{{ request.user.username }}')" class="material-icons text-white" style="font-size:16px;">
                        logout
                    </i>
                </button>
            {% endif %}

        </div>
        <div class="d-flex flex-row" style="min-height:150px;">
            <div id="team-members">
                <div id="team-members-title">
                    Members
                </div>
                <div id="team-member-list">
                    {% for member in team_members %}
                    <div class="team-member">
                        <div class="dropdown writer-dropdown" style="display:inline-block;">
                            <a class="dropdown-toggle no-icon-dropdown" style="color:white;text-decoration:underline;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{member.member.user.username}}
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/user/{{member.member.user.username}}">프로필</a></li>
                                <li><a class="dropdown-item" href="#" onclick="msgModalOpen({{ article.writer.user.id }})">메시지</a></li>
                            </ul>
                        </div>
                        {% if member.is_admin %}
                            <span class="material-icons-outlined team-admin-icon">
                                military_tech
                            </span>
                        {% endif %}
{#                        <a href="{% url 'user:profile' member.member.user.username %}" >{{member.member.user.username}}</a>#}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div id="team-info" class="d-flex flex-column" style="flex:1;overflow-y:auto;overflow-x:auto;">
                <div id="team-desc">
                    {{team.description|linebreaksbr}}
                </div>
                <div id="team-tag" class="d-flex flex-row">
                    {% for tag in team_tags %}
                    <span class="badge bg-tag-{{tag.tag.type}} me-1 team-tag" name="{{tag.tag.name}}">{{tag.tag.name}}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="team-update-modal">
</div>
<script>
    var admin_list = [];
    var tag_list = [];
    function submit_update_form(event){
        event.preventDefault();
        let isFormValid = $('#team-update-form')[0].checkValidity()
        if(!isFormValid) {
            $('#team-update-form')[0].reportValidity();
            return;
        }
        if(!confirm("저장하시겠습니까?")){
            return;
        }

        var admin_li = [];
        var member_li = [];

        $('.member-tr').each(function(index, element){
            var name = element.id.replace("member-id-","");
            var c = element.children[0].children[0].style.color;
            if (c.split(" ").join("")=="rgb(0,0,0)" || c=="black"){ admin_li.push(name);}
            member_li.push(name);
        });
        if(!admin_li.length){
            alert('admin은 1명 이상이어야 합니다.');
            return ;
        }

        var form_data = new FormData($('#team-update-form')[0]);
        form_data.append('team_id', $('#team-tab').attr('team-id'));
        form_data.append('category_tag_list', team_tag_select.selected().toString());
        form_data.append('admin_list', admin_li.toString());
        form_data.append('member_list', member_li.toString());

        $.ajax({
            url: "{% url 'team:team-update' %}",
            type: "POST",
            data: form_data,
            dataType: 'JSON',
            cache: false,
            contentType: false,
            processData: false
        }).done(function(data){
            if(data['status'] == 'fail'){
                alert(data['message'])
            }
            else{
                window.location.reload();
            }
        });
    }

    function toggleIsAdmin(member_name){
        var id = "#admin-"+member_name;

        var color = $(id).css('color');
        var username = $('#username').attr('val');

        if (color == "rgb(0, 0, 0)"){
            if(member_name==username){
                if(!confirm('본인을 admin에서 해제하시겠습니까?')){
                    return;
                }
            }
            $(id).css('color', "rgb(205,205,205)");
        }
        else{
            $(id).css('color',"rgb(0,0,0)");
        }
    }
    function removeMember(member_name){
        var username = $('#username').attr('val');
        var id = "#member-id-"+member_name;
        if(confirm(member_name+"을 삭제하시겠습니까?")){
            if(member_name==username){
                alert('자기 자신은 삭제할 수 없습니다.\n 팀을 탈퇴하려면 탈퇴 버튼을 이용해주세요.');
                return;
            }
            $(id).remove();
        }
    }
    function teamOut(team_id, username){
        if(!confirm("팀을 탈퇴하시겠습니까?")){
            return;
        }

        ajax_form_data=new FormData();
        ajax_form_data.append('team_id',team_id);
        ajax_form_data.append('username',username);
        ajax_form_data.append('csrfmiddlewaretoken', csrftoken);

        $.ajax({
            type: "POST",
            url: "{% url 'team:team-out' %}",
            data: ajax_form_data,
            dataType: 'json',
            processData: false,
            contentType: false,

            success: function(data) {
                if(data['status']=="success"){
                    alert('탈퇴가 완료되었습니다.');
                    window.location.href = "{% url 'community:Community-Main' %}";
                }
                else{
                    alert( data['message'] );
                }
            },
            error: function(data){
                alert('Error Occured');
            }
        });
    }
    $().ready(function () {
        $('#team-update').click(function () {
            $('.team-tag').each(function(){
                tag_list.push($(this).attr('name'))
            });
            $.ajax({
                url: "{% url 'team:team-update' %}",
                type: "GET",
                data: {
                    team_id: $('#team-tab').attr('team-id')
                },
                dataType: 'HTML'
            }).done(function(data){
                $('#team-update-modal').html(data);
                $('#team-update-modal').modal('show');
                team_tag_select = new SlimSelect({
                    select: 'select#team-tag',
                    onChange: (selected_list) => {
                        for (selected of selected_list) {
                            $(`.ss-value[data-id="${selected.id}"]`).addClass('bg-' + selected.class)
                        }
                    },
                    placeholder: '태그',
                });
                team_tag_select.set(tag_list);
                var members_initial = $('#members-list').html();
                $('#refresh-members').click(function(){
                    $('#members-list').html(members_initial);
                });
                admin_list = [];
                $('#team-update-submit').click(function(){
                    var desc_length = $('textarea[name="team-desc"]').val().length
                    if((desc_length<30) && (desc_length>150)){
                        alert('팀 설명은 30자 이상 150자 이하여야합니다.\n현재 ' + desc_length + '자 입니다.');
                        return;
                    }
                    $("#team-update-form").submit();
                }
                );
            })
        });
    });
</script>