{% load static %}
<div id="teamTab" class="d-flex flex-wrap text-white" team-id="{{team.id}}">
    <div class="flex-harf border-end">
        <div class="d-flex justify-content-between pe-3">
            <div id="team-image-container" class="rounded-3 mx-2 p-2">
                <img class="w-100 h-100 rounded-3" src="{{ team.image.url }}" alt="team-image">
            </div>
            <div class="w-50">
                <div class="fs-3 mb-2">
                    {{ team.name }}
                    {% if team_admin %}
                    <i id="teamUpdate" class="bi-pencil hover-opacity fs-5"></i>
                    {% endif %}
                    {% if team_members.count == 1 or not team_admin %}
                    <i class="material-icons fs-6 hover-opacity" onclick="teamOut({{ team.id }},'{{ request.user.username }}');">logout</i>
                    {% endif %}
                </div>
                <div>
                    <div class="d-flex justify-content-between mb-2 fs-6">
                        <div>
                            <span>Members</span>
                            <i class="bi bi-person-plus-fill hover-opacity px-1" onclick="inviteTeamModalOpen(-1, {{ team.id }})"></i>
                        </div>
                        <button type="button" class="btn btn-sm btn-outline-light fs-8" 
                        onclick="location.href='{% url "community:article-save" board_name="팀 모집" board_id=2 %}?team_id={{team.id}}'">모집글작성</button>
                    </div>
                    <div id="teamMemberList">
                        {% for member in team_members %}
                        <div>
                            <div class="dropdown dropdown-toggle no-icon-dropdown hover-opacity mb-1 me-2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% if member.is_admin %}
                                <span class="text-decoration-underline fs-7">{{member.member.user.username}}</span><i class="material-icons-outlined team-admin-icon fs-7">military_tech</i>
                                {% else %}
                                <span class="text-decoration-underline fs-7">{{member.member.user.username}}</span>
                                {% endif %}
                            </div>
                            <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/user/{{member.member.user.username}}">프로필</a></li>
                            <li><a class="dropdown-item" href="#" onclick="msgModalOpen({{ article.writer.user.id }})">메시지</a></li>
                            </ul>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column flex-harf mt-2 ms-3 overflow-y-auto">
        <div class="text-break">
            {{team.description|linebreaksbr}}
        </div>
        <div id="team-tag" class="d-flex flex-wrap">
            {% for tag in team_tags %}
            <span name="{{tag.name}}" class="badge bg-tag-{{tag.type}} m-1 mteam-tag">{{tag.name}}</span>
            {% endfor %}
        </div>
    </div>
</div>
<div id="teamUpdateModal" class="modal modal-lg fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">팀 정보 수정</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="teamUpdateModalBody" class="modal-body">
                <div class="spinner-border my-5" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" id="teamUpdateSubmit" class="btn btn-primary">저장</button>
            </div>
        </div>
    </div>
</div>

<script>
    var admin_list = [];
    var tag_list = [];
    function submit_update_form(event){
        event.preventDefault();
        $('#teamUpdateSubmit').prop('disabled', true);
        const updateForm = $('#team-update-form');
        let isFormValid = updateForm[0].checkValidity()
        if(!isFormValid) {
            updateForm[0].reportValidity();
            $('#teamUpdateSubmit').prop('disabled', false);
            return;
        }
        if(!confirm("저장하시겠습니까?")){
            $('#teamUpdateSubmit').prop('disabled', false);
            return;
        }

        var admin_li = [];
        var member_li = [];
        const regex = /(icon\-normal\-user)/;

        $('.member-tr').each(function(index, element){
            var name = element.id.replace("member-id-","");
            var classVal = element.children[0].classList.value;
            var isMember = classVal.search(regex);
            if (isMember == -1){ admin_li.push(name);}
            member_li.push(name);
        });
        console.log("updateform validation", admin_li.length);
        if(!admin_li.length){
            console.log("updateform validation2", admin_li.length);
            updateForm.find(`[data-name=member`).addClass('is-invalid');
            updateForm.find(`.invalid-feedback[data-feedback-type=team-member]`).html('admin은 1명 이상이어야 합니다.');
            $('#teamUpdateSubmit').prop('disabled', false);
            return ;
        }

        const form_data = new FormData(updateForm[0]);
        form_data.append('team_id', $('#teamTab').attr('team-id'));
        form_data.append('category_tag_list', team_tag_select.selected().toString());
        form_data.append('admin_list', admin_li.toString());
        form_data.append('member_list', member_li.toString());

        $.ajax({
            url: "{% url 'team:team-update' %}",
            type: "POST",
            data: form_data,
            dataType: 'JSON',
            cache: false,
            contentType: false,
            processData: false
        }).done(function(data){
            console.log("data", data);
            if(data['status'] == 'fail'){
                $('input').removeClass('is-invalid');
                updateForm.find('.invalid-feedback').html("");
                for (const [field, errors] of Object.entries(data.errors)) {
                    console.log(field, errors);
                    if(updateForm.find(`[name=${field}`).length > 0){
                        updateForm.find(`[name=${field}`).addClass('is-invalid');
                        updateForm.find(`.invalid-feedback[data-feedback-type=team-${field}`).html(errors);
                    }else{
                        alert(data['message']);
                    }
                }
            }
            else{
                window.location.href = data['redirect'];
            }
            $('#teamUpdateSubmit').prop('disabled', false);
        }).fail(function (data) {
            alert(data['message']);
            $('#teamUpdateSubmit').prop('disabled', false);
        });;
    }

    function toggleIsAdmin(member_name){
        var id = "#admin-"+member_name;
        var classVal = $(id)[0].classList.value;
        var regex = /(icon\-normal\-user)/;
        var isMember = classVal.search(regex);
        var username = $('#username').val();
        // 멤버라면 클래스 제거해서 디폴트 색으로 변경
        if(isMember > -1){
            $(id).removeClass("icon-normal-user");
        }
        else
        {
            if(member_name==username){
                if(!confirm('본인을 admin에서 해제하시겠습니까?')){
                    return;
                }
            }
            $(id).addClass("icon-normal-user");
        }
        $('#refreshMembers').addClass("show");
    }
    function removeMember(member_name){
        var username = $('#username').val();
        var id = "#member-id-"+member_name;
        if(confirm(member_name+"을 내보내시겠습니까?")){
            if(member_name==username){
                alert('자기 자신은 삭제할 수 없습니다.\n 팀을 탈퇴하려면 탈퇴 버튼을 이용해주세요.');
                return;
            }
            $(id).remove();
        }
        $('#refreshMembers').addClass("show");
    }
    function teamOut(team_id, username){
        if(!confirm("팀을 탈퇴하시겠습니까?")){
            return;
        }

        ajax_form_data=new FormData();
        ajax_form_data.append('team_id',team_id);
        ajax_form_data.append('username',username);
        ajax_form_data.append('csrfmiddlewaretoken', csrftoken);

        $.ajax({
            type: "POST",
            url: "{% url 'team:team-out' %}",
            data: ajax_form_data,
            dataType: 'json',
            processData: false,
            contentType: false,

            success: function(data) {
                if(data['status']=="success"){
                    alert('탈퇴가 완료되었습니다.');
                    window.location.href = "{% url 'community:main' %}";
                }
                else{
                    alert( data['message'] );
                }
            },
            error: function(data){
                alert('Error Occured');
            }
        });
    }
    $().ready(function () {
        $('#teamUpdate').click(function () {
            $('.team-tag').each(function(){
                tag_list.push($(this).attr('name'))
            });
            $.ajax({
                url: "{% url 'team:team-update' %}",
                type: "GET",
                data: {
                    team_id: $('#teamTab').attr('team-id')
                },
                dataType: 'HTML'
            }).done(function(data){
                $('#teamUpdateModalBody').html(data);
                $('#teamUpdateModal').modal('show');
                team_tag_select = new SlimSelect({
                    select: 'select#team-tag',
                    onChange: (selected_list) => {
                        for (let selected of selected_list) {
                            $(`.ss-value[data-id="${selected.id}"]`).addClass('bg-' + selected.class)
                        }
                    },
                    placeholder: '태그',
                });
                team_tag_select.set(tag_list);
                var members_initial = $('#membersList').html();
                $('#refreshMembers').click(function(){
                    $('#membersList').html(members_initial);
                    $('#refreshMembers').removeClass("show");
                });
                admin_list = [];
                $('#teamUpdateSubmit').click(function(){
                    $("#team-update-form").submit();
                }
                );
            })
        });
    });
</script>
