<!DOCTYPE html>
<html lang="ko">
{% extends 'main.html' %}

{% load static %}
{% load tag_templatetag %}
{% load community_tag %}
{% block content %}
<div class="container my-4">
  <div id="community-container" class="row">
    {% include "community/sidebar.html" %}
    <div class="col-md-9">

      <div class="d-flex justify-content-between border" id="board-title-bar" style="position:relative;">
            <div id="board-title">
              <a href="/community/home/{{board.name}}/{{board.id}}">
                {{ board.name }} 게시판
                </a>
            </div>
            <div class="my-auto col-3" id="tag-filter" style="position:absolute; right:15px;">
              <select style="min-width: 25%;" id="tag-select" name="tag-filter-select" multiple>
                {% category_tag request %}
              </select>
            </div>
      </div>
        <div class="w-100 border d-flex flex-row flex-wrap">
            {% get_admin_team request.user as teams %}
            {% for team in teams %}
                <button id="filter-{{ team.name }}" onclick="teamFilterBtn('{{ team.name }}')" style="border: 1px solid black;padding:5px 10px 5px 10px;font-size:14px;border-radius:10px;margin-right:7px;" class="opacity-hover">{{ team.name }} 추천<i class="bi bi-check2" style="font-size:15px;padding-left:3px;"></i></button>
            {% endfor %}
        </div>
      <div id="article-card-body">
        {% include "community/account-card.html" %}
      </div>
      {% include "community/board/board-footer.html" with board=board %}
    </div>
  </div>
</div>
{% endblock content %}
{% block script %}
<script>
  $(function () {
    var tag_selector = new SlimSelect({
      select: '#tag-select',
      onChange: (selected_list) => {
        for (selected of selected_list) {
          $(`.ss-value[data-id="${selected.id}"]`).addClass('bg-' + selected.class)
        }
        redraw();
      },
      placeholder: 'Tag',
    });
  });
  function teamFilterBtn(team_name){
      var id = "#filter-"+team_name;
      $(id).css('background','none');
  }



</script>
<link rel="stylesheet" type="text/css" href="{% static 'css/community-base.css' %}">
{% endblock script %}

</html>