{% load tag_templatetag %}
<div class="d-flex justify-content-between shadow-box rounded-2">
    <div id="search-field" class="input-group">
        <input type="text" id="search-username" class="form-control" placeholder="Username" aria-describedby="search-btn">
        <input type="hidden" class="form-control" id="user-board" value="user" aria-describedby="search-btn">
        <button type="button" id="user-tag-btn" class="btn btn-light" onclick="toggleUserTag();">#</button>
        <button type="button" id="user-search-btn" class="btn btn-light">검색</button>
    </div>
</div>
<div id="user-tag-filter">
    <select id="tag-select" name="tag-filter-select" multiple>
        {% category_tag request %}
    </select>
</div>
