<!DOCTYPE html>
<html lang="ko">
{% extends 'main.html' %}

{% load static %}
{% load tag_templatetag %}
{% block content %}
<div class="container my-4">
  <div style="height: 42px;"></div>
  <div id="community-container" class="row">
    {% include "community/sidebar.html" %}
    <div class="col-md-9">
      <div class="d-flex justify-content-between" id="board-title-bar">
        <div style="width: 15rem;"></div>
        <div id="board-title">
          <a href="/community/home/{{board.name}}/{{board.id}}">
            {{ board.name }} 게시판
        </a>
        </div>
        <div class="my-auto" id="tag-filter">
          <select id="tag-select" name="tag-filter-select" multiple>
            {% category_tag request %}
          </select>
        </div>
      </div>
      <div id="article-card-body">
        {% include "community/account-card.html" %}
      </div>
      {% include "community/board/board-footer.html" with board=board %}
    </div>
  </div>
</div>
{% endblock content %}
{% block script %}
<script>
  $(function () {
    var tag_selector = new SlimSelect({
      select: '#tag-select',
      onChange: (selected_list) => {
        for (selected of selected_list) {
          $(`.ss-value[data-id="${selected.id}"]`).addClass('bg-' + selected.class)
        }
        redraw();
      },
      placeholder: 'Tag',
    })
  });
</script>
<link rel="stylesheet" type="text/css" href="{% static 'css/community-base.css' %}">
{% endblock script %}

</html>