{% extends 'main.html' %}

{% load static %}
{% load tag_templatetag %}
{% load community_tag %}
{% load team_tag %}
{% block content %}
<div class="container my-4">
    <div class="w-100" style="height:42px;"></div>
  <div id="community-container" class="row">
    {% include "community/sidebar.html" %}
    <div class="col-md-9">
      <div id="board-title-bar" class="d-flex justify-content-between">
        <div id="board-title">
          <a href="/community/recommender/user/">
            맞춤 유저 추천
          </a>
        </div>
        <div id="user-filter">
          {% include "community/board/user-searcher.html" with board=board %}
        </div>
      </div>
      {% if user.is_authenticated %}
      <!-- 팀 목록이 표시되는 영역 -->
      <div id="team-filter" class="w-100 border d-flex flex-wrap gap-2 fs-7">
        {% get_team request.user as teams %}
        {% for team in teams %}
          <button type="button" id="filter-{{ team.id }}" class="btn-filter hover-opacity bg-gray" onclick="teamFilterBtn(event);" value="{{ team.id }}">
            {{ team.name }} 추천<i class="bi bi-check2 fs-6 ps-1"></i>
          </button>
        {% endfor %}
      </div>
      <!-- 팀원 추천 목록이 표시되는 영역 -->
      <div id="article-card-body" class="d-flex flex-wrap">
        <div class="spinner-border m-auto mt-5" role="status"></div>
      </div>
      {% include "community/board/board-footer.html" with board=board %}
      {% else %}
      <div class="m-2">
        로그인이 필요한 서비스입니다. <a href="/accounts/login/">바로가기</a>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
{% block script %}
<script>
  function teamFilterBtn(e){
      var id = e.target.id;
      var obj = $("#"+id);
      obj.toggleClass('bg-gray');
      redraw(to_page_1=1);
  }
</script>
<script type="text/javascript" src="{% static 'js/community_base.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'css/community-base.css' %}">
{% endblock script %}
