{% load community_tag %}

{% for article in article_list %}
<div class="article-bar">
    <div class="article-head flex-grow-1" onclick="location.href='{% url 'community:article-view' article.id %}'">
        <div class="article-bar-title my-1">
            <div class="flex-grow" style="overflow:hidden; white-space:nowrap; text-overflow:ellipsis;">
                {% if board.board_type == 'Recruit' %}
                    {% if article.team %}
                    [{{ article.team.name }}]
                    {% else %}
                    [삭제된 팀]
                    {% endif %}
                {% endif %}
                {{article.title}}
            </div>
        </div>
    </div>
    {% if board.board_type == 'Recruit' %}
    <div class="recruit-status">
    {% is_period_end article.period_start as is_start %}
    {% is_period_end article.period_end as is_end %}
        {% if not article.team %}
        {% elif not is_start %}
        <div class="badge tag-recruit tag-recruit-end">모집 전</div>
        {% elif not is_end %}
        <div class="badge tag-recruit tag-recruit-ing">모집 중</div>
        {% else %}
        <div class="badge tag-recruit tag-recruit-end">모집 마감</div>
        {% endif %}
    </div>
    {% else %}
    <div class="article-meta">
        <div class="d-flex justify-content-between">
            <div class="article-meta-stat d-flex">
                <div class="article-meta-stat-icon material-icons-outlined">thumb_up</div>
                <div>{{article.like_cnt}}</div>
            </div>
            <div class="article-meta-stat d-flex" role="button" onclick="location.href='{% url 'community:article-view' article.id %}#comment-content'">
                <div class="article-meta-stat-icon material-icons-outlined">textsms</div>
                <div>{{article.comment_cnt}}</div>
            </div>
            <div class="article-meta-stat d-flex">
                <div class="article-meta-stat-icon material-icons-outlined">bookmark_border</div>
                {{article.scrap_cnt}}
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% if comment_visible %}
<div class="d-flex article-bar-comment" style="padding-bottom: 0.2rem;">
    {% if article.comment %}
    <i class="bi bi-arrow-return-right me-1"></i>
    <div>
        {{article.comment.body}}
    </div>
    <div class="ms-auto">
        {% if request.user.is_anonymous %}
        <span>사용자</span>
        {% elif article.comment.anonymous_writer %}
        <span>익명</span>
        {% else %}
        <a href="/user/{{article.comment.writer.user.username}}">{{article.comment.writer.user.username}}</a>
        {% endif %}
    </div>
    <div class="d-flex">
        <div class="article-meta-stat-icon material-icons-outlined">thumb_up</div>
        <div>
            {{article.comment.like_cnt}}
        </div>
    </div>
    {% else %}
    <div class="m-auto color-b">댓글이 없습니다</div>
    {% endif %}
</div>
{% endif %}
{% empty %}
<div class="article-bar empty">
    등록된 글이 없습니다.
</div>
{% endfor %}
