{% load community_tag %}
{% load user_templatetag %}
{% load static %}
<div class="col-md-3 col-12" id="community-sidebar">
    <div id="profile-tab" class="w-100">
        <div class="m-auto user-info">
            {% if user.is_authenticated %}
            <a href="/user/{{user}}">
                <img src="{{user|user_profile_image_url}}" class="profile-img" alt="profile-image">
            </a>
            {% else %}
            <a href="/accounts/login">
                <img src="/static/images/empty-profile.png" class="profile-img" alt="Log-In" style="background-color: #FFFFFF;">
            </a>
            {% endif %}
        </div>
        <div id="profile-sum">
            {% if user.is_authenticated %}
            <div id="profile-username">
                <a href="/user/{{user.username}}">{{user.username}}</a>
            </div>
            {% else %}
            <div id="profile-username">
                <a href="/accounts/login">Log In</a>
            </div>
            {% endif %}
        </div>
        {% if user.is_authenticated %}
        <div id="manage-tab" class="d-flex flex-column flex-wrap justify-content-center">
            <div id="my-activity" class="hover-opacity" onclick="location.href='/community/activity'">
                <span class="material-icons">
                    collections_bookmark
                </span>
                내 활동 목록
            </div>
            <div id="team-apply-list" class="hover-opacity">
                <span class="material-icons" >
                assignment_ind
                </span>
                지원서 목록
            </div>
        </div>
        {% endif %}
    </div>
    <div id="community-tab" class="w-100">
        <div id="normal-boardgroup" class="boardgroup-title">
            <a href="/community">
                게시판
            </a>
        </div>
        {% board_sidebar_normal_board request %}
        {% if user.is_authenticated %}
        <div id="team-boardgroup" class="boardgroup-title d-flex justify-content-between">
            <div>팀 게시판</div>
            <div id="team-create">
                <span class="material-icons">
                    group_add
                </span>
            </div>
        </div>
        {% board_sidebar_team_board request %}
{#        {% board_sidebar_invite_team_board request %}#}
        {% endif %}
    </div>

    {% if user.is_authenticated %}
    <div class="modal modal-lg fade" id="AddTeamModal">
    </div>
    <div class="modal modal-lg fade" id="InviteTeamModal">
    </div>
    {% endif %}
    <script src="{% static 'js/community_sidebar.js' %}"></script>

</div>