{% load community_tag %}
{% load user_templatetag %}
{% load static %}
<div class="col-md-3 col-12" id="community-sidebar">
    <div id="profile-tab" class="w-100">
        <div id="profile-image-wrap" class="m-auto">
            <a href="/user/{{user}}">
                <img src="{{user|user_profile_image_url}}" id="profile-image" alt="profile-image">
            </a>
        </div>
        <div id="profile-sum">
            {% if user.is_authenticated %}
            <div id="profile-username">
                <a href="/user/{{user.username}}">{{user.username}}</a>
            </div>
            {% else %}
            {% endif %}
        </div>
        {% if user.is_authenticated %}
        <div id="manage-tab" class="d-flex flex-column flex-wrap justify-content-center">
            <div id="my-activity" onclick="location.href='/community/activity'">
                <span class="material-icons">
                    collections_bookmark
                </span>
                내 활동 목록
            </div>
            <div id="team-apply-list">
                <span class="material-icons" >
                assignment_ind
                </span>
                지원서 목록
            </div>
        </div>
        {% endif %}
    </div>
    <div id="community-tab" class="w-100">
        <div id="normal-boardgroup" class="boardgroup-title">
            <a href="/community">
                게시판
            </a>
        </div>
        {% board_sidebar_normal_board request %}
        {% if user.is_authenticated %}
        <div id="team-boardgroup" class="boardgroup-title d-flex justify-content-between">
            <div>팀 게시판</div>
            <div id="team-create">
                <span class="material-icons">
                    group_add
                </span>
            </div>
        </div>
        {% board_sidebar_team_board request %}
        {% endif %}
    </div>

    {% if user.is_authenticated %}
    <div class="modal fade" id="AddTeamModal">
    </div>
    <div class="modal fade" id="ApplyTeamModal">
    </div>
    <script src="{% static 'js/community_sidebar.js' %}"></script>
    {% endif %}
</div>