@media (max-width: 450px) {
  .article-bar {
    display: block !important;
  }
  .article-bar-meta,
  .article-bar-recruit-status {
    float: right;
  }
  .article-bar-after-meta {
    clear: both !important;
  }
  #article-recruit-bar {
    display: flex !important;
  }
  .main-board {
    height: 430px !important;
  }
}

@media screen and (max-width: 767px) {
  .community-sidebar {
    width: 50px !important;
    padding-right: 0 !important;
  }
  .sidebar-profile-img {
    width: 22px;
    height: 22px;
    border: 0 !important;
  }
  #sidebar-user-info > a > span,
  .sidebar-boardgroup-title,
  .sidebar-boardgroup-item > a > span {
    display: none !important;
  }
  .community-container {
    display: flex !important;
  }
  .community-main {
    width: calc(100% - 50px) !important;
  }
}

.community-main {
  margin-bottom: 50px;
}

.p-community-main {
  padding: 6px 12px;
  vertical-align: middle;
  font-size: 20px;
}

.community-main-title {
  max-width: 100%;
  height: 60px;

  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  border-radius: 0.625rem;

  font-size: 24px;
  font-weight: bold;
  color: white;

  background-color: #002743;

  justify-content: center;
  margin-bottom: 10px;
  padding: 0.55rem;
}

.boards-card {
  max-width: 100%;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  padding: auto;
}

.main-board {
  height: 300px;
}

.main-board-head {
  border-width: 0 0 3px 0;
  border-style: solid;
  border-color: #002743;
  padding-bottom: 10px;
  margin: 0 10px 0 10px;
}

.main-board-title {
  font-size: 24px;
  font-weight: bold;
}

.main-board-more {
  display: flex;
  font-size: 12px;
  align-items: end;
}

.main-board-more:hover {
  text-decoration: underline;
  cursor: pointer;
}

.article-list-section {
  margin: 0 10px 0 10px;
}

.article-bar-head {
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.article-bar {
  min-height: 20px;
  display: flex;
  justify-content: center;
  background-color: var(--main-white);
  border-top: 1px solid var(--main-border-color);
  padding: 0.25rem;
}

.article-bar-title {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 0.25rem;
}

.article-bar-writer {
  color: #0094ff;
  text-decoration: underline;
}

.article-bar-meta {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  color: var(--main-black);
}

.article-bar-meta-stat {
  margin-left: 0.25em;
  margin-right: 0.25em;
  text-align: center;
  color: #2f2f2f;
}

.article-bar-meta-icon {
  height: 14px;
  margin-top: 5px;
  margin-right: 3px;
}

.article-bar-recruit-status {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-bottom: 0.25rem;
  margin-left: auto;
}

.article-bar-tag-recruit {
  font-size: 0.75rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.article-bar-tag-recruit-ing {
  background: var(--tag-bg-recruit) !important;
  color: var(--sub-point-color) !important;
}

.article-bar-tag-recruit-end {
  background: var(--main-border-color) !important;
  color: var(--main-black) !important;
}

/* sidebar */
.community-sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar-profile-tab {
  width: 100%;
  background: var(--main-point-color);
  box-shadow: 0 0.25rem 0.25rem var(--card-box-shadow);
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
}

#sidebar-user-info {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

#sidebar-user-info > a {
  text-decoration: none;
}

#sidebar-user-info .sidebar-profile-img {
  border-radius: 50%;
  object-fit: cover;
  background-color: var(--main-white);
  border: 2px solid var(--main-point-color);
  box-sizing: border-box;
  margin-right: 10px;
}

#sidebar-profile-username {
  font-size: 20px;
  color: var(--main-white);
  vertical-align: middle;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

#sidebar-community-tab {
  box-shadow: 0 4px 4px var(--card-box-shadow);
  margin-bottom: 20px;
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
}

#sidebar-community-tab > div:last-child {
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
}

#sidebar-community-tab > div:last-child > div:last-child {
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
}

.sidebar-boardgroup-title {
  display: flex;
  justify-content: space-between;
  padding: 0;
  font-size: 16px !important;
  background-color: var(--main-bg-color);
  border-top: 1px solid var(--main-border-color);
  text-align: left;
  padding: 0.5rem;
}

.sidebar-boardgroup-title > a {
  text-decoration: none;
}

.sidebar-boardgroup-title > a:hover {
  color: blue;
}

.sidebar-boardgroup-title > * {
  color: var(--main-black);
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
}

.sidebar-boardgroup-item {
  display: flex;
  justify-content: start;
  font-style: normal;
  font-size: 16px !important;
  background: var(--main-white);
  border-top: 1px solid var(--main-border-color);
}

.sidebar-boardgroup-item > a {
  color: var(--main-black);
  display: flex;
  column-gap: 0.5rem;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  vertical-align: middle;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
}

.sidebar-boardgroup-item.selected > a {
  color: var(--sub-point-color);
  font-weight: 600;
}

.hover-opacity {
  cursor: pointer;
}

.hover-opacity:hover {
  opacity: 0.5;
}
