.modalTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1px;
}

.modalBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
