.weakText {
  color: var(--gray-600);
  font-size: 14px;
}
.weakText a {
  color: var(--gray-600);
  text-decoration: none;
}
.weakText a:hover {
  color: var(--main-selected-color);
}

.signinBtn {
  margin-bottom: 0.5rem;
  background-color: #072a60;
}
