{% load static %}
{% load tag_templatetag %}


{% block content %}
<div>
    {% for row in data.ints %}
        <button type="submit" class="btn btn-secondary" name="action" value="delete {{row.tag.name}}">
            <span class="badge bg-tag-{{row.tag.type}} me-1" style="height:20px; margin-bottom:5px">{{row.tag.name}}</span>
            <span class="badge badge-light">x</span>
        </button>
    {% endfor %}
</div>
<div class="row">
    <div class="col">
        <div class="col-md-12 mb-3">
            <label for="interestDomain" class="form-label">관심분야</label>
            <select name="interestDomain" id="interestDomain">
                {% category_tag_domain request %}
            </select>
        </div>   
    </div>

    <div class="col">
        <div class="col-md-12 mb-3">
            <button type="submit" class="btn btn-secondary" name="action" value="append_ints">추가</button>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    var category_select
    $(document).ready(function(){
        category_select = new SlimSelect({
        select: '#interestDomain'
        })
    });
</script>
{% endblock %}