{% load static %}


<input type="checkbox" class="btn-check" id="btn-check-interest1" autocomplete="off">
<label class="btn btn-outline-primary m-1" for="btn-check-interest1">Interest 1</label>

<input type="checkbox" class="btn-check" id="btn-check-interest2" autocomplete="off">
<label class="btn btn-outline-primary m-1" for="btn-check-interest2">Interest 22</label>

<input type="checkbox" class="btn-check" id="btn-check-interest3" autocomplete="off">
<label class="btn btn-outline-primary m-1" for="btn-check-interest3">Interest 333</label>

<input type="checkbox" class="btn-check" id="btn-check-interest4" autocomplete="off">
<label class="btn btn-outline-primary m-1" for="btn-check-interest4">Interest 4444</label>

<input type="checkbox" class="btn-check" id="btn-check-interest5" autocomplete="off">
<label class="btn btn-outline-primary m-1" for="btn-check-interest5">Interest 55555</label>

<input type="checkbox" class="btn-check" id="btn-check-interest6" autocomplete="off">
<label class="btn btn-outline-primary m-1" for="btn-check-interest6">Interest 666666</label>