{% load static %}
{% load tag_templatetag %}


{% block content %}

<div class="row">
    <div class="col">
        <div class="col-md-12 mb-3">
            <select name="interestDomain" id="interestDomain">
                <option data-placeholder="true"></option>
                {% category_tag_domain request %}
            </select>
        </div>   
    </div>

    <div class="col">
        <div class="col-md-12 mb-3">
            <input id='intsappend' class="appendbtn" type="button" value="+" name="action" onclick="intsAppend(); return false;">
        </div>
    </div>
</div>
<h5 style="font-size: 9pt; color:darkgrey">클릭하면 삭제됩니다.</h5>
<div id='interestsdiv'>
    {% for row in ints %}
    <span id="intspan_{{row.tag.name}}" style="white-space: nowrap;">
        <!--span class="badge bg-tag-{{row.tag.type}} me-1"> {{row.tag.name}}  </span-->
        <button type="submit" class="btn btn-outline-dark badge delete-domain" name="action" value="delete {{row.tag.name}}" onclick="intsDelete('{{row.tag.name}}'); return false;">{{row.tag.name}}</button>
    </span>
    {% endfor %}
</div>
{% endblock %}

{% block script %}
<script>
    var category_select
    $(document).ready(function(){
        category_select = new SlimSelect({
        select: '#interestDomain',
        placeholder: 'Tag'
        })
    });
</script>
{% endblock %}