{% load static %}
{% load tag_templatetag %}
{% block content %}
<div class="row">
    <div class="col">
        <div class="col-md-12 mb-3">
            <select name="preferLanguage" id="preferLanguage">
                <option data-placeholder="true"></option>
                {% category_tag_language request %}
            </select>
        </div>   
    </div>
    <div class="col">
        <div class="col-md-12 mb-3">
            <button type="submit" class="btn btn-primary" name="action" value="append_lang">+</button>
        </div>
    </div>
</div>
<div>
    <div class="form-group">
    {% for row in data.tags_lang %}
    <div>
        <span style="display:inline-block; width: 120px;">
            <label for="tag_{{row.tag.name}}" class="badge bg-tag-{{row.tag.type}} me-1" style="height:20px; margin-bottom:5px; ">{{row.tag.name}}</label>
        </span>
        <span class="range-wrap" style="margin-right:30px;">
            <input style="width:50%; color:#0094FF;" type="range" class="form-control-range" min="0" max="4" step="1" value ="{{row.level}}" name ="tag_{{row.tag.name}}" id="tag_{{row.tag.name}}" list="tickmarks">
            <output for="range" class="bubble" id="out_{{row.tag.name}}"></output>
        </span>
        <button type="submit" class="btn btn btn-outline-dark delete-lang" name="action" value="delete {{row.tag.name}}">
            <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 16.5C1 17.6 1.9 18.5 3 18.5H11C12.1 18.5 13 17.6 13 16.5V4.5H1V16.5ZM3 6.5H11V16.5H3V6.5ZM10.5 1.5L9.5 0.5H4.5L3.5 1.5H0V3.5H14V1.5H10.5Z" fill="#747474"/>
            </svg>
        </button>
    </div>
    <hr>
    {% endfor %}
    <datalist id="tickmarks">
        <option value="0" label="asdfafasd"></option>
        <option value="1"></option>
        <option value="2"></option>
        <option value="3"></option>
        <option value="4"></option>
        <option value="5" label="50%"></option>
        </datalist>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    var category_select
    $(document).ready(function(){
        category_select = new SlimSelect({
        select: '#preferLanguage',
        placeholder: 'Language tag'
        })
    });
</script>
<!--script>

    var contains = $('.form-control-range');
    var outputs = $('.output');
    
    function ShowSliderValue(sVal, x){
        var obValueView = $('.output')[x]
        var txt = ''
        if(sVal==0){
            txt = '초보'
        }
        else if(sVal==1){
            txt = '주니어'
        }
        else if(sVal==2){
            txt = '중급자'
        }
        else if(sVal==3){
            txt = '숙련자'
        }
        else{
            txt = '장인'
        }
        obValueView.innerHTML = txt
    }
    var RangeSlider = function(x){
        $(contains[x]).on('input', function(){
            ShowSliderValue(this.value, x);
    });};

    $(document).ready(function() {
        for(var i = 0;i<contains.length;i++){
            RangeSlider(i);
            ShowSliderValue(contains[i].value, i);
        }
    });
    
</script-->
<script>
const wraps = $('.range-wrap')
const ranges = $('.form-control-range');
const bubbles = $('.bubble');
function setBubble(range, bubble) {
  const val = range.value;
  const min = range.min ? range.min : 0;
  const max = range.max ? range.max : 100;
  const newVal = Number(((val - min) * 100) / (max - min));
  var txt = ''
        if(val==0){
            txt = '초보'
        }
        else if(val==1){
            txt = '주니어'
        }
        else if(val==2){
            txt = '중급자'
        }
        else if(val==3){
            txt = '숙련자'
        }
        else{
            txt = '장인'
        }
  bubble.innerHTML = txt;
  // Sorta magic numbers based on size of the native UI thumb
  bubble.style.left = `calc(${newVal}% + (${8 - newVal * 0.15}px))`;
}
var Wrap = function(wrap, range, bubble){
    $(range).on('input', function(){
        setBubble(range, bubble)});
}

$(document).ready(function() {
    for(var i = 0;i<wraps.length;i++){
        Wrap(wraps[i], ranges[i], bubbles[i])
        setBubble(ranges[i], bubbles[i])
    }
});






</script>

{% endblock %}