{% load static %}
{% load tag_templatetag %}
{% block content %}
<div class="row">
    <div class="col">
        <div class="col-md-12 mb-3">
            <select name="preferLanguage" id="preferLanguage">
                <option data-placeholder="true"></option>
                {% category_tag_language request %}
            </select>
        </div>   
    </div>
    <div class="col" style="max-width: 50px;">
        <div class="col-md-12 mb-3">
            <input id='langappend' class="appendbtn" type="button" value="+" name="action" value="append_lang" onclick="languageAppend(); return false;">
        </div>
    </div>
    
    <div class="col d-flex align-content-center flex-wrap" id="lang-trash-can" ondrop="drop(event)" ondragover="dragEnter(event)">
        <i class="bi bi-trash3"></i>
    </div>
</div>

<div style="margin-bottom: 20px;">
    <h5 style="font-size: 9pt; color:darkgrey">언어/기술스택 태그를 드래그하여 움직여 보세요.</h5>
</div>

<div>
    <div class="tier-row d-flex justify-content-start align-items-center">
        <div class="tier-name">
            <i class="bi bi-star-fill" style="color:#002743;"></i>
            <i class="bi bi-star-fill" style="color:#002743;"></i>
            <i class="bi bi-star-fill" style="color:#002743;"></i>
            <i class="bi bi-star-fill" style="color:#002743;"></i>
            <i class="bi bi-star-fill" style="color:#002743;"></i>
        </div>
        <div id="tier4-container"  draggable="false" class="tier-container d-flex align-content-center flex-wrap" ondrop="drop(event)" ondragover="dragEnter(event)">
            {% for row in lang_lv4 %}
            <div id="tag_{% autoescape on %}{{ row.name }}{% endautoescape %}"  draggable="true" class="lang-item" ondragstart="drag(event)">
                <div class="stack-box"  style="background-color: {{ row.color }};">
                    {% if row.logo != "default.svg"%}
                    <img class="stack-icon" src="{{row.logo}}/{{ row.fontcolor }}" alt="{{ row.name | lower }}"/>
                    {% endif %}
                    <span class="stack-name" for="tag_{{row.name}}" style="color:{{ row.fontcolor }}">{{ row.name }}</span>
                  </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<hr>
<div>
    <div class="tier-row d-flex justify-content-start align-items-center">
        <div class="tier-name">
          <i class="bi bi-star-fill" style="color:#00518C;"></i>
          <i class="bi bi-star-fill" style="color:#00518C;"></i>
          <i class="bi bi-star-fill" style="color:#00518C;"></i>
          <i class="bi bi-star-fill" style="color:#00518C;"></i>
        </div>
        <div id="tier3-container"  draggable="false" class="tier-container d-flex align-content-center flex-wrap" ondrop="drop(event)" ondragover="dragEnter(event)">
            {% for row in lang_lv3 %}
            <div id="tag_{{ row.name }}"  draggable="true" class="lang-item" ondragstart="drag(event)">
                <div class="stack-box"  style="background-color: {{ row.color }};">
                    {% if row.logo != "default.svg"%}
                    <img class="stack-icon" src="{{row.logo}}/{{ row.fontcolor }}" alt="{{ row.name | lower }}"/>
                    {% endif %}
                    <span class="stack-name" for="tag_{{row.name}}" style="color:{{ row.fontcolor }}">{{ row.name }}</span>
                  </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<hr>
<div>
    <div class="tier-row d-flex justify-content-start align-items-center">
        <div class="tier-name">
            <i class="bi bi-star-fill" style="color:#0081DF;"></i>
            <i class="bi bi-star-fill" style="color:#0081DF;"></i>
            <i class="bi bi-star-fill" style="color:#0081DF;"></i>
        </div>
        <div id="tier2-container"  draggable="false" class="tier-container d-flex align-content-center flex-wrap" ondrop="drop(event)" ondragover="dragEnter(event)">
            {% for row in lang_lv2 %}
            <div id="tag_{{ row.name }}"  draggable="true" class="lang-item" ondragstart="drag(event)">
                <div class="stack-box"  style="background-color: {{ row.color }};">
                    {% if row.logo != "default.svg"%}
                    <img class="stack-icon" src="{{row.logo}}/{{ row.fontcolor }}" alt="{{ row.name | lower }}"/>
                    {% endif %}
                    <span class="stack-name" for="tag_{{row.name}}" style="color:{{ row.fontcolor }}">{{ row.name }}</span>
                  </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<hr>
<div>
    <div class="tier-row d-flex justify-content-start align-items-center">
        <div class="tier-name">
            <i class="bi bi-star-fill" style="color:#51B5FF;"></i>            
            <i class="bi bi-star-fill" style="color:#51B5FF;"></i>
        </div>
        <div id="tier1-container" draggable="false" class="tier-container d-flex align-content-center flex-wrap" ondrop="drop(event)" ondragover="dragEnter(event)">
            {% for row in lang_lv1 %}
            <div id="tag_{{ row.name }}" draggable="true" class="lang-item"  ondragstart="drag(event)">
                <div class="stack-box"  style="background-color: {{ row.color }};">
                    {% if row.logo != "default.svg"%}
                    <img class="stack-icon" src="{{row.logo}}/{{ row.fontcolor }}" alt="{{ row.name | lower }}"/>
                    {% endif %}
                    <span class="stack-name" for="tag_{{row.name}}" style="color:{{ row.fontcolor }}">{{ row.name }}</span>
                  </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<hr>
<div>
    <div class="tier-row d-flex justify-content-start align-items-center">
        <div class="tier-name">
            <i class="bi bi-star-fill" style="color:#B5DFFF;"></i>  
        </div>
        <div id="tier0-container" draggable="false" class="tier-container d-flex align-content-center flex-wrap" ondrop="drop(event)" ondragover="dragEnter(event)">
            {% for row in lang_lv0 %}
            <div id="tag_{{ row.name }}" draggable="true" class="lang-item" ondragstart="drag(event)">
                <div class="stack-box"  style="background-color: {{ row.color }};">
                    {% if row.logo != "default.svg"%}
                    <img class="stack-icon" src="{{row.logo}}/{{ row.fontcolor }}" alt="{{ row.name | lower }}"/>
                    {% endif %}
                    <span class="stack-name" for="tag_{{row.name}}" style="color:{{ row.fontcolor }}">{{ row.name }}</span>
                  </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>
<br>

{% endblock %}

{% block script %}


<script>
    var category_select
    $(document).ready(function(){
        category_select = new SlimSelect({
        select: '#preferLanguage',
        placeholder: 'Language tag'
        })
    });
</script>
{% endblock %}