<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content has-footer">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">비밀번호 변경</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="passwdchangeform">
            <div class="row-sm">
                <label for="inputOldPassword" class="col col-form-label">기존 비밀번호</label>
                <input type="password" class="form-control" name="inputOldPassword" id="inputOldPassword" autocomplete="current-password">
            </div>
            <div class="row-sm">
                <label for="inputNewPassword" class="col col-form-label">새 비밀번호</label>
                <input type="password" class="form-control" name="inputNewPassword" id="inputNewPassword" autocomplete="new-password">
            </div>
            <div class="row-sm">
                <label for="inputValidPassword" class="col col-form-label">비밀번호 확인</label>
                <input type="password" class="form-control" name="inputValidPassword" id="inputValidPassword" autocomplete="new-password">
            </div>
          </form>
        </div>      
        <div class="modal-footer">
          <button type="submit" class="btn btn-default" onclick="passwdChange(); return false;">변경</button>
        </div>
      </div>
    </div>
  </div>
  <script>
    const myModal = document.getElementById('myModal')
    const myInput = document.getElementById('myInput')
    $(document).on('show.bs.modal','#myModal', function () {
      myInput.focus()
    });
    function passwdChange(){
      var formData = $("#passwdchangeform").serialize();
      formData += "&act=" + 'append';
      formData += "&target=" + '';
      var oldpw = $('#inputOldPassword').val();
      var newpw = $('#inputNewPassword').val();
      var valpw = $('#inputValidPassword').val();
      if(oldpw === newpw){
        alert("입력하신 비밀번호가 기존비밀번호와 같습니다.");
        return;
      }
      if(newpw !== valpw){
        alert("새 비밀번호와 확인 란의 값이 서로 다릅니다.");
        return;
      }
      $.ajax({
        cache : false,
        url : "passwd",
          //processData: false,
          //contentType: false,
          type : 'POST', 
          data : formData,
          headers: {'X-CSRFToken': csrftoken},
          success : function(result) {
            //var jsonObj = JSON.parse(data);
            console.log(result)
            if(result['result']=='success'){
              alert("비밀번호가 변경되었습니다. 다시로그인해 주세요.");
              window.location.reload();
            }
            
            else{
              alert("입력하신 비밀번호가 틀렸습니다.");
            }
          }, // success 
          error : function(result) {
            console.log('error');
          }
        });
    }
  </script>
