{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="messages">
  {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
      {{ message }}
    </div>
  {% endfor %}
</div>
<div class="container my-4" id="wholecontent">
  <div class="d-flex justify-content-end mb-1">
    <!--button type="submit" class="btn btn-primary" method='POST' action="">저장</button-->
    <button class="savebtn" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      PW 변경
    </button>
    <button id="savebtn" class="savebtn">저장하기</button>
    <button class="savebtn" onclick="location.href='..'">돌아가기</button>      
  </div>
  <div class="row">
    <div id="profile-info-edit" class="col-md-3 col-12">
      <div class="d-flex flex-column justify-content-end text-center user-info" id="profileimg_pa">
        <div style="position:relative; margin:auto;" id="profileimg">
          <form id="imgform" method='POST' action='' enctype="multipart/form-data">
            {% csrf_token %}
            <img id="image_section" src= {{account.photo.url}} alt="No Image now" class="profile-img">
            <label id="for-photo" for="photo">
              <i class="bi bi-pen"></i>
            </label>
            <label id="for-photo-delete" onclick="deleteImg();">
              <i class="bi bi-arrow-clockwise"></i>
            </label>
            <div>
              <input id="photo" class="form-control" name="photo" type="file" hidden/>
              <!--button type="submit" class="btn btn-primary" onclick="saveImg(); return false;">저장</button-->
            </div>
          </form>
        </div>
        <div class="info-body">
          <p class="font-focus">{{info.name}}</p>
          <p>{{info.github_id}}</p>
        </div>
      </div>
      <div class="d-flex flex-column user-detail">
        <div class="d-flex row-userdata">
          <span class="row-title text-center">학번</span>
          <span class="row-txt">{{info.id}}</span>
        </div>
        <div class="d-flex row-userdata">
          <span class="row-title text-center">대학</span>
          <span class="row-txt">{{info.college}}</span>
        </div>
        <div class="d-flex row-userdata">
          <span class="row-title text-center">학과</span>
          <span class="row-txt">{{info.dept}}</span>
        </div>
        {% include 'profile/passwd-modal.html' %}
        <form id="infoform">
          {% csrf_token %}   
          <div class="d-flex row-userdata">
            <span class="row-title text-center">전공</span>
            <div class="d-flex form-checks">
              <div class="form-check plural-major-radio" style="margin-right: 20px;" value="{{info.plural_major}}">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value='0'>
                <label class="form-check-label" for="flexRadioDefault1">
                  원전공
                </label>
              </div>
              <div class="form-check plural-major-radio">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="1">
                <label class="form-check-label" for="flexRadioDefault2">
                  복수전공
                </label>
              </div>
            </div>
            <input type="text" class="form-control infoform-element" id="plural_major" name="plural_major" value="{{info.plural_major}}" hidden>
          </div>

          <div class="d-flex row-userdata">
            <span class="row-title text-center">재학여부</span>
            <div class="d-flex form-checks">
              <div class="form-check absence-radio" style="margin-right: 20px;" >
                <input class="form-check-input" type="radio" name="absenceRadio" id="absenceRadio1" value='0'>
                <label class="form-check-label" for="absenceRadio1">
                  재학
                </label>
              </div>
              <div class="form-check absence-radio" style="margin-right: 20px;">
                <input class="form-check-input" type="radio" name="absenceRadio" id="absenceRadio2" value="1">
                <label class="form-check-label" for="absenceRadio2">
                  휴학
                </label>
              </div>
              <div class="form-check absence-radio">
                <input class="form-check-input" type="radio" name="absenceRadio" id="absenceRadio3" value="2">
                <label class="form-check-label" for="absenceRadio3">
                  졸업
                </label>
              </div>
            </div>
            <input type="text" class="form-control infoform-element" id="absence" name="absence" value="{{info.absence}}" hidden>
          </div>




          <div class="d-flex row-userdata">
            <span class="row-title text-center">개인<br>Email</span>
            <input type="text" class="form-control infoform-element" id="personal_email" name="personal_email" value={{info.personal_email}}>
          </div>
          <div class="d-flex row-userdata">
            <span class="row-title text-center">Github<br>Email</span>
            <input type="text" class="form-control infoform-element" id="primary_email" name="primary_email" value={{info.primary_email}}>
          </div>
          <div class="d-flex row-userdata">
            <span class="row-title text-center">보조<br>Email</span>
            <input type="text" class="form-control infoform-element" id="secondary_email" name="secondary_email" value={{info.secondary_email}}>
          </div>
          <div class="d-flex row-userdata">
            <span class="row-title text-center" style="font-size: 13px;">팀원 추천에<br>나를 노출</span>
            <div>
              <h5 class="profile-edit-description">팀원 추천 목록에 내정보가 검색됩니다.</h5>
              <div class="d-flex form-checks">
                <div class="form-check team-privacy-radio" style="margin-right: 30px;">
                  <input class="form-check-input" type="radio" name="teamprivacyradio" id="teamprivacyradio0" value='0'>
                  <label class="form-check-label" for="teamprivacyradio0">허용</label>
                </div>
                <div class="form-check team-privacy-radio">
                  <input class="form-check-input" type="radio" name="teamprivacyradio" id="teamprivacyradio1" value="1">
                  <label class="form-check-label" for="teamprivacyradio1">거부</label>
                </div>
              </div>
            </div>
            <input type="text" class="form-control infoform-element" id="teamprivacy" name="teamprivacy" value="{{privacy.is_open}}" hidden>
          </div>
          <div class="d-flex row-userdata">
            <span class="row-title text-center" style="font-size: 13px;">게시판에서<br>나를 공개</span>
            <div>
              <h5 class="profile-edit-description">허용하여야 게시판에 글 작성이 가능합니다.</h5>
              <div class="d-flex form-checks">
                <div class="form-check article-privacy-radio" style="margin-right: 30px;">
                  <input class="form-check-input" type="radio" name="articleprivacyradio" id="articleprivacyradio0" value='0'>
                  <label class="form-check-label" for="articleprivacyradio0">허용</label>
                </div>
                <div class="form-check team-privacy-radio">
                  <input class="form-check-input" type="radio" name="articleprivacyradio" id="articleprivacyradio1" value="1">
                  <label class="form-check-label" for="articleprivacyradio1">거부</label>
                </div>
              </div>
            </div>
            <input type="text" class="form-control infoform-element" id="articleprivacy" name="articleprivacy" value="{{privacy.is_write}}" hidden>
          </div>
          <div class="d-flex row-userdata" style="min-height: 120px;">
            <span class="row-title text-center" style="font-size: 13px;">프로필 공개<br>범위 설정</span>
            <div>
              <h5 class="profile-edit-description">내 프로필의 공개 범위를 설정합니다.</h5>
              <div class="form-check profile-privacy-radio">
                <input class="form-check-input" type="radio" name="profileprivacyradio" id="profileprivacyradio0" value="0">
                <label class="form-check-label" for="profileprivacyradio0">팀원 제외 공개 거부</label>
              </div>
              <div class="form-check profile-privacy-radio">
                <input class="form-check-input" type="radio" name="profileprivacyradio" id="profileprivacyradio1" value="1">
                <label class="form-check-label" for="profileprivacyradio1">활동 내역만 공개 허용</label>
              </div>
              <div class="form-check profile-privacy-radio">
                <input class="form-check-input" type="radio" name="profileprivacyradio" id="profileprivacyradio2" value="2">
                <label class="form-check-label" for="profileprivacyradio2">모두 공개 허용</label>
              </div>
            </div>
            <input type="text" class="form-control infoform-element" id="profileprivacy" name="profileprivacy" value="{{privacy.open_lvl}}" hidden>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col">
          <div class="col edit-container">
            <div class="card edit-card">
              <h5 class="card-title"> 관심분야 설정 </h5>
              <div class="card-body">
                <form id='intsform' enctype="multipart/form-data">
                  {% csrf_token %}
                  {% include 'profile/interests.html' %}
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="col edit-container">
            <div class="card edit-card">
              <h5 class="card-title"> 사용언어, 기술스택 설정 </h5>
              <div class="card-body overflow-auto" id='langdiv'>
                <form id='languageform' name="form2" enctype="multipart/form-data"> 
                  {% csrf_token %}
                  {% include 'profile/languages.html' %}
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col edit-container">
          <div class="card edit-card">
            <h5 class="card-title"> 포트폴리오 설정 </h5>
            {% csrf_token %}  
            <div class="card-body">
              <div class="mb-3">
                <label for="id_introduction" class="form-label">Introduction</label>
                <form id="introform">
                  <textarea class="form-control" cols="50" id="id_introduction" name="introduction" rows="1">{{account.introduction}}</textarea>
                </form>
              </div>
              <div class="mb-3">
                <form id="portform">
                  <label for="id_portfolio" class="form-label">Detail</label> <h5 style="font-size: 9pt; color:darkgrey">마크다운 문법을 적용해 작성가능합니다.</h5>
                  <p><textarea class="form-control" cols="55" id="id_portfolio" name="portfolio" rows="11">{{account.portfolio}}</textarea></p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </symbol>
  <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
  </symbol>
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>
{% endblock %}

{% block script %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile-style.css' %}"> 
<link rel="stylesheet" type="text/css "href="{% static 'css/profile-edit-style.css' %}">
<script type="text/javascript" src="{% static 'js/profile_edit.js' %}"></script>

{% endblock %}