{% extends 'main.html' %}
{% load static %}

{% block content %}
<body>
  <form method="POST" action=""  enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container-xl">
      <div class="row row-cols-2">
        <div class="col">
          <div class="card" id="information">
            <h5 class="card-title"> 개인정보 설정 </h5>
            <div class="card-body">
              <div class="mb-3 row">
                <label for="github_id" class="col-sm-2 col-form-label">GitHub ID</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" id="github_id" value={{data.info.github_id}}>
                </div>
              </div>
              <div class="mb-3 row">
                <label for="id_personal_email" class="col-sm-2 col-form-label">Per. Email</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="personal_email" name="personal_email" value={{data.info.personal_email}}>
                </div>
              </div>
              <div class="mb-3 row">
                <label for="id_plural_major" class="col-sm-2 col-form-label">Major</label>
                <div class="col-sm-10">
                  <input type="text " class="form-control" id="plural_major" name="plural_major" value={{data.info.plural_major}}>
                </div>
              </div>
              <div class="mb-3 row">
                <label for="id_primary_email" class="col-sm-2 col-form-label">Primary</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="primary_email" name="primary_email" value={{data.info.primary_email}}>
                </div>
              </div>
              <div class="mb-3 row">
                <label for="id_secondary_email" class="col-sm-2 col-form-label">Secondary</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="secondary_email" name="secondary_email" value={{data.info.secondary_email}}>
                </div>
              </div>
              <div>
                {% csrf_token %}
                <img src= {{data.account.photo.url}} alt="My Image" width="50" height="50">
                <p><label for="id_photo">프로필 사진:</label> <input id="photo" name="photo" type="file" /></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" id="visualization">
            <h5 class="card-title"> 관심분야 설정 </h5>
            <div class="card-body">
              {% csrf_token %}
              {% include 'profile/interests.html' %}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" id="portfolio">
            <h5 class="card-title"> 포트폴리오 설정 </h5>
            <div class="card-body">
              <div class="mb-3">
                {% csrf_token %}
                <label for="id_introduction" class="form-label">Introduction</label>
                <textarea class="form-control" cols="50" id="id_introduction" name="introduction" rows="1">{{data.account.introduction}}</textarea>
              </div>
              <div class="mb-3">
                <p><textarea class="form-control" cols="55" id="id_portfolio" name="portfolio" rows="15">{{data.account.portfolio}}</textarea></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" id="visualization">
            <h5 class="card-title"> 사용언어, 기술스택 설정 </h5>
            <div class="card-body">
              {% csrf_token %}
              {% include 'profile/languages.html' %}
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" name="action" value="save">저장</button>
    </div>
  </form>

  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
  </svg>
  {% if messages %}
  <div class="messages">
      {% for message in messages %}
        <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
          <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
          {{ message }}
        </div>
      {% endfor %}
  </div>
  {% endif %}
</body>
{% endblock %}

{% block script %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/profile-style.css' %}"> 
  <link rel="stylesheet" type="text/css "href="{% static 'css/profile-edit-style.css' %}">
{% endblock %}