{% extends 'main.html' %}
{% load static %}
{% load markdown_filter %}
{% load user_templatetag %}
{% block content %}
<div class="container my-4">
  {% if data.is_own %}
  <div class="d-flex justify-content-end mb-1">
    <a href="./profile-edit" class="btn btn-primary btn-sm" role="button" aria-disabled="true">프로필 수정</a>
  </div>
  {% else %}
  <div class="d-flex justify-content-end mb-1" style="height:31px;">
  </div>
  {% endif %}
  <div class="row">
    <div id="profile-info" class="col-md-3 col-12">
      <div class="d-flex flex-column justify-content-end text-center user-info">
          <img src= {{data.account.photo.url}} alt="No Image now" class="img-profile">
        <div class="info-body">
          <p class="font-focus">{{data.info.name}}</p>
          <p>{{data.info.github_id}}</p>
        </div>
      </div>
      <div class="d-flex flex-column user-detail">
        <div class="d-flex row-userdata">
          <span class="row-title text-center">학번</span>
          <span class="row-txt">{{data.info.id}}</span>
        </div>
        <div class="d-flex row-userdata">
          <span class="row-title text-center">대학</span>
          <span class="row-txt">{{data.info.college}}</span>
        </div>
        <div class="d-flex row-userdata">
          <span class="row-title text-center">학과</span>
          <span class="row-txt">{{data.info.dept}}</span>
        </div>
        <div class="d-flex row-userdata">
          <span class="row-title text-center">전공</span>
          <span class="row-txt">{{data.info.plural_major}}</span>
        </div>
        <div class="d-flex row-userdata">
          <span class="row-title text-center">GitHub</span>
          <a class="row-txt" href="https://github.com/{{data.info.github_id}}">{{data.info.github_id}}</a>
        </div>
        <div class="d-flex row-userdata">
          <span class="row-title text-center">개인 Email</span>
          <span class="row-txt">{{data.info.personal_email}}</span>
        </div>
        <div class="d-flex row-userdata">
          <span class="row-title text-center">Github Email</span>
          <span class="row-txt">{{data.info.primary_email}}</span>
        </div>
      </div>
    </div>
    <div class="col-md-9 col-12">
      <div class="row mb-3 profile-content">
        <div id="modalBox" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="chartModal" aria-hidden="true">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-light-header">
                <h5 id="chartModal" class="modal-title">기여내역 시각화</h5>
                <i id="closeModalIcon" class="bi bi-x-lg" data-bs-dismiss="modal" aria-label="Close"></i>
              </div>
              <div class="container">
                <div class="horizontal-menu">
                  <div id="modal-btnGroupYear">
                    {% for year in year_list %}
                      {% if year == end_year%}
                      <button class="modal-btn-year active">{{year}}</button>
                      {% else %}
                      <button class="modal-btn-year">{{year}}</button>
                      {% endif %}
                    {% endfor %}
                  </div>
                  <div>
                    <div class="btn-group" role="group">
                      <button id="modal-btnGroupDropMonth" type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        ALL
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="modal-btnGroupDropMonth">
                        <li><button class="dropdown-item modal-month-item" value="0">ALL</button></li>
                        <li><button class="dropdown-item modal-month-item" value="1">JAN</button></li>
                        <li><button class="dropdown-item modal-month-item" value="2">FEB</button></li>
                        <li><button class="dropdown-item modal-month-item" value="3">MAR</button></li>
                        <li><button class="dropdown-item modal-month-item" value="4">APR</button></li>
                        <li><button class="dropdown-item modal-month-item" value="5">MAY</button></li>
                        <li><button class="dropdown-item modal-month-item" value="6">JUN</button></li>
                        <li><button class="dropdown-item modal-month-item" value="7">JUL</button></li>
                        <li><button class="dropdown-item modal-month-item" value="8">AUG</button></li>
                        <li><button class="dropdown-item modal-month-item" value="9">SEP</button></li>
                        <li><button class="dropdown-item modal-month-item" value="10">OCT</button></li>
                        <li><button class="dropdown-item modal-month-item" value="11">NOV</button></li>
                        <li><button class="dropdown-item modal-month-item" value="12">DEC</button></li>
                      </ul>
                    </div>
                    <div class="btn-group" role="group">
                      <button id="modal-btnGroupDropFactor" type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Score
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="modal-btnGroupDropFactor">
                        <li><button class="dropdown-item modal-factor-item" value="score">Score</button></li>
                        <li><button class="dropdown-item modal-factor-item" value="star">Star</button></li>
                        <li><button class="dropdown-item modal-factor-item" value="commit">Commit</button></li>
                        <li><button class="dropdown-item modal-factor-item" value="pr">PR</button></li>
                        <li><button class="dropdown-item modal-factor-item" value="issue">Issue</button></li>
                        <li><button class="dropdown-item modal-factor-item" value="issue">Repo</button></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="modal-body justify-content-center" id="modal-visualization">
                  <div class="row justify-content-between">
                    <div class="modal-item modal-grass">
                      <h5 id="modal-grass-title">{{end_year}}년 오픈소스 활동</h5>
                      <div class="d-flex justify-content-between mt-3">
                        <div class="d-flex flex-column justify-content-center" style="width:40%;">
                          <canvas id="modal-canvas0" class="ctx-item"></canvas>
                        </div>
                        <div class="d-flex mt-3 justify-content-center" style="width:60%;">
                          <svg id="modal-activity-monthly" class="grass double" viewBox="0 0 440 192"></svg>
                        </div>
                      </div>
                      <div class="grass-group mt-2">
                        Less
                        <span class="grass-color" data-level="0"></span>
                        <span class="grass-color" data-level="1"></span>
                        <span class="grass-color" data-level="2"></span>
                        <span class="grass-color" data-level="3"></span>
                        <span class="grass-color" data-level="4"></span>
                        More
                      </div>
                    </div>
                    <div class="modal-item modal-radar">
                      <h5 id="modal-radar-title">{{end_year}}년 기여도 비교</h5>
                      <div id="radar-canvas">
                        <canvas id="modal-canvas1" class="ctx-item"></canvas>
                      </div>
                      <div class="select-compare">
                        <select name="target" id="modal-target-user">
                          <option value="" selected="selected">비교없음</option>
                          {% target_github_id request as target_option%}
                          {{target_option}}
                        </select>
                        <button id="modal-btn-compare" class="btn btn-primary btn-sm">비교</button>
                        <button id="modal-btn-toggle" class="btn btn-secondary btn-sm">정규화</button>
                      </div>
                    </div>
                  </div>
                  <div class="modal-line"></div>
                  <div class="row justify-content-between">
                    <div class="modal-item">
                      <h5 id="modal-histogram-title">분포</h5>
                      <canvas id="modal-canvas2" class="ctx-item"></canvas>
                    </div>
                    <div class="modal-item">
                      <h5 id="modal-stacked-title">세부점수</h5>
                      <canvas id="modal-canvas3" class="ctx-item"></canvas>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button id="closeChartModalBtn" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="card" id="visualization">
            <div class="card-body">
              <h5 class="card-title d-flex justify-content-between">
                기여내역 시각화
                <i id="icon-modal" class="bi-arrow-up-right-square evt-icon" title="확대"></i>
              </h5>
              <ul class="nav nav-tabs mt-2 text-lg">
                <li class="nav-item"><a class="nav-link active" id="pills-overview-tab">활동성</a></li>
                <li class="nav-item"><a class="nav-link" id="pills-radar-tab">기여 평가</a></li>
                <li class="nav-item"><a class="nav-link" id="pills-dist-tab">분포</a></li>
                <li class="nav-item"><a class="nav-link" id="pills-detail-tab">세부 점수</a></li>
              </ul>
              <div class="tab-content">
                <div class="btn-group-filter" role="group" aria-label="Button group with nested dropdown">
                  <div class="btn-group" role="group">
                    <button id="btnGroupDropYear" type="button" class="btn btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      {{end_year}}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDropYear">
                      {% for year in year_list %}
                      <li>
                        <button class="dropdown-item year-item">{{year}}</button>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                  <div class="btn-group" role="group">
                    <button id="btnGroupDropMonth" type="button" class="btn btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      ALL
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDropMonth">
                      <li><button class="dropdown-item month-item" value="0">ALL</button></li>
                      <li><button class="dropdown-item month-item" value="1">JAN</button></li>
                      <li><button class="dropdown-item month-item" value="2">FEB</button></li>
                      <li><button class="dropdown-item month-item" value="3">MAR</button></li>
                      <li><button class="dropdown-item month-item" value="4">APR</button></li>
                      <li><button class="dropdown-item month-item" value="5">MAY</button></li>
                      <li><button class="dropdown-item month-item" value="6">JUN</button></li>
                      <li><button class="dropdown-item month-item" value="7">JUL</button></li>
                      <li><button class="dropdown-item month-item" value="8">AUG</button></li>
                      <li><button class="dropdown-item month-item" value="9">SEP</button></li>
                      <li><button class="dropdown-item month-item" value="10">OCT</button></li>
                      <li><button class="dropdown-item month-item" value="11">NOV</button></li>
                      <li><button class="dropdown-item month-item" value="12">DEC</button></li>
                    </ul>
                  </div>
                  <div class="btn-group" role="group">
                    <button id="btnGroupDropFactor" type="button" class="btn btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" disabled>
                      Score
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDropFactor">
                      <li><button class="dropdown-item factor-item" value="score">Score</button></li>
                      <li><button class="dropdown-item factor-item" value="star">Star</button></li>
                      <li><button class="dropdown-item factor-item" value="commit">Commit</button></li>
                      <li><button class="dropdown-item factor-item" value="pr">PR</button></li>
                      <li><button class="dropdown-item factor-item" value="issue">Issue</button></li>
                      <li><button class="dropdown-item factor-item" value="repo">Repo</button></li>
                    </ul>
                  </div>
                </div>
                <div class="tab-pane fade mt-2 show active" id="pills-overview">
                  <h5 id="grass-title">{{end_year}}년 오픈소스 활동</h5>
                  <div class="d-flex justify-content-between mt-3">
                    <div class="d-flex flex-column justify-content-center" style="width:40%;">
                      <canvas id="canvas0" class="ctx-item"></canvas>
                    </div>
                    <div class="d-flex mt-3 justify-content-center" style="width:60%;">
                      <svg id="activity-monthly" class="grass double" viewBox="0 0 465 190"></svg>
                    </div>
                  </div>
                  <div class="grass-group mt-2">
                    Less
                    <span class="grass-color" data-level="0"></span>
                    <span class="grass-color" data-level="1"></span>
                    <span class="grass-color" data-level="2"></span>
                    <span class="grass-color" data-level="3"></span>
                    <span class="grass-color" data-level="4"></span>
                    More
                  </div>
                </div>
                <div class="tab-pane fade mt-2" id="pills-radar">
                  <h5 id="radar-title">{{end_year}}년 기여도 비교</h5>
                  <canvas id="canvas1" class="ctx-item"></canvas>
                    <div id="target-search">
                      <select name="target" id="target-user">
                        <option value="" selected="selected">비교없음</option>
                        {{target_option}}
                      </select>
                      <button id="btn-compare" class="btn btn-primary btn-sm">비교</button>
                      <button id="btn-toggle" class="btn btn-secondary btn-sm">정규화</button>
                    </div>
                    
                </div>
                <div class="tab-pane fade mt-2" id="pills-dist">
                  <h5 id="histogram-title">분포</h5>
                  <canvas id="canvas2" class="ctx-item"></canvas>
                </div>
                <div class="tab-pane fade mt-2" id="pills-detail">
                  <h5 id="stacked-title">세부점수</h5>
                  <canvas id="canvas3" class="ctx-item"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card h-100">
            <div class="card-body d-flex flex-column justify-content-between">
              <h5 class="card-title mb-2">{{end_year}} Score</h5>
              <span class="text-center font-focus my-auto" style="font-size:2.5rem;">{{data.score.total_score|floatformat:2}}</span>
              <div class="row-complex">
                <div class="row-contr">
                  <span class="row-title" style="width:70%;">Repositories</span>
                  <span class="row-raw">{{data.score.repo_cnt}}</span>
                </div>
              </div>
              <div class="row-complex">
                <div class="row-contr">
                  <span class="row-title">Commits</span>
                  <span class="row-raw">{{data.score.commit_cnt}}</span>
                </div>
                <div class="row-contr">
                  <span class="row-title">Issues</span>
                  <span class="row-raw">{{data.score.issue_cnt}}</span>
                </div>
              </div>
              <div class="row-complex">
                <div class="row-contr">
                  <span class="row-title">Pull Requests</span>
                  <span class="row-raw">{{data.score.pr_cnt}}</span>
                </div>
                <div class="row-contr">
                  <span class="row-title">Stars</span>
                  <span class="row-raw">{{star}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row profile-content">
        <div class="col-4 expandable">
          <div class="card mb-3" id="interests">
            <div class="card-body">
              <h5 class="card-title d-flex justify-content-between">관심분야
                <i id="icon-interests" class="bi bi-arrows-angle-expand evt-icon" title="확장"></i>
              </h5>
              {% if data.relations|length == 0 and data.remains|length == 0 %}
                <span class="weak-text">관심분야를 설정해주세요</span>
              {% endif %}
              {% for row in data.relations %}
                <span class="badge bg-tag-domain me-1" style="height:20px">{{row.parent}}</span>
                {% for child in row.children %}
                  <span class="badge bg-tag-domain me-1" style="height:20px">{{child}}</span>
                {% endfor %}
                <hr>
              {% endfor %}
              {% for row in data.remains %}
                <span class="badge bg-tag-domain me-1" style="height:20px">{{row.child_tag}}</span>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col-4 expandable">
          <div class="card mb-3" id="languages">
            <div class="card-body">
              <h5 class="card-title d-flex justify-content-between">사용언어/기술스택
                <i id="icon-lang" class="bi bi-arrows-angle-expand evt-icon" title="확장"></i>
              </h5>
              <div class="d-flex flex-wrap overflow-auto">
                {% if data.lang|length == 0%}
                  <span class="weak-text">사용언어/기술스택을 설정해주세요</span>
                {% endif %}
                {% for row in data.lang %}
                <div class="flex-fill" style="min-width: 100px;">
                  <div class="container">
                    <div class="row">
                      <div class="col">
                        <span class="badge bg-tag-{{row.type}} me-1" style="height:20px; min-width: 80px;">{{row.name}}</span>
                      </div>
                      <div class="col">
                        <span class="span_language" level={{row.level}}></span>
                      </div>
                    </div>
                    <hr>
                  </div>
                </div> 
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 expandable">
          <div id="modalPortfolioBox" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="portfolioModal" aria-hidden="true">
            <div class="modal-dialog modal-xl">
              <div class="modal-content">
                <div class="modal-light-header">
                  <h5 id="portfolioModal" class="modal-title">포트폴리오</h5>
                  <i id="closePortfolioModalIcon" class="bi bi-x-lg" data-bs-dismiss="modal" aria-label="Close"></i>
                </div>
                <div class="modal-body-markdown">
                  {% if data.account.portfolio == '' %}
                    <span class="weak-text">포트폴리오를 설정해주세요</span>
                  {% endif %}
                  {{ data.account.portfolio|mark }}
                </div>
                <div class="modal-footer">
                  <button id="closePortfolioModalBtn" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3" id="portfolio">
            <div class="card-body">
              <h5 class="card-title d-flex justify-content-between">
                자기소개
                <i id="icon-portfolio" class="bi-arrow-up-right-square evt-icon" title="확대"></i>
              </h5>
              {% if data.account.introduction == '' %}
                <span class="weak-text">자기소개를 설정해주세요</span>
              {% endif %}
              {{data.account.introduction}}
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3 profile-content">
        <div class="col-7">
          <div class="card h-100">
            <div id="recent-repos" class="card-body">
              <h5 class="card-title d-flex justify-content-between">최근 기여활동
                <a href="./repo" target="_blank"><i id="icon-contr" class="bi-box-arrow-up-right evt-icon" title="이동"></i></a>
              </h5>
            </div>
          </div>
        </div>
        <div class="col-5">
          
          <div id="modalGbtiBox" class="modal fade bd-example-modal" tabindex="-1" role="dialog" aria-labelledby="gbtiModal" aria-hidden="true">
            <div class="modal-dialog modal-xl">
              <div class="modal-content gbti-bg">
                {% if test %}
                <div class="modal-light-header">
                  <h5 id="gbtiModal" class="modal-title">개발자 유형</h5>
                  <i id="closeGbtiModalIcon" class="bi bi-x-lg" data-bs-dismiss="modal" aria-label="Close"></i>
                </div>
                <h3 class="text-center mt-3">개발자 유형 검사 결과</h3>
                <div class="d-flex justify-content-center">
                  <span class="endpoint left"></span>
                  <span class="line-connect"></span>
                  <span class="endpoint right"></span>
                </div>
                <div id="gbti-id-card" class="modal-gbti-card">
                  <p class="weak-text ms-3 mt-2 mb-0 text-start">OSS ID CARD</p>
                  <div class="d-flex justify-content-center">
                    <div class="gbti-content d-flex justify-content-center p-sm">
                      <div id="resultImg" class="gbti-img">
                        <img src={% static "images/"|add:test.code|add:".png" %}>
                      </div>
                    </div>
                    <div class="gbti-content d-flex flex-column p-sm justify-content-between">
                      <p class="text-center text-label">{{test.desc}}</p>
                      <p class="text-center text-label mb-1">{{test.descKR}}</p>
                      <h4 class="text-center">{{test.nickname}}</h4>
                      <h4 class="text-center">{{test.nicknameKR}}</h4>
                      <div class="d-flex justify-content-between text-label">
                        <span>Fluid</span>
                        <span>Steady</span>
                      </div>
                      <div class="progress">
                        <div class="progress-bar pb-active" role="progressbar"  style="width: {{test.typeAl}}%" aria-valuenow="{{test.typeAl}}" aria-valuemin="0" aria-valuemax="100"></div>
                        <div class="progress-bar pb-inactive" role="progressbar"  style="width: 4%" aria-valuenow=4  aria-valuemin="0" aria-valuemax="100"></div>
                        <div class="progress-bar pb-active" role="progressbar" style="width: {{test.typeAr}}%" aria-valuenow="{{test.typeAr}}" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <div class="d-flex justify-content-between text-label">
                        <span>CoolHead</span>
                        <span>WarmHeart</span>
                      </div>
                      <div class="progress">
                        <div class="progress-bar pb-active" role="progressbar" aria-label="left" style="width: {{test.typeBl}}%" aria-valuenow="{{test.typeBl}}" aria-valuemin="0" aria-valuemax="100"></div>
                        <div class="progress-bar pb-inactive" role="progressbar" aria-label="center" style="width: 4%" aria-valuenow=4 aria-valuemin="0" aria-valuemax="100"></div>
                        <div class="progress-bar pb-active" role="progressbar" aria-label="right" style="width: {{test.typeBr}}%" aria-valuenow="{{test.typeBr}}" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <div class="d-flex justify-content-between text-label">
                        <span>Creative</span>
                        <span>Efficient</span>
                      </div>
                      <div class="progress">
                        <div class="progress-bar pb-active" role="progressbar" aria-label="left" style="width: {{test.typeCl}}%" aria-valuenow="{{test.typeCl}}" aria-valuemin="0" aria-valuemax="100"></div>
                        <div class="progress-bar pb-inactive" role="progressbar" aria-label="center" style="width: 4%" aria-valuenow=4 aria-valuemin="0" aria-valuemax="100"></div>
                        <div class="progress-bar pb-active" role="progressbar" aria-label="right" style="width: {{test.typeCr}}%" aria-valuenow="{{test.typeCr}}" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <div class="d-flex justify-content-between text-label">
                        <span>MultiPlay</span>
                        <span>SinglePlay</span>
                      </div>
                      <div class="progress">
                        <div class="progress-bar pb-active" role="progressbar" aria-label="left" style="width: {{test.typeDl}}%" aria-valuenow="{{test.typeDl}}" aria-valuemin="0" aria-valuemax="100"></div>
                        <div class="progress-bar pb-inactive" role="progressbar" aria-label="center" style="width: 4%" aria-valuenow=4 aria-valuemin="0" aria-valuemax="100"></div>
                        <div class="progress-bar pb-active" role="progressbar" aria-label="right" style="width: {{test.typeDr}}%" aria-valuenow="{{test.typeDr}}" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>
                  <p class="weak-text me-3 mt-0 mb-2 text-end">{{end_year}} &#9426; SKKU-OSP</p>
                </div>
                <div class="d-flex justify-content-end btn-gbti-group">
                  <button id="btn-save-id-card" class="btn-gbti pb-active">ID CARD 저장</button>
                  {% if user.is_authenticated and user.username == username%}
                  <button class="btn-gbti pb-inactive ms-3" onclick="location.href='./test'">다시 검사하기</button>
                  {% endif %}
                </div>
                <h3 class="text-center mt-3">다른 유형과의 조화</h3>
                <div class="d-flex justify-content-center">
                  <span class="endpoint left"></span>
                  <span class="line-connect"></span>
                  <span class="endpoint right"></span>
                </div>
                <div class="gbti-harmony">
                  <div class="harmony">
                    <h4>상생 파트너</h4>
                    {% for pos in test.pos%}
                    <div class="carousel-gbti">
                      <div class="gbti-card">
                        <div class="gbti-img">
                          <img src={% static "images/"|add:pos.code|add:".png" %} alt="No Image now">
                        </div>
                        <div class="gbti-textbox">
                          <p class="gbti-text bold">
                            {{pos.nicknameKR}}
                          </p>
                          <p class="gbti-text">{{pos.descKR}}</p>
                        </div>
                      </div>
                    </div>
                    {% endfor%}
                  </div>
                  <div class="harmony">
                    <h4>상극 파트너</h4>
                    {% for neg in test.neg%}
                    <div class="carousel-gbti">
                      <div class="gbti-card">
                        <div class="gbti-img">
                          <img src={% static "images/"|add:neg.code|add:".png" %} alt="No Image now">
                        </div>
                        <div class="gbti-textbox">
                          <p class="gbti-text bold">
                            {{neg.nicknameKR}}
                          </p>
                          <p class="gbti-text">{{neg.descKR}}</p>
                        </div>
                      </div>
                    </div>
                    {% endfor%}
                  </div>
                </div>
                {% endif %}
                <h3 class="text-center mt-3">개발 성향 분석</h3>
                <div class="d-flex justify-content-center">
                  <span class="endpoint left"></span>
                  <span class="line-connect"></span>
                  <span class="endpoint right"></span>
                </div>
                <div class="my-2">
                  <p class="text-center gbti-text bold">본 결과는 Github 데이터를 기반으로 분석한 결과입니다.</p>
                </div>
                <div class="gbti-analysis-container mt-3">
                  {% for desc, descKR, icon in gbti.zip %}
                  <div class="gbti-analysis">
                    <i class="bi {{icon}} icon-lg" style="float: left;"></i>
                    <div class="d-flex flex-column justify-content-center">
                      <span>{{desc}}</span>
                      <span>{{descKR}}</span>
                    </div>
                  </div>
                  <div>
                    <canvas id="canvas-type-{{ forloop.counter }}">
                    </canvas>
                  </div>
                  {% endfor%}
                </div>
                <div class="modal-footer">
                  <button id="closeGbtiModalBtn" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title d-flex justify-content-between">
                개발자 성향
                <i id="icon-devtype" class="bi-arrow-up-right-square evt-icon" title="확대"></i>

              </h5>
              <div class="gbti-content p-lg">
                <div class="gbti-card">
                  <div class="gbti-img">
                    {% if test %}
                    <img src={% static "images/"|add:test.code|add:".png" %} alt="test.code">
                    {% else %}
                    <img src={% static "images/back.png" %} alt="No Image now">
                    <span class="weak-text">아직 개발자 유형 검사를 진행하지 않았습니다</span>
                    {% endif %}
                  </div>
                  <div class="gbti-textbox">
                    <p id="gbti-name" class="gbti-text bold">{{test.nicknameKR}}</p>
                    <p id="gbti-desc" class="gbti-text">{{test.descKR}}</p>
                  </div>
                </div>
                <div class="d-flex justify-content-around">
                  {% for icon in gbti.icon %}
                  <i class="bi {{icon}} icon-lg"></i>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block script %}
  <script>
    var category_select;
    var modal_category_select;
    var target_yearly_contr = [];
    var target_monthly_contr = [];
    var target_github_id = '';
    $(document).ready(function(){
      category_select = new SlimSelect({
        select: '#target-user'
      });
      modal_category_select = new SlimSelect({
        select: '#modal-target-user'
      });
      $("#target-user").change(function(){
        let data={"github_id":category_select.selected().toString()};
        post_github_user(data);
      });
      $("#modal-target-user").change(function(){
        let data={"github_id":modal_category_select.selected().toString()};
        post_github_user(data);
      });
      function post_github_user(data={}){
        if(data.hasOwnProperty("github_id") 
        && data["github_id"] != ''
        && data["github_id"] != '비교없음'){ 
          $.ajax({
            type:"POST",
            url: `{% url 'user:comparestat' username='${data["github_id"]}' %}`,
            data:JSON.stringify(data),
            dataType: 'json',
            processData: false,
            contentType: false,
            success:function(res){
                console.log("data pass success",res);
                if(res.hasOwnProperty('monthly_contr')){
                  target_yearly_contr = res['monthly_contr'];
                  target_github_id = res['github_id'];
                }
                console.log("res", target_github_id, target_yearly_contr);
            },
            error : function(data){ 
              console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            }
          });
        }else{
          target_yearly_contr = [];
          target_monthly_contr = [];
        }
      }
    });
  </script>
  <script>
    $(document).ready(function() {
      var level_value = 0;
      var contains = $('.span_language');
      for(contain of contains){
        level_value = $(contain).attr('level');
        for(var cnt = 1; cnt <= level_value; cnt += 1){
          $(contain).append(`
            <span style='margin-right:10px;'>
              <svg width='10' height='10' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'>
                <circle r='9' transform='matrix(1 0 0 -1 9 9)' fill='#0094FF'/>
            </svg></span>`);
        }
        for(var cnt = 1; cnt <= 5-level_value; cnt += 1){
          $(contain).append(`
            <span style='margin-right:10px;'>
              <svg width='10' height='10' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'>
                <circle r='9' transform='matrix(1 0 0 -1 9 9)' fill='#9D9D9D'/>
            </svg></span>`);
        }
      }
    });
  </script>
  <script>
    $(document).ready(function() {
      var level_value = 0;
      var contains = $('.span_language');
    });
  </script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/profile-style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/profile-type-style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/profile-type-animation.css' %}">
  <script type="text/javascript">
    let chart_data = JSON.parse("{{ chart_data | escapejs }}");
    let type_data = JSON.parse("{{ type_data | escapejs }}");
    const end_year = {{end_year}};
    const github_id = '{{username}}';
  </script>
  <script type="text/javascript" src="{% static 'js/profile_visualization.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/profile_modal.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/test_type_data.js' %}"></script>
  <script type="text/javascript" src="https://unpkg.com/chart.js@3.6.0/dist/chart.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chartjs-chart-error-bars@3.8.0/build/index.umd.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
{% endblock %}
