{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="messages">
  {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
      {{ message }}
    </div>
  {% endfor %}
</div>
<body>
    <div class="container my-4" id="wholecontent">
      <div class="d-flex justify-content-end mb-1">
        <!--button type="submit" class="btn btn-primary" method='POST' action="">저장</button-->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          비밀번호 변경
        </button>
        <button class="savebtn" onclick="saveImg(); saveAll(); return false;">저장하기</button>
        <button class="savebtn" onclick="location.href='..'">돌아가기</button >
        
      </div>
      <div class="row">
        <div id="profile-info" class="col-md-3 col-12">
          <div class="d-flex flex-column justify-content-end text-center user-info" id="profileimg_pa">
            <div style="position:relative; margin:auto;" id="profileimg">
              <form id="imgform" method='POST' action='' enctype="multipart/form-data">
                  {% csrf_token %}
                  <img id="image_section" src= {{data.account.photo.url}} alt="No Image now" class="img-profile">
                <label id="for-photo" for="photo">
                  <i class="bi bi-pen"></i>
                </label>
                <div><input id="photo" class="form-control" name="photo" type="file" hidden/>
                <!--button type="submit" class="btn btn-primary" onclick="saveImg(); return false;">저장</button--></div>
              </form>
            </div>
            <div class="info-body">
              <p class="font-focus">{{data.info.name}}</p>
              <p>{{data.info.github_id}}</p>
            </div>
          </div>
          <div class="d-flex flex-column user-detail">
            <div class="d-flex row-userdata">
              <span class="row-title text-center">학번</span>
              <span class="row-txt">{{data.info.id}}</span>
            </div>
            <div class="d-flex row-userdata">
              <span class="row-title text-center">대학</span>
              <span class="row-txt">{{data.info.college}}</span>
            </div>
            <div class="d-flex row-userdata">
              <span class="row-title text-center">학과</span>
              <span class="row-txt">{{data.info.dept}}</span>
            </div>
            {% include 'profile/passwd-modal.html' %}
            <form id="infoform">
              {% csrf_token %}
              
              <div class="d-flex row-userdata">
                <span class="row-title text-center">전공</span>
                <div class="form-check plural-major-radio" value="{{data.info.plural_major}}">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value='0'>
                  <label class="form-check-label" for="flexRadioDefault1">
                    원전공
                  </label>
                </div>
                <div class="form-check plural-major-radio">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="1">
                  <label class="form-check-label" for="flexRadioDefault2">
                    복수전공
                  </label>
                </div>
                <input type="text" class="form-control infoform-element" id="plural_major" name="plural_major" value="{{data.info.plural_major}}" hidden>

              </div>
              <div class="d-flex row-userdata">
                <span class="row-title text-center">GitHub</span>
                <span class="row-txt">{{data.info.github_id}}</span>
              </div>
              <div class="d-flex row-userdata">
                <span class="row-title text-center">개인 Email</span>
                <input type="text" class="form-control infoform-element" id="personal_email" name="personal_email" value={{data.info.personal_email}}>
              </div>
              <div class="d-flex row-userdata">
                <span class="row-title text-center">Github Email</span>
                <input type="text" class="form-control infoform-element" id="primary_email" name="primary_email" value={{data.info.primary_email}}>
              </div>
              <div class="d-flex row-userdata">
                <span class="row-title text-center" style="font-size: 13px;">Secondary Email</span>
                <input type="text" class="form-control infoform-element" id="secondary_email" name="secondary_email" value={{data.info.secondary_email}}>
              </div>
              <div class="d-flex row-userdata">
                <span class="row-title text-center" style="font-size: 13px;">팀원추천에 노출여부</span>

                <div class="form-check team-privacy-radio">
                  <input class="form-check-input" type="radio" name="teamprivacyradio" id="teamprivacyradio0" value='0'>
                  <label class="form-check-label" for="teamprivacyradio0">O</label>
                </div>
                <div class="form-check team-privacy-radio">
                  <input class="form-check-input" type="radio" name="teamprivacyradio" id="teamprivacyradio1" value="1">
                  <label class="form-check-label" for="teamprivacyradio1">X</label>
                </div>
                <input type="text" class="form-control infoform-element" id="teamprivacy" name="teamprivacy" value="{{data.privacy.is_open}}" hidden>
              </div>
              <div class="d-flex row-userdata">
                <span class="row-title text-center" style="font-size: 13px;">게시판 작성가능</span>
                <div class="form-check article-privacy-radio">
                  <input class="form-check-input" type="radio" name="articleprivacyradio" id="articleprivacyradio0" value='0'>
                  <label class="form-check-label" for="articleprivacyradio0">O</label>
                </div>
                <div class="form-check team-privacy-radio">
                  <input class="form-check-input" type="radio" name="articleprivacyradio" id="articleprivacyradio1" value="1">
                  <label class="form-check-label" for="articleprivacyradio1">X</label>
                </div>
                <input type="text" class="form-control infoform-element" id="articleprivacy" name="articleprivacy" value="{{data.privacy.is_write}}" hidden>
              </div>
              <div class="d-flex row-userdata">
                <span class="row-title text-center" style="font-size: 13px;">프로필공개</span>
                <div class="form-check profile-privacy-radio">
                  <input class="form-check-input" type="radio" name="profileprivacyradio" id="profileprivacyradio0" value="0">
                  <label class="form-check-label" for="profileprivacyradio0">0</label>
                </div>
                <div class="form-check profile-privacy-radio">
                  <input class="form-check-input" type="radio" name="profileprivacyradio" id="profileprivacyradio1" value="1">
                  <label class="form-check-label" for="profileprivacyradio1">1</label>
                </div>
                <div class="form-check profile-privacy-radio">
                  <input class="form-check-input" type="radio" name="profileprivacyradio" id="profileprivacyradio2" value="2">
                  <label class="form-check-label" for="profileprivacyradio2">2</label>
                </div>
                <input type="text" class="form-control infoform-element" id="profileprivacy" name="profileprivacy" value="{{data.privacy.open_lvl}}" hidden>
              </div>
            </form>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="row">
            <div class="col">
              <div class="col edit-container">
                <div class="card edit-card">
                  <h5 class="card-title"> 관심분야 설정 </h5>
                  <div class="card-body">
                    <form id='intsform' enctype="multipart/form-data">
                      {% csrf_token %}
                      {% include 'profile/interests.html' %}
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="col edit-container">
                <div class="card edit-card">
                  <h5 class="card-title"> 사용언어, 기술스택 설정 </h5>
                  <div class="card-body overflow-auto" id='langdiv'>
                    <form id='languageform' name="form2" enctype="multipart/form-data"> 
                      {% csrf_token %}
                      {% include 'profile/languages.html' %}
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col edit-container">
              <div class="card edit-card">
                <h5 class="card-title"> 포트폴리오 설정 </h5>
                  {% csrf_token %}  
                  <div class="card-body">
                    <div class="mb-3">
                      <label for="id_introduction" class="form-label">Introduction</label>
                      <form id="introform">
                        <textarea class="form-control" cols="50" id="id_introduction" name="introduction" rows="1">{{data.account.introduction}}</textarea>
                      </form>
                    </div>
                    <div class="mb-3">
                      <form id="portform">
                        <label for="id_portfolio" class="form-label">Detail</label>
                        <p><textarea class="form-control" cols="55" id="id_portfolio" name="portfolio" rows="12">{{data.account.portfolio}}</textarea></p>
                      </form>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
  </svg>

  
  
</body>
{% endblock %}

{% block script %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile-style.css' %}"> 
<link rel="stylesheet" type="text/css "href="{% static 'css/profile-edit-style.css' %}">

<script>
    function intsAppend(){
        var formData = $("#intsform").serialize();
        formData += "&act=" + 'append';
        formData += "&target=" + '';
        console.log(formData);

        var selected = $("#intsform").find(".placeholder").text();
        console.log(selected);
        var ints = $('.bg-tag-domain');
        var intsarr = [];
        console.log(ints);

        for(int of ints){
          console.log($(int).text());
          intsarr.push($(int).text());
        }

        if(!(intsarr.includes(selected))){
          $("#interestsdiv").append(`<span id='intspan_`+ selected +`'>

            <span class="badge bg-tag-domain me-1">`+ selected +`</span>
            <button type="submit" class="btn btn-outline-dark delete-domain" name="action" value="delete `+ selected +`" onclick="intsDelete('`+ selected +`'); return false;">x
            </button>

            </span>`);
            $.ajax({
            cache : false,
            url : "interestsupdate", // 요기에
            //processData: false,
            //contentType: false,
            type : 'POST', 
            data : formData,
            success : function(data) {
                //var jsonObj = JSON.parse(data);
                console.log('success');
            }, // success 

            error : function(xhr, status) {
                // alert(xhr + " : " + status);
                console.log('error');
                // alert("선택하고 추가해주세요")

            }
            });

        }
    }
    function intsDelete(target){
        var formData = $("#intsform").serialize();
        formData += "&act=" + 'delete';
        formData += "&target=" + target;
        console.log(formData);

        console.log("span[id='intspan_" +  target + "']");
        $("span[id='intspan_" +  target + "']").remove();

        $.ajax({
            cache : false,
            url : "interestsupdate", // 요기에
            //processData: false,
            //contentType: false,
            type : 'POST', 
            data : formData,
            success : function(data) {
                //var jsonObj = JSON.parse(data);
                console.log('success');
            }, // success 
    
            error : function(xhr, status) {
                // alert(xhr + " : " + status);
                console.log('error');
            }
        });
 
    }


    
    function reload_window(){
        return new Promise(function(resolve){
          console.log('language is deleted, reload window');
          $('#languagediv').load(window.location.href + ' #languagediv');
          resolve('hello');
        });
      }
    async function reload(){
      let a = await reload_window();
      console.log('middle of async');
      return('hello');
    }
    $(document).ready(function() {
        var langlists = $('.langlabel');
        console.log(langlists);


    });
    function languageAppend(){
      var formData = $("#languageform").serialize();
      formData += "&act=" + 'append';
      formData += "&target=" + '';
      console.log(formData);
      var langs = $('.langlabel');
      var langsarr = [];
      console.log(langs);
      for(lang of langs){
          console.log($(lang).attr('for').slice(4));
          langsarr.push($(lang).attr('for').slice(4));
      }
      var selected = $("#langdiv").find(".placeholder").text();
      //selected = selected.slice(3);
      
      var selected_nospace;

      selected_nospace = selected.replace(/ /g, "");
      console.log(langsarr);
      console.log(selected);

      console.log(!(langsarr.includes(selected)));
      if(!(langsarr.includes(selected))){
      
        $.ajax({
        cache : false,
          url : "languageupdate",
          type : 'POST', 
          data : formData,
          success : function(data) {
            console.log('success');
          }, 
          error : function(xhr, status) {
              // alert(xhr + " : " + status);
              console.log('선택하고 추가해주세요');
              // alert("선택하고 추가해주세요")
          }  
        });
        $("#languagediv").append(`
        <div id="langdiv_`+ selected_nospace + `"class="langdiv">
        <span style="display:inline-block; width: 120px;">
            <label for="tag_`+ selected_nospace + `" class="badge bg-tag-language me-1 langlabel" style="height:20px; margin-bottom:5px; ">` + selected + `</label>
        </span>
        <span class="range-wrap" style="margin-right:30px;">
            <input style="width:50%; color:#0094FF;" type="range" class="form-control-range lang-tag" min="0" max="4" step="1" value ="0" name ="tag_`+ selected +`" id="tag_`+ selected +`" list="tickmarks">
            <!--output for="range" class="bubble" id="out_` + selected_nospace + `"></output-->
        </span>  
        <button class="btn delete-lang" name="action" onclick="languageDelete('`+ selected +`', '`+ selected_nospace + `'); return false;">
            <svg width="14" height="19" viewBox="0 0 14 19" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 16.5C1 17.6 1.9 18.5 3 18.5H11C12.1 18.5 13 17.6 13 16.5V4.5H1V16.5ZM3 6.5H11V16.5H3V6.5ZM10.5 1.5L9.5 0.5H4.5L3.5 1.5H0V3.5H14V1.5H10.5Z"/>
            </svg>
        </button>
        <hr>
        </div>
      `);
      }

      // reload();
    }
    function languageDelete(target){
      var formData = $("#languageform").serialize();
      formData += "&act=" + 'delete';
      target = encodeURIComponent(target);
      formData += "&target=" + target;

      // console.log(target);
      // console.log(formData);
      
      target = decodeURI(target);
      
      divtarget = target.replace(/ /g, "");
      divtarget = decodeURIComponent(divtarget);
      console.log(divtarget);
      console.log("div[id='langdiv_" +  divtarget + "']");
      $("div[id='langdiv_" +  divtarget + "']").remove();
      $.ajax({
        cache : false,
        url : "languageupdate",
        type : 'POST', 
        data : formData,
        success : function(data) {
          //var jsonObj = JSON.parse(data);
          console.log('success');
        },
    
        error : function(xhr, status) {
          console.log('error');
        }

      });
      /*
      reload();
      */
    }
    
    function saveImg(){
      const imageInput = $("#photo")[0];
      console.log("imageInput: ", imageInput.files)
      
      if(imageInput.files.length > 0){
        const formData = new FormData();
        formData.append("photo", imageInput.files[0]);
        $.ajax({
          type:"POST",
          url: "imgupdate",
          processData: false,
          contentType: false,
          data: formData,
          success: function(rtn){
            //const message = rtn.data.values[0];
            //console.log("message: ", message)
          },
          err: function(err){
            //console.log("err:", err)
          }
        })
      setTimeout(function() {

          location.reload();
        }, 1000);


      }


    }
    
    function saveAll(){
      var formData = $("#portform").serialize();
      formData += '&' + $('#infoform').serialize();
      formData += '&' + $('#introform').serialize();
      formData += '&' + $('.lang-tag').serialize();
      formData += ''
      alert("저장되었습니다.");
      console.log(formData);
      $.ajax({
        cache : false,
        url : "save_all",
        type : 'POST', 
        data : formData,
        success : function(data, response) {
          //var jsonObj = JSON.parse(data);
          
          console.log('success');

        }, // success 
    
        error : function(xhr, status) {
          // alert(xhr + " : " + status);
          console.log('error');
        }

        });
      reload();

    }
  
  function readURL(input) {
    if (input.files && input.files[0]) {
    var reader = new FileReader();  
    reader.onload = function (e) {
      $('#image_section').attr('src', e.target.result);  
    }
      reader.readAsDataURL(input.files[0]);
    }
    console.log('이미지 확인2');
  }
 
  $("#profileimg").ready(function() {
    console.log('change detected');
    $("#photo").change(function(){
      console.log('이미지 확인1-로드');
      let input = this;
      console.log(input);
      if (input.files && input.files[0]) {
        console.log('preview avaliable');
        var reader = new FileReader();  
        reader.onload = function (e) {
          console.log($('#image_section'));
          $('#image_section').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
      }
      console.log('이미지 확인2');
    });
  });

  
  $(document).ready(function() {
    plural = $('#plural_major').attr('value');
    if(plural==0){
      $(":radio[id=flexRadioDefault1]").prop('checked', true);
    }
    else{
      $(":radio[id=flexRadioDefault2]").prop('checked', true);
    }
    $("#flexRadioDefault1").change(function(){
      console.log('라디오변경');
      var radio = $(':radio[name="flexRadioDefault"]:checked').val();
      $('#plural_major').val('0');
      console.log(radio);
      
    });
    $("#flexRadioDefault2").change(function(){
      console.log('라디오변경');
      var radio = $(':radio[name="flexRadioDefault"]:checked').val();
      $('#plural_major').val('1');
      console.log(radio);
      
    });
  });
  $(document).ready(function() {
    team_privacy = $('#teamprivacy').attr('value');
    if(team_privacy == "True"){
      $(":radio[id=teamprivacyradio0]").prop('checked', true);
    }
    else{
      $(":radio[id=teamprivacyradio1]").prop('checked', true);
    }
    $("#teamprivacyradio0").change(function(){
      console.log('라디오변경');
      var radio = $(':radio[name="teamprivacyradio"]:checked').val();
      $('#teamprivacy').val('True');
      console.log($('#teamprivacy').attr('value'));
      
    });
    $("#teamprivacyradio1").change(function(){
      console.log('라디오변경');
      var radio = $(':radio[name="teamprivacyradio"]:checked').val();
      $('#teamprivacy').val('False');
      console.log($('#teamprivacy').attr('value'));
    });
  });
  $(document).ready(function() {
    article_privacy = $('#articleprivacy').attr('value');
    if(article_privacy == "True"){
      $(":radio[id=articleprivacyradio0]").prop('checked', true);
    }
    else{
      $(":radio[id=articleprivacyradio1]").prop('checked', true);
    }
    $("#articleprivacyradio0").change(function(){
      console.log('라디오변경');
      var radio = $(':radio[name="articleprivacyradio"]:checked').val();
      $('#articleprivacy').val('True');
      console.log($('#articleprivacy').attr('value'));
      
    });
    $("#articleprivacyradio1").change(function(){
      console.log('라디오변경');
      var radio = $(':radio[name="articleprivacyradio"]:checked').val();
      $('#articleprivacy').val('False');
      console.log($('#articleprivacy').attr('value'));
    });
  });
  $(document).ready(function() {
    profile_privacy = $('#profileprivacy').attr('value');
    console.log(profile_privacy);
    if(profile_privacy== '0'){
      $(":radio[id=profileprivacyradio0]").prop('checked', true);
    }
    else if(profile_privacy == '1'){
      $(":radio[id=profileprivacyradio1]").prop('checked', true);
    }
    else{
      $(":radio[id=profileprivacyradio2]").prop('checked', true);
    }
    $("#profileprivacyradio0").change(function(){
      console.log('라디오변경');
      var radio = $(':radio[name="profileprivacyradio"]:checked').val();
      $('#profileprivacy').val('0');
      console.log($('#profileprivacy').attr('value'));
    });
    $("#profileprivacyradio1").change(function(){
      console.log('라디오변경');
      var radio = $(':radio[name="profileprivacyradio"]:checked').val();
      $('#profileprivacy').val('1');
      console.log($('#profileprivacy').attr('value'));
    });
    $("#profileprivacyradio2").change(function(){
      console.log('라디오변경');
      var radio = $(':radio[name="profileprivacyradio"]:checked').val();
      $('#profileprivacy').val('2');
      console.log($('#profileprivacy').attr('value'));
    });
  });


</script>

{% endblock %}