{% extends 'main.html' %}

{% load static %}
{% load tag_templatetag %}
{% block content %}
{% if error_occur %}
<div class="container my-4">
잘못된 페이지 입니다.
</div>
{% else %}
<div class="container my-4">
    <div style="height: 42px;"></div>
    <div id="community-container" class="row">
        {% include "community/sidebar.html" %}
        <div class="col-md-9">
            <div id="board-title-bar" class="d-flex justify-content-center" id="board-title-bar">
                <div id="board-title">
                    <a href="/community/home/{{board.name}}/{{board.id}}">
                        {{ board.name }} 게시판
                    </a>
                </div>
            </div>
            <!-- type은 세가지 값이 가능: view / register / edit -->
            <div id="article-content">
                {% if type == 'view' %}
                <!-- article view -->
                {% include 'community/article/includes/content-view.html' %}
                {% else %}
                <!-- article add or edit -->
                {% include 'community/article/includes/content-edit.html' %}
                {% endif %}
            </div>
            <div id="comment-content">
                {% if type != 'register' %}
                <!-- comment -->
                {% include 'community/article/includes/comments.html' %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}
{% block script %}
<script>
    var category_select;
    let board_type = "{{ board.board_type }}" ;
    $(document).ready(function () {
        var view_type = "{{type}}";
        if (view_type != 'view') {
            category_select = new SlimSelect({
                select: '#multiple',
                placeholder: 'Tag',
                onChange: (selected_list) => {
                    for (selected of selected_list) {
                        $(`.ss-value[data-id="${selected.id}"]`).addClass('bg-' + selected.class)
                    }
                }
            });
        }

        if (view_type == 'register' && board_type == "Recruit") {
            console.log('....');
            const linkedPicker1Element = document.getElementById('PeriodPickerStart');
            const linked1 = new tempusDominus.TempusDominus(linkedPicker1Element, {
                localization: {
                    dayViewHeaderFormat: {
                        month: 'long',
                        year: '2-digit'
                    },
                    locale: 'en',
                },
            });
            const linked2 = new tempusDominus.TempusDominus(document.getElementById(
                'PeriodPickerEnd'), {
                localization: {
                    dayViewHeaderFormat: {
                        month: 'long',
                        year: '2-digit'
                    },
                    locale: 'en',
                },
                useCurrent: false
            });

            //using event listeners
            linkedPicker1Element.addEventListener(tempusDominus.Namespace.events.change, (e) => {
                linked2.updateOptions({
                    restrictions: {
                        minDate: e.detail.date
                    }
                });
            });
            //using subscribe method
            const subscription = linked2.subscribe(tempusDominus.Namespace.events.change, (e) => {
                linked1.updateOptions({
                    restrictions: {
                        maxDate: e.date
                    }
                });
            });
        }
        $('#comment-is-anonymous').click(function() {
            if($(this).is(":checked")){
                $('#comment-writer-display').html('익명');
                $('#comment-writer-display').addClass('annonymous');
            }
            else{
                $('#comment-writer-display').html($('#comment-writer-display').attr('value'));
                $('#comment-writer-display').removeClass('annonymous');
            }
        });
    });
    function setToDateEnd(){
        let today = new Date();
        $('#PeriodPickerEndInput').val(today.toLocaleString('en-US'));
    }

    function edit_submit(event) {
        console.log('TEST');
        event.preventDefault();
        var t = $('#article-form').attr('edit-type');
        if (t == 'register') {
            {#console.log('1');#}
            registerArticle();
        } else {
            {#console.log('2');#}
            updateArticle();
        }
        return false;
    }

    function registerArticle() {
        ajax_form_data = new FormData();
        ajax_form_data.append('title', $('#article-title').val());
        ajax_form_data.append('body', $('#article-body').val());
        ajax_form_data.append('is_anonymous', $('#is-anonymous').prop('checked'));
        ajax_form_data.append('tags', category_select.selected().toString());
        ajax_form_data.append('board_name', '{{ board.name }}');
        ajax_form_data.append('board_id', '{{ board.id }}'); 
        let board_type = "{{ board.board_type }}" ;
        if(board_type == 'Recruit'){
            ajax_form_data.append('team_id', $('#team-option').val());
            const offset = new Date().getTimezoneOffset() * 60000;
            var period_start_date = new Date($('#PeriodPickerStartInput').val())-offset;
            var period_end_date = new Date($('#PeriodPickerEndInput').val())-offset;
            ajax_form_data.append('period_start', new Date(period_start_date).toISOString());
            ajax_form_data.append('period_end', new Date(period_end_date).toISOString());
        }
        else if(board_type == 'Team'){
            ajax_form_data.append('team_id', {{board.team.id}});
        }

        ajax_form_data.append('csrfmiddlewaretoken', csrftoken);

        if (confirm("글을 등록하시겠습니까?")) {
            $.ajax({
                type: "POST",
                url: "{% url 'community:article-c' %}",
                data: ajax_form_data,
                dataType: 'json',
                processData: false,
                contentType: false,

                success: function (data) {
                    console.log(data);
                    if (data['status'] == "success") {
                        alert('등록이 완료되었습니다!') 
                        {% if board %}
                        window.location.href = "{% url 'community:Board' board_name=board.name board_id=board.id %}";
                        {% endif %}
                    } else {
                        alert(data['message']);
                        // alert('Error Occured');
                    }
                },
                error: function (data) {
                    alert('Error Occured');
                }
            });
        }
    }
    

    function registerComment() {

        ajax_form_data = new FormData();
        ajax_form_data.append('body', $('#comment-body').val());
        ajax_form_data.append('is_anonymous', $('#comment-is-anonymous').prop('checked'));
        ajax_form_data.append('article_id', '{{ article.id }}');

        ajax_form_data.append('csrfmiddlewaretoken', csrftoken);

        if (confirm("댓글을 등록하시겠습니까?")) {
            $.ajax({
                type: "POST",
                url: "{% url 'community:comment-c' %}",
                data: ajax_form_data,
                dataType: 'json',
                processData: false,
                contentType: false,
                csrfmiddlewaretoken: '{{ csrf_token }}',

                success: function (data) {
                    console.log(data);
                    console.log('2');
                    if (data['status'] == "success") {
                        console.log('3');
                        alert('등록이 완료되었습니다!');
                        $('#comment-content').html(data['html']);
                    } else {
                        alert(data['message']);
                    }
                },
                error: function (data) {
                    console.log('5');
                    alert('An error occured.\n다시 시도해주세요.');
                }
            });
        }
    }

    function deleteComment(comment_id) {
        ajax_form_data = new FormData();
        ajax_form_data.append('comment_id', comment_id);
        ajax_form_data.append('csrfmiddlewaretoken', csrftoken);

        if (confirm("댓글을 삭제하시겠습니까?")) {
            $.ajax({
                type: "POST",
                url: "{% url 'community:comment-d' %}",
                data: ajax_form_data,
                dataType: 'json',
                processData: false,
                contentType: false,
                csrfmiddlewaretoken: '{{ csrf_token }}',

                success: function (data) {
                    console.log(data);
                    if (data['status'] == "success") {
                        alert('삭제가 완료되었습니다!');
                        $('#comment-content').html(data['html']);
                    } else {
                        alert('An error occured.\n 다시 시도해주세요.');
                    }
                },
                error: function (data) {
                    alert('An error occured.\n 다시 시도해주세요.');
                }
            });
        }
    }
</script>
{% if article.writer.user == user %}
<script>
    function edit(){
        ajax_form_data=new FormData();
        ajax_form_data.append('csrfmiddlewaretoken', csrftoken);
        if (confirm("글을 수정하시겠습니까?")) {
            $.ajax({
                type: "POST",
                url: window.location.href,
                data: ajax_form_data,
                dataType: 'json',
                processData: false,
                contentType: false,

                success: function (data) {
                    $('#article-content').html(data['html']);
                    category_select = new SlimSelect({
                        select: '#multiple',
                        placeholder: 'Tag',
                        onChange: (selected_list) => {
                            for (selected of selected_list) {
                                $(`.ss-value[data-id="${selected.id}"]`).addClass('bg-' +
                                    selected.class)
                            }
                        }
                    });
                    category_select.set(data['tags']);
                    {% if board.board_type == 'Recruit' %}
                    const linkedPicker1Element = document.getElementById('PeriodPickerStart');
                    const linked1 = new tempusDominus.TempusDominus(linkedPicker1Element, {
                        localization: {
                            dayViewHeaderFormat: {
                                month: 'long',
                                year: '2-digit'
                            },
                            locale: 'en',
                        },
                    });
                    linked1.dates.setFromInput(
                        "{{article.period_start|date:'Y-m-d'}}T{{article.period_start|date:'H:i:s'}}");
                    const linked2 = new tempusDominus.TempusDominus(document.getElementById(
                        'PeriodPickerEnd'), {
                        localization: {
                            dayViewHeaderFormat: {
                                month: 'long',
                                year: '2-digit'
                            },
                            locale: 'en',
                        },
                        useCurrent: false
                    });
                    linked2.dates.setFromInput(
                        "{{article.period_end|date:'Y-m-d'}}T{{article.period_end|date:'H:i:s'}}");

                    //using event listeners
                    linkedPicker1Element.addEventListener(tempusDominus.Namespace.events.change, (e) => {
                        linked2.updateOptions({
                            restrictions: {
                                minDate: e.detail.date
                            }
                        });
                    });
                    //using subscribe method
                    const subscription = linked2.subscribe(tempusDominus.Namespace.events.change, (e) => {
                        linked1.updateOptions({
                            restrictions: {
                                maxDate: e.date
                            }
                        });
                    });
                    {% endif %}
                },
                error: function (data) {
                    alert('Error Occured');
                }
            });
        }
    } 

</script>
{% endif %}

{% if article %}
<script>
    function updateArticle() {
        ajax_form_data = new FormData();
        ajax_form_data.append('title', $('#article-title').val());
        ajax_form_data.append('body', $('#article-body').val());
        ajax_form_data.append('is_anonymous', $('#is-anonymous').prop('checked'));
        ajax_form_data.append('tags', category_select.selected().toString());
        ajax_form_data.append('board_name', '{{ board.name }}');
        ajax_form_data.append('board_id', '{{ board.id }}');
        ajax_form_data.append('article_id', '{{ article.id }}');

        {% if board.board_type == 'Recruit' %}
        const offset = new Date().getTimezoneOffset() * 60000;
        var period_start_date = new Date($('#PeriodPickerStartInput').val())-offset;
        var period_end_date = new Date($('#PeriodPickerEndInput').val())-offset;
        ajax_form_data.append('period_start', new Date(period_start_date).toISOString());
        ajax_form_data.append('period_end', new Date(period_end_date).toISOString());
        {% endif %}
        ajax_form_data.append('csrfmiddlewaretoken', csrftoken);

        if (confirm("수정을 완료하시겠습니까?")) {
            $.ajax({
                type: "POST",
                url: "{% url 'community:article-u' %}",
                data: ajax_form_data,
                dataType: 'json',
                processData: false,
                contentType: false,

                success: function (data) {
                    if (data['status'] == "success") {
                        alert('수정이 완료되었습니다!') 
                        {% if article %}
                        window.location.href = "{% url 'community:article-view' article_id=article.id %}"; 
                        {% endif %}
                    } else {
                        alert(data['message']);
                    }
                },
                error: function (data) {
                    alert('Error Occured');
                }
            });
        }
    }

    function deleteArticle() {
        ajax_form_data = new FormData();
        ajax_form_data.append('article_id', '{{ article.id }}');

        ajax_form_data.append('csrfmiddlewaretoken', csrftoken);
        $('#article-form').submit();
        if (confirm("글을 삭제하시겠습니까?")) {
            $.ajax({
                type: "POST",
                url: "{% url 'community:article-d' %}",
                data: ajax_form_data,
                dataType: 'json',
                processData: false,
                contentType: false,

                success: function (data) {
                    if (data['status'] == "success") {
                        alert('삭제가 완료되었습니다!') 
                        {% if board %}
                        window.location.href =
                            "{% url 'community:Board' board_name=board.name board_id=board.id %}"; 
                        {% endif %}
                    } else {
                        alert(data['message']);
                    }
                },
                error: function (data) {
                    alert('Error Occured');
                }
            });
        }
    } 
</script>
{% endif %}
<link rel="stylesheet" type="text/css" href="{% static 'css/community-base.css' %}">
{% endblock script %}
