{% extends 'main.html' %}

{% load static %}
{% load tag_templatetag %}
{% block content %}
{% if error_occur %}
<div class="container my-4">
잘못된 페이지 입니다.
</div>
{% else %}
<div class="container my-4">
    <div id="community-container" class="row justify-content-end">
        {% include "community/sidebar.html" %}
        <div id="community-main" class="col-md-9">
            {% if need_login %}
            <div class="m-2">
                로그인이 필요한 서비스입니다. <a href="/accounts/login/">바로가기</a>
            </div>
            {% elif need_member %}
            <div class="m-2">
                팀 멤버만 열람할 수 있습니다. <a href="{% url 'community:Board' board_name="팀 모집" board_id=2%}">팀 모집 게시판 확인하기</a>
            </div>
            {% else %}
            <div id="article-content">
            {# type은 세가지 값이 가능: view / register / edit #}
            {% if type == 'view' %}
                {# article view #}
                {% include 'community/article/includes/content-view.html' with type=type %}
            {% else %}
                {#  article add or edit #}
                {% include 'community/article/includes/content-edit.html' with type=type %}
            {% endif %}
            </div>
            <div id="comment-content">
                {% if type != 'register' %}
                {# comment #}
                {% include 'community/article/includes/comments.html' with article_id=article.id type=type %}
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}
{% block script %}
<script>
    var category_select;
    let board_type = "{{ board.board_type }}" ;
    $(document).ready(function () {
        var view_type = "{{type}}";
        if (view_type !== 'view') {
            category_select = new SlimSelect({
                select: '#content-category',
                placeholder: 'Tag',
                onChange: (selected_list) => {
                    for (let selected of selected_list) {
                        $(`.ss-value[data-id="${selected.id}"]`).addClass('bg-' + selected.class)
                    }
                }
            });
        }

        if (view_type == 'register' && board_type == "Recruit") {
            console.log('....');
            const linkedPicker1Element = document.getElementById('PeriodPickerStart');
            const linked1 = new tempusDominus.TempusDominus(linkedPicker1Element, {
                localization: {
                    dayViewHeaderFormat: {
                        month: 'long',
                        year: '2-digit'
                    },
                    locale: 'en',
                },
            });
            const linked2 = new tempusDominus.TempusDominus(document.getElementById(
                'PeriodPickerEnd'), {
                localization: {
                    dayViewHeaderFormat: {
                        month: 'long',
                        year: '2-digit'
                    },
                    locale: 'en',
                },
                useCurrent: false
            });

            //using event listeners
            linkedPicker1Element.addEventListener(tempusDominus.Namespace.events.change, (e) => {
                linked2.updateOptions({
                    restrictions: {
                        minDate: e.detail.date
                    }
                });
            });
            //using subscribe method
            const subscription = linked2.subscribe(tempusDominus.Namespace.events.change, (e) => {
                linked1.updateOptions({
                    restrictions: {
                        maxDate: e.date
                    }
                });
            });
        }
    });
    function setToDateEnd(){
        $('#PeriodPickerEndInput').val(new Date().toLocaleString("en-US"));
    }
</script>
{% if article.writer.user == user %}
<script>
    function edit(){
        ajax_form_data=new FormData();
        // csrf 토큰만 전송
        ajax_form_data.append('csrfmiddlewaretoken', csrftoken);
        if (confirm("글을 수정하시겠습니까?")) {
            $.ajax({
                type: "POST",
                url: window.location.href,
                data: ajax_form_data,
                dataType: 'json',
                processData: false,
                contentType: false,

                success: function (data) {
                    $('#article-content').html(data['html']);
                    category_select = new SlimSelect({
                        select: '#content-category',
                        placeholder: 'Tag',
                        onChange: (selected_list) => {
                            for (let selected of selected_list) {
                                $(`.ss-value[data-id="${selected.id}"]`).addClass('bg-' + selected.class)
                            }
                        }
                    });
                    category_select.set(data['tags']);
                    {% if board.board_type == 'Recruit' %}
                    const linkedPicker1Element = document.getElementById('PeriodPickerStart');
                    const linked1 = new tempusDominus.TempusDominus(linkedPicker1Element, {
                        localization: {
                            dayViewHeaderFormat: {
                                month: 'long',
                                year: '2-digit'
                            },
                            locale: 'en',
                        },
                    });
                    linked1.dates.setFromInput(
                        "{{article.period_start|date:'Y-m-d'}}T{{article.period_start|date:'H:i:s'}}");
                    const linked2 = new tempusDominus.TempusDominus(document.getElementById(
                        'PeriodPickerEnd'), {
                        localization: {
                            dayViewHeaderFormat: {
                                month: 'long',
                                year: '2-digit'
                            },
                            locale: 'en',
                        },
                        useCurrent: false
                    });
                    linked2.dates.setFromInput(
                        "{{article.period_end|date:'Y-m-d'}}T{{article.period_end|date:'H:i:s'}}");

                    //using event listeners
                    linkedPicker1Element.addEventListener(tempusDominus.Namespace.events.change, (e) => {
                        linked2.updateOptions({
                            restrictions: {
                                minDate: e.detail.date
                            }
                        });
                    });
                    //using subscribe method
                    const subscription = linked2.subscribe(tempusDominus.Namespace.events.change, (e) => {
                        linked1.updateOptions({
                            restrictions: {
                                maxDate: e.date
                            }
                        });
                    });
                    {% endif %}
                    $("#comment-content").css("display", "none");
                    article.init();
                },
                error: function (data) {
                    console.log("error", data);
                    alert('Error Occured');
                }
            });
        }
    }
</script>
{% endif %}
<script type="text/javascript" src="{% static 'js/article.js' %}"></script>
<script type="text/javascript" src="{% static 'js/comment.js' %}"></script>
<script type="text/javascript" src="{% static 'js/community_base.js' %}"></script>
{% endblock script %}
