#wrapper {
  padding-left: 48px;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

#sidebar-wrapper {
  width: 48px;
  z-index: 1000;
  position: fixed;
  left: 260px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background-color: #ffffff !important;
  border-right: 1px #555555 solid;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.fold {
  padding-left: 48px;
}
#wrapper svg {
  float: right;
}
.sidebar-nav {
  position: absolute;
  top: 5px;
  right: 17px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav li {
  text-indent: 20px;
  margin-bottom: 12px;
  min-height: 32px;
}
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #000000;
}
.sidebar-menu {
  margin-left: 8px;
  visibility: hidden;
  display: none;
  font-family: 'nanumfont_Bold';
}
.sidebar-toggle {
  height: 36px;
}
#menu-toggle {
  display: none;
}

@media (min-width: 769px) {
  #wrapper {
    padding-left: 160px;
  }
  #wrapper.fold #sidebar-wrapper {
    width: 48px;
  }
  #wrapper .sidebar-menu {
    visibility: visible;
    display: block;
  }
  #wrapper svg {
    float: right;
  }
  #sidebar-wrapper {
    width: 180px;
  }
  #content-wrapper {
    width: 100%;
  }
  .sidebar-nav {
    width: 180px;
  }
  #menu-toggle {
    cursor: pointer;
    display: block;
  }
}

.coworker-img {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 50%;
  object-fit: cover;
}
.coworker-img-container {
  width: fit-content;
  height: fit-content;
}
.coworker-container {
  height: 270px;
  overflow-y: auto;
  padding: 8px 16px;
}
.coworker-box {
  border-bottom: 1px var(--gray-300) solid;
  padding: 12px;
}
.dashboard-box {
  padding: 12px;
  background-color: var(--main-white);
  box-shadow: 0 4px 4px var(--card-box-shadow);
  border-radius: 15px;
  font-family: 'nanumfont_Bold';
}
.coworker-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--gray-700);
  gap: 4px;
}
.coworker-link:hover {
  color: var(--main-selected-color);
}
