.weakText {
  color: var(--main-icon-color);
  font-size: 14px;
}
.weakText a {
  color: var(--main-icon-color);
  text-decoration: none;
}

.weakText a:hover {
  color: var(--main-selected-color);
}
