@media screen and (max-width: 767px) {
  .logo {
    margin-right: auto;
  }
  .header {
    flex-direction: column !important;
  }
  .header-toggler {
    display: block !important;
  }
  .toggle-display-none {
    display: none !important;
  }

  .header-navbar {
    justify-content: space-between;
  }

  .head-of-header {
    justify-content: flex-end !important;
  }
  .body-of-header {
    flex-direction: column !important;
  }

  .on-mobile {
    display: flex !important;
  }
  .on-desktop {
    display: none !important;
  }
}

@media screen and (max-width: 991px) {
  .siteTitle {
    display: none !important;
  }
  .body-of-header {
    width: auto !important;
  }
}

@media screen and (max-width: 450px) {
}
.search {
  flex: 1 1 auto;
}

.siteTitle {
  margin-left: 10px;
  margin-right: 20px;
  font-weight: 700;
  color: var(--main-black);
  letter-spacing: -2px;
}

header {
  background-color: var(--header-bg-color);
  border-bottom: 1px solid var(--main-border-color);
}

.logo {
  display: flex;
  align-items: center;
}

.header {
  justify-content: space-between;
}

.sidebar-in-header {
  display: none;
}

.badge-new {
  height: 0.5rem;
  width: 0.5rem;
  position: absolute;
  background-color: var(--alert-color);
  border-radius: 50%;
  padding: 0.25rem;
}

.header-navbar {
  display: flex;
}

.header-navbar-menu {
  font-weight: 300;
  letter-spacing: -1px;
  margin: 15px;
  text-decoration: none;
  color: var(--main-font-color);
}

.head-of-header {
  justify-content: space-between;
}

.header-toggler {
  display: none;
  background-color: var(--header-bg-color);
  border: 0;
}
.header-toggler:hover {
  cursor: pointer;
  background-color: lightgray;
  border-radius: 10px;
}

.body-of-header {
  width: 75%;
  justify-content: space-between;
  display: flex;
}

.on-mobile {
  display: none;
}

.on-desktop {
  display: flex;
}

.header-profile-img {
  border: 2px solid var(--main-black);
  border-radius: 50%;
}
.header-profile-img:hover {
  cursor: pointer;
}
