@media screen and (max-width: 767px) {
  .logo {
    margin-right: 10px;
  }
}

@media screen and (max-width: 991px) {
  .siteTitle {
    display: none !important;
  }
}

@media screen and (max-width: 450px) {
  .search {
    visibility: hidden;
    cursor: default;
    flex: 1 1 auto;
  }
  .searcher-box {
    margin-left: 10px;
  }
}
.search {
  flex: 1 1 auto;
}

.list a {
  text-decoration: none;
  color: var(--main-black);
}

.list a:hover,
.list a.active {
  color: var(--sub-point-color);
  text-decoration: underline;
}
