@media screen and (max-width: 767px) {
  .logo {
    margin-right: 10px;
  }
}

@media screen and (max-width: 991px) {
  .siteTitle {
    display: none !important;
  }
}

@media screen and (max-width: 450px) {
  .search {
    visibility: hidden;
    cursor: default;
    flex: 1 1 auto;
  }
  .searcher-box {
    margin-left: 10px;
  }
}
.search {
  flex: 1 1 auto;
}

.siteTitle {
  margin-left: 10px;
  font-weight: 900;
  color: var(--main-black);
  letter-spacing: -2px;
}

header {
  background-color: var(--header-bg-color);
  border: 1px solid var(--main-border-color);
}

.logo {
  display: flex;
  align-items: center;
}

.header {
  justify-content: space-between;
}

.badge-new {
  height: 0.5rem;
  width: 0.5rem;
  position: absolute;
  background-color: var(--alert-color);
  border-radius: 50%;
  padding: 0.25rem;
}

.nav-bar {
  display: flex;
}

.nav-bar-menu {
  font-weight: 300;
  letter-spacing: -1px;
  margin: 15px;
  text-decoration: none;
  color: var(--main-font-color);
}
