.articleBar {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  border-bottom: 1px solid var(--main-border-color);
  border-right: 1px solid var(--main-border-color);
}

.articleBoard {
  font-size: 20px;
  font-weight: bolder;
  color: var(--main-selected-color);
}

.articleTeam > div {
  max-width: 50%;
}

.articleTeam {
  gap: 20px;
  justify-content: space-between;
  flex-direction: row !important;
}

.articleBody,
.articleTeam {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--main-border-color);
  border-right: 1px solid var(--main-border-color);
  border-left: 1px solid var(--main-border-color);
  margin-left: -1px;
  padding: 20px;
}

.articleTitle {
  font-family: Inter;
  font-size: 30px;
  font-weight: 00;
  text-align: left;
  color: black;
}

.articleContent {
  min-height: 300px;
  margin: 20px 0;
}

.artcleInfo {
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.commentContainer {
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--main-border-color);
  border-left: 1px solid var(--main-border-color);
  border-bottom: 1px solid var(--main-border-color);
  margin-left: -1px;
}

.comment {
  border-top: 1px solid var(--main-border-color);
}

.commentContent {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: right;
  color: #454545;
}
