.commentContainer {
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--main-border-color);
  border-left: 1px solid var(--main-border-color);
  border-bottom: 1px solid var(--main-border-color);
  margin-left: -1px;
}

.commentInput {
  padding: 20px 20px;
}

.comment {
  border-top: 1px solid var(--main-border-color);
  padding: 10px 30px;
}

.commentContent {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #454545;
}

.commentLine1 {
  padding: 10px 0px 0px 0px;
}

.commentLine2 {
  padding: 10px 0px;
}
