@media screen and (max-width: 767px) {
  .articleButton {
    margin-right: 0 !important;
  }
  .articleTeam {
    flex-direction: column !important;
  }
  .articleTeamDivide {
    max-width: 100% !important;
    justify-content: space-between !important;
  }
}

.articleBar {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  border-bottom: 1px solid var(--main-border-color);
  border-right: 1px solid var(--main-border-color);
}

.articleFile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 0;
}

.articleFileList {
  align-items: center;
  padding: 0px 20px;
  border: 1px solid var(--main-border-color);
  margin: -1px 0 0 -1px;
}

.articleFileName {
  cursor: pointer;
}
.articleFileName:hover {
  text-decoration: underline;
}

.articleButton {
  width: 80px;
  margin-right: 50px;
}

.articleBoard {
  font-size: 20px;
  font-weight: bolder;
  color: var(--main-selected-color);
}

.articleTeam {
  justify-content: space-between;
  gap: 20px;
}

.articleTeamDivide > div {
  overflow: hidden;
  word-wrap: break-word;
  min-width: 100px;
}

.articleTeamDivide {
  gap: 20px;
  display: flex;
  flex-direction: row !important;
  max-width: 50%;
}

.articleBody,
.articleTeam {
  display: flex;
  border-bottom: 1px solid var(--main-border-color);
  border-right: 1px solid var(--main-border-color);
  border-left: 1px solid var(--main-border-color);
  margin-left: -1px;
  padding: 30px 20px 20px 20px;
}

.articleBody {
  flex-direction: column;
}

.articleTitle {
  font-family: Inter;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  color: black;
}

.articleContent {
  min-height: 300px;
  padding: 20px 0;
}

.articleInfo {
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.articleBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.commentContainer {
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--main-border-color);
  border-left: 1px solid var(--main-border-color);
  border-bottom: 1px solid var(--main-border-color);
  margin-left: -1px;
}

.commentInput {
  padding: 20px 20px;
}

.comment {
  border-top: 1px solid var(--main-border-color);
  padding: 10px 20px;
}

.commentContent {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: right;
  color: #454545;
}

.commentLine1 {
  padding: 10px 0px 0px 0px;
}

.commentLine2 {
  padding: 10px 0px;
}
