<div id="active-article">
  {% if active_article|length == 0 %}
  <div id="no-active-article">
    모집중 게시물이 없습니다.
  </div>
  {% else %}
  <div class="carousel slide" data-bs-ride="carousel" id="active-article-list">
    <div class="carousel-inner" role="listbox">
      {% for article in active_article %}
      {% if forloop.first %}
      <div class="carousel-item active">
      {% else %}
      <div class="carousel-item">
      {% endif %}
        <div class="p-2">
          <div class="active-article-item" onclick="location.href='{% url 'community:article-view' article.id %}'" >
            <div class="team-profile d-flex">
              <img src="{{article.team.image.url}}" alt="profile" class="active-article-item-team-image">
              <div>
                <div class="active-article-item-team-name">
                  {{article.team.name}}
                </div>
                <div class="active-article-item-team-desc">
                  {{article.team.description}}
                </div>
              </div>
            </div>
            <div class="fw-bold">{{article.title}}</div>
            <div>
              {% for tag in article.tags %}
              <span class="badge bg-tag-{{tag.type}}">{{tag.name}}</span>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <a class="carousel-control-prev bg-transparent w-aut" href="#active-article-list" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a class="carousel-control-next bg-transparent w-aut" href="#active-article-list" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
  </div>
  {% endif %}
</div>
<script>
  $(function() {
      $('.carousel').carousel({
              {#interval: 100,#}
            number:3,
          }
      );

  });
</script>