<div id="active-article">
  <div class="carousel slide" data-bs-ride="carousel" id="active-article-list">
    <div class="carousel-inner" role="listbox">
      {% for article in active_article %}
      {% if forloop.first %}
      <div class="carousel-item active">
      {% else %}
      <div class="carousel-item">
      {% endif %}
        <div class="col-3 p-2">
          <div class="h-100 w-100 border p-1" onclick="location.href='{% url 'community:article-view' article.id %}'" >
            <div class="team-profile d-flex">
              <img src="{{article.team.image.url}}" alt="profile" class="w-50">
              <div>
                <div>
                  {{article.team.name}}
                </div>
                <div>
                  {{article.team.description}}
                </div>
              </div>
            </div>
            <div class="fw-bold">{{article.title}}</div>
            <div>
              {% for tag in article.tags %}
              <span class="badge bg-tag-{{tag.type}}">{{tag.name}}</span>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <a class="carousel-control-prev bg-transparent w-aut" href="#active-article-list" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a class="carousel-control-next bg-transparent w-aut" href="#active-article-list" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
  </div>
</div>
<script>
  $(function() {
    let items = document.querySelectorAll('.carousel .carousel-item')
    items.forEach((el) => {
        const minPerSlide = 4
        let next = el.nextElementSibling
        for (var i=1; i<minPerSlide; i++) {
            if (!next) {
                // wrap carousel by using first child
              next = items[0]
            }
            let cloneChild = next.cloneNode(true)
            el.appendChild(cloneChild.children[0])
            next = next.nextElementSibling
        }
    })
  });
</script>