<!DOCTYPE html>
<html lang="ko">
{% extends 'main.html' %}

{% load static %}
{% load tag_templatetag %}
{% block content %}
<div class="container my-4">
  <div class="row">
    {% include "community/sidebar.html" %}
    <div class="col-9">
      {% if board.board_type == 'Recruit' %}
        {% include "community/board/article-carousel.html" %}
      {% endif %}
      {% if board.board_type == 'Team' %}
        {% include "community/board/team-tab.html" %}
      {% endif %}
      <div class="d-flex justify-content-between bg-light" id="board-title-bar">
        <div class="d-flex col-8 justify-content-start">
          <h2>{{ board.name }} 게시판</h2>
          <div class="my-auto col-6" id="tag-filter">
            <select class="mx-2" style="min-width: 25%;" id="tag-select" multiple>
              {% category_tag request %}
            </select>
          </div>
        </div>
        <div class="my-auto">
          <a class="btn btn-outline-secondary"
             {% if board %}
             href="{% url 'community:article-register' board_name=board.name board_id=board.id %}"
             {% endif %}
          >
            글쓰기
            <i class="bi-pencil"></i>
          </a>
        </div>
      </div>
      <div id="article-list-body">
      </div>
      {% include "community/board/board-footer.html" with board=board %}
    </div>
  </div>
</div>
{% endblock content %}
{% block script %}
<script>
  $(function(){
  var tag_selector = new SlimSelect({
    select: '#tag-select',
    onChange: (selected_list) => {
      for(selected of selected_list){
        $(`.ss-value[data-id="${selected.id}"]`).addClass('bg-' + selected.class)
      }
      redraw();
    }
  })});
</script>
<link rel="stylesheet" type="text/css" href="{% static 'css/community-base.css' %}">
{% endblock script %}

</html>