{% load community_tag %}
<div class="d-flex flex-row justify-content-between" style="height:40px;margin-top:10px;">
    <div class="border rounded" style="padding-left:10px;padding-right:5px;height:40px;line-height:40px;margin-right:10px;font-weight:bold;">댓글쓰기</div>
    <input class="form-control" placeholder="댓글을 입력해주세요." style="flex:1;height:40px;line-height:40px;display:block;margin-right:10px;">
    <div><button class="rounded-circle border-2" style="background:none;font-size:20px;"><i class="bi-chat-left-dots"></i></button></div>
</div>
<div class="list-group" style="border-radius:0px;width:100%;margin-top:10px;">
    {% for comment in comments %}
        <div class="list-group-item w-100" style="padding-top:5px;padding-left:3px;padding-right:3px;">
            <div class="bg-light d-flex flex-row justify-content-between w-100">
                <div><image></image><span>{{ comment.writer_id }}</span></div>
                <div style="flex:1">{{ comment.body }}</div>
                <div class="d-flex flex-row justify-content-end" style="">
                <div style="line-height:40px;padding-left:10px;">
                    <!--todo: 1. comment_is deleted 추가, 2.로그인한계정별로 -->
                    <span style="cursor:pointer" onclick="removeComment();">삭제</span>
                </div>
                <div style="height:40px;line-height:31px;padding-left:10px;" class="d-flex flex-column">
                <div style="height:10px;font-size:5px;">
                    {{ article.pub_date|time_before }}
                </div>
                <div style="height:10px;font-size:5px;">
                    {{ article.pub_date|time:"h:i a" }}
                </div>
                </div>
            </div>
            </div>
        </div>
    {% empty %}
        <div>댓글을 등록해주세요.</div>
    {% endfor %}
</div>