{% load tag_templatetag %}
{% load community_tag %}
{% load static %}

<form method="post" action=".." class="row" onSubmit="return false;" style="padding-left:10px; ">
    <!--article content-->
    <div class="d-flex flex-column border border-2 rounded" style="padding:10px;">
        <div class="d-flex flex-row justify-content-between" style="height:40px;">
            <div class="border-2 border-bottom" style="flex:1;width:80%;padding-left:10px;margin-bottom:5px;font-weight:bold;line-height:40px;">
                {% if board.board_type == 'Recruit' %}
                    [{{ article.team.name }}]
                {% endif %}
                {{ article.title }}
            </div>
            <div class="d-flex flex-row justify-content-end">
                <div style="line-height:40px;padding-left:10px;">
                    {% if user == article.writer.user %}
                    <span style="cursor:pointer" onclick="edit()">수정</span> 
                    <span style="cursor:pointer" onclick="deleteArticle();">삭제</span>
                    {% elif not article.anonymous_writer %}
                        <a href="/user/{{article.writer.user.username}}">{{article.writer.user.username}}</a>
                    {% endif %}
                </div>
                <div style="height:40px;line-height:31px;padding-left:10px;" class="d-flex flex-column">
                <div style="height:10px;font-size:5px;">
                    {{ article.pub_date|time_before }}
                </div>
                <div style="height:10px;font-size:5px;">
                    {{ article.pub_date|time:"h:i a" }}
                </div>
                </div>
            </div>

        </div>
        <div>
            <div class="border-2 border-bottom" style="width:100%; padding-top:10px; padding-left:10px; overflow:auto; max-height:350px; min-height:350px;">{{ article.body }}</div>
        </div>
        <div style="margin-top:5px;" class="ss-97888 ss-main" style>
            <div class="ss-multi-selected">
                <div class="ss-values">
                    {% for tag in tags %}
                        <div class="ss-value bg-tag-{{tag.tag.type}}">
                            <span class="ss-value-text"># {{ tag.tag.name }}</span>
                        </div>
                    {% empty %}
                        <span style="padding-left:5px;">태그 없음</span>
                    {% endfor %}
                </div>
            </div>
{#            <input name='tags' value='tag1,tag2' placeholder="게시판 관련 태그" style="border-top:none;border-left:none;border-right:none;" readonly >#}

        </div>
    </div>
</form>
{% if board.board_type == 'Recruit' %}
<div class="form-control d-flex flex-row justify-content-between" style="width:100%;padding-bottom:10px;margin-top:5px;">
    <div class="d-flex flex-row">
        {% if article.team %}
        <div class="f-bold">팀 정보 |</div>
        <div>{{ article.team.name }} <br> {{ article.team.description }}</div>
        {% else %}
        <div>
            팀 정보가 없습니다.
        </div>
        {% endif %}
    </div>
    {% is_teammember article.team request.user as is_teammember %}
    {% if not is_teammember %}
        {% teaminvitemessage article.team request.user as teaminvitemessage %}
        {% if not teaminvitemessage %}
        <div>
            <button id="team-apply" data-team-id="{{ article.team.id }}" class="btn btn-secondary h-100" style="font-size:13px;">지원하기</button>
        </div>
        {% else %}
        <div>
            <div class="btn btn-secondary h-100" style="font-size:13px;">{{ teaminvitemessage.get_status_display }}</div>
        </div>
        {% endif %}
    {% endif %}
</div>

    {% if user.is_authenticated %}
        <div class="modal fade" id="AddTeamApplyModal">
        </div>
        <script src="{% static 'js/team_apply_modal.js' %}"></script>
    {% endif %}
{% endif %}