{% extends 'main.html' %}

{% load static %}
{% block content %}
{% if user.is_staff %}
<div class="container mt-4">
    <table id="scoreTable" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>rank</th>
                <th>name</th>
                <th>학과</th>
                <th>재/휴학</th>
                <th>전공구분</th>
                <th>github id</th>
                <th>year</th>
                <th>total score</th>
                <th>commits</th>
                <th>commit lines</th>
                <th>issues</th>
                <th>pulls</th>
                <th>repo</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{row.rank}}</td>
                <td>
                    <a href="/user/{{row.id}}">
                    {{row.name}}
                    </a>
                </td>
                <td>{{row.dept}}</td>
                <td>
                    {% if row.absence %}
                    휴학
                    {% else %}
                    재학
                    {% endif %}
                </td>
                <td>
                    {% if row.plural_major %}
                    복수전공
                    {% else %}
                    원전공
                    {% endif %}
                </td>
                <td>{{row.github_id}}</td>
                <td>{{row.year}}</td>
                <td>{{row.total_score|floatformat:2}}</td>
                <td>{{row.commit_cnt}}</td>
                <td>{{row.commit_line}}</td>
                <td>{{row.issue_cnt}}</td>
                <td>{{row.pr_cnt}}</td>
                <td>{{row.repo_cnt}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="my-5">
    <p align="center">개인 이용자는 접근이 제한된 페이지입니다.</p>
</div>
{% endif %}
{% endblock content %}
{% block script %}
<script src="{% static 'js/user_rank.js' %}" defer></script>
<!-- Datatables -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css"/> 
<link rel="stylesheet" href="https://cdn.datatables.net/searchpanes/2.0.1/css/searchPanes.bootstrap5.min.css"/> 
<link rel="stylesheet" href="https://cdn.datatables.net/select/1.4.0/css/select.bootstrap5.min.css"/> 
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css"/> 

<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js" defer></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js" defer></script>
<script src="https://cdn.datatables.net/searchpanes/2.0.1/js/dataTables.searchPanes.min.js" defer></script>
<script src="https://cdn.datatables.net/searchpanes/2.0.1/js/searchPanes.bootstrap5.min.js" defer></script>
<script src="https://cdn.datatables.net/select/1.4.0/js/dataTables.select.min.js" defer></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js" defer></script>

<link rel="stylesheet" href="{% static 'css/rank.css' %}"/> 
{% endblock script %}