{% extends 'main.html' %}

{% load static %}
{% load tag_templatetag %}
{% block content %}
<div class="container my-4">
    <div id="community-container" class="row">
        {% include "community/sidebar.html" %}
        <div class="col-md-9">
            <div id="board-title-bar" class="flex-between" data-board-value="search">
                <span id="board-title" class="p-board-title">{{ title }}</span>
            </div>
            {% if need_login %}
            <div class="m-2">
                로그인이 필요한 서비스입니다. <a href="/accounts/login/">바로가기</a>
            </div>
            {% elif need_member %}
            <div class="m-2">
                팀 멤버만 열람할 수 있습니다. <a href="/accounts/login/">팀 모집 게시판 확인하기</a>
            </div>
            {% else %}
                {% if html %}
                <div id="body-content" class="text-center"> 
                    {{html}}
                </div>
                <div id="article-list-footer" class="d-flex justify-content-end mt-3">
                    <div id="article-list-pagination">
                        <div id="pagination-body" data-board-name="{{board.name}}" data-max-page="{{max_page}}">
                        </div>
                    </div>
                </div>
                {% else %}
                <div id="body-content" class="text-center"></div>
                <div id="article-list-footer" class="d-flex justify-content-end mt-3">
                    <div id="article-list-pagination">
                        <div id="pagination-body" data-board-name="{{board.name}}" data-max-page="{{max_page}}">
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
{% block script %}
<script type="text/javascript" src="{% static 'js/community_base.js' %}"></script>
{% endblock script %}
