{% extends 'main.html' %}

{% load static %}
{% load tag_templatetag %}
{% block content %}
<div class="container my-4">
    <div id="community-container" class="row">
        {% include "community/sidebar.html" %}
        <div class="col-md-9">
            {% if need_login %}
            <div class="m-2">
                로그인이 필요한 서비스입니다. <a href="/accounts/login/">바로가기</a>
            </div>
            {% elif need_member %}
            <div class="m-2">
                팀 멤버만 열람할 수 있습니다. <a href="/accounts/login/">팀 모집 게시판 확인하기</a>
            </div>
            {% else %}
            <div id="board-title-bar" class="d-flex justify-content-between" data-board-value="{{board_name}}_{{board.id}}">
                <span id="board-title" class="p-board-title">{{ board_name }}</span>
                <div>
                    {% if board.board_type == 'Notice' %}
                    <a href="{% url 'community:notice-save' %}" class="btn btn-outline-light" role="button">글쓰기<i class="bi-pencil"></i></a>
                    {% else %}
                    <a href="{% url 'community:article-save' board_name=board.name board_id=board.id %}" class="btn btn-outline-light" role="button">글쓰기<i class="bi-pencil"></i></a>
                    {% endif %}
                </div>
            </div>
                {# 게시판 헤더 #}
                {% if board.board_type == 'Recruit' %}
                    {% include "community/board/article-carousel.html" %}
                {% elif board.board_type == 'Team' %}
                    {% include "community/board/team-tab.html" %}
                {% endif %}
                {# 게시글 리스트 #}
                {% if board.board_type == 'Team' and invited_user %}
                <div class="board-content-bar">
                    팀 게시판은 팀원 승인 후에 이용 가능합니다.
                </div>
                <div class="d-flex flex-column board-content-bar">
                    <div>초대 메세지</div>
                    {% for msg in waitedInviteMsg %}
                    <div class="d-flex flex-row justify-content-between w-100 board-content-bar">
                        <div class="desc-break">{{ msg.message }}</div>
                        <div class="weak-text">{{ msg.send_date }}</div>
                    </div>
                    {% endfor %}
                    <div class="d-flex flex-row justify-content-end w-100 gap-2">
                        <button onclick="invite_result({{ waitedInviteMsg.0.team_id }},'{{ waitedInviteMsg.0.account.user.username }}',true)" class="btn-xs btn-accept">
                            승인
                        </button>
                        <button onclick="invite_result({{ waitedInviteMsg.0.team_id }},'{{ waitedInviteMsg.0.account.user.username }}',false)" class="btn-xs btn-refuse">
                            거절
                        </button>
                    </div>
                </div>
                {% else %}
                <div id="article-list-body" class="text-center"></div>
                <div id="article-list-footer" class="d-flex justify-content-end mt-3">
                    <div id="article-list-pagination">
                        <div id="pagination-body" data-board-name="{{board.name}}" data-max-page="{{max_page}}">
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
{% block script %}
<link rel="stylesheet" type="text/css" href="{% static 'css/community-base.css' %}">
<script type="text/javascript" src="{% static 'js/community_base.js' %}"></script>
{% endblock script %}
