@media screen and (max-width: 768px) {
  .searchBox {
    width: 100% !important;
  }
}

.search {
  position: relative;
  margin-left: 25%;
  margin-right: 3%;
  width: 100%;
  opacity: 0.95;
}

.search > input {
  width: 100%;
  height: 80%;
  border: 1px solid #bbb;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 14px;
  font-family: 'nanumfont_Regular';
  letter-spacing: 1.5px;
}

.search-icon {
  position: absolute;
  top: 13px;
  right: 15px;
  margin: 0;
  cursor: pointer;
}

.hash-icon {
  position: absolute;
  top: 9px;
  right: 37px;
  margin: 0;
  cursor: pointer;
}

.searchBox {
  width: 30%;
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.tagFilter {
  transition-duration: 0.15s;
}
.tagFilter:not(.show) {
  opacity: 0;
  visibility: hidden;
  cursor: default;
  height: 0px;
}

.searchBtn {
  margin: 1px;
  border: none;
  background-color: var(--main-white);
  color: var(--main-icon-color);
  padding: 0.5rem;
  user-select: none;
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}
.searchBtn:hover {
  background-color: var(--main-white);
  color: var(--main-point-color);
  border-color: var(--main-white);
}
