@media (max-width: 768px) {
  .mobile-br { display: inline !important; }
}

.mobile-br { display: none; }

.footer {
  height: 60px;
  padding: 15px;
  background-color: var(--main-white);
  border-top: solid 2px var(--gray-400);
  transform: translateY(0%);
}

.footer-link {
  display: flex;
  margin: 5px 0;
  gap: 20px;
}

.footer-link li {
  font-size: 14px;
  font-family: 'nanumfont_Bold';
  padding-left: 0px;
  background: none;
}

.footer-link li a {
  color: inherit;
  text-decoration: none;
}
