@media screen and (max-width: 767px) {
  .community-sidebar {
    display: none !important;
  }
}

.community-sidebar {
  text-align: center;
  max-height: fit-content;
  position: sticky;
  top: 85px;
}

#sidebar-user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.625rem;
  width: 100%;
  border: 1px solid var(--main-border-color);
  border-top: none !important;
}
.img-container {
  width: 70%;
  height: 100%;
  margin: 10px;
  display: block;
}
#sidebar-user-info .sidebar-profile-img {
  width: 100%;
  border: 1px solid var(--main-border-color);
  border-radius: 50%;
  object-fit: cover;
}

#sidebar-profile-name {
  color: var(--main-light-font-color);
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -2px;
  cursor: pointer;
}

#sidebar-profile-username {
  color: var(--main-light-font-color);
  font-weight: 500;
  font-size: 20px;
  text-decoration: underline;
  cursor: pointer;
}
.sidebar-content {
  border-left: 1px solid var(--main-border-color);
  border-right: 1px solid var(--main-border-color);
}
.sidebar-content a {
  border-bottom: 1px solid var(--main-border-color);
  color: var(--main-font-color);
  text-decoration: none;
}
.sidebar-content div {
  border-bottom: 1px solid var(--main-border-color);
  letter-spacing: -1px;
}
.sidebar-activity {
  font-size: 16px !important;
  padding: 0.625rem;
}

.sidebar-boardgroup-item.selected > a {
  color: var(--sub-point-color);
  font-weight: 600;
}

.hover-opacity {
  cursor: pointer;
}

.hover-opacity:hover {
  opacity: 0.5;
}

.btn-login,
.btn-signup {
  margin: 7px;
}

.btn-logout {
  margin: 10px;
}
