{% load static %}
{% load user_templatetag %}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">개인정보 이용내역 동의 설정</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body w-100" style="min-height:400px;overflow-y:auto;">
            <p>서비스 사용에 동의하지 않으면 일부 서비스 사용이 제한됩니다.</p>
            <div class="tab-content">
                {% consent_text request "signin" as consents %}
                {% for obj in consents %}
                <div class="team-apply-item received">
                    <p>
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{obj.id}}" aria-expanded="true" aria-controls="collapse-{{obj.id}}">
                            {{obj.title}}
                        </button>
                    </p>
                    <div class="collapse show" id="collapse-{{obj.id}}">
                        <div class="card card-body">
                            {% for body in obj.body%}
                            <p>{{body}}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% if obj.id > 0 %}
                <div class="d-flex gap-2 justify-content-end p-3">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radio-{{obj.id}}" id="cst-radio-{{obj.id}}" value="0" checked>
                        <label class="form-check-label" for="cst-radio-{{obj.id}}">
                            미동의
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radio-{{obj.id}}" id="cst-radio-chk-{{obj.id}}" value="1">
                        <label class="form-check-label" for="cst-radio-chk-{{obj.id}}">
                            동의
                        </label>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-bs-dismiss="modal" aria-label="Close">닫기</button>
        </div>
    </div>
</div>
