<div class="team-apply-item received">
    <p>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-0" aria-expanded="true" aria-controls="collapse-0">
            프로필 정보 공개 1단계 설정
        </button>
    </p>
    <div class="collapse show" id="collapse-0">
        <div class="card card-body">
            <p>SOSD 는 유저의 개인정보 보호를 위해 프로필 정보 공개 단계를 나누었습니다.</p>
            <p>0단계는 프로필페이지로의 접근을 허용하지 않습니다.</p>
            <p>1단계는 GitHub와 관련된 정보를 공개합니다.</p>
            <p>2단계는 학생정보를 추가로 공개합니다.</p>
            <p>이 항목에 동의할 시 0단계 유저의 공개단계를 1단계로 설정합니다.</p>
            <p>프로필 수정 페이지에서 공개 단계를 재설정할 수 있습니다.</p>
        </div>
    </div>
</div>
<div class="d-flex gap-2 justify-content-end p-3">
    <div class="form-check">
        <input class="form-check-input" type="radio" name="open_lvl" id="cst-radio-level" value="0" checked>
        <label class="form-check-label" for="cst-radio-level">
            미동의
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="open_lvl" id="cst-radio-chk-level" value="1">
        <label class="form-check-label" for="cst-radio-chk-level">
            동의
        </label>
    </div>
</div>
