<div class="team-apply-item received">
    <p>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-0" aria-expanded="true" aria-controls="collapse-0">
            프로필 정보 공개 설정
        </button>
    </p>
    <div class="collapse show" id="collapse-0">
        <div class="card card-body">
            <p>본 동의서는 귀하가 SOSD에서 프로필 정보를 공개하는 데 동의하는지 여부를 확인하기 위한 목적으로 작성되었습니다.</p>
            <p>SOSD는 GitHub 데이터를 가공하여 사용자의 프로필 페이지를 구성하며, 다른 사용자가 해당 프로필 페이지에 접근할 수 있습니다. 또한, GitHub 활동 기록을 기반으로 사용자를 추천하는 서비스를 제공하기 때문에 유저 추천 서비스에서도 프로필 페이지에 접근할 수 있습니다.</p>
            <p>GitHub 데이터 기반 정보 공개</p>
            <p>프로필 페이지에는 귀하의 GitHub 데이터를 기반으로 한 정보가 표시됩니다. 또한 유저가 직접 설정한 관심분야, 사용언어/기술스택 등의 정보가 표시됩니다. GitHub 점수와 개인정보와 같은 중요한 정보는 표시되지 않습니다.</p>
            <p>프로필 페이지에는 프로필 공개 단계를 변경하여 귀하의 점수를 포함한 학번과 이름, 이메일이 표시되도록 설정할 수 있습니다.</p>
        </div>
    </div>
</div>
<div class="d-flex gap-2 justify-content-end p-3">
    <div class="form-check">
        <input class="form-check-input" type="radio" name="open_lvl" id="cst-radio-level" value="0" checked>
        <label class="form-check-label" for="cst-radio-level">
            미동의
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="open_lvl" id="cst-radio-chk-level" value="1">
        <label class="form-check-label" for="cst-radio-chk-level">
            동의
        </label>
    </div>
</div>
