{% extends 'main.html' %}

{% load static %}
{% block content %}
<div class="d-flex justify-content-center container my-5">
    <div class="col-3">
        <div class="d-flex justify-content-center mb-3">
            <img src="/static/images/logo.svg" alt="Logo" class="w-50"/>
        </div>
        <div class="my-3">
            계정정보에 대한 이메일을 발송 했습니다.
        </div>
        <div class="my-3">
            <p>이메일을 받지 못했다면</p>
            <p>1. 이메일 주소를 확인해주세요.</p>
            <p>2. 스팸메일함을 확인해주세요.</p>
            <p>3. 관리자에게 문의하세요.</p>
        </div>
        <div class="text-end">
            <a href="{% url 'common:login' %}" class="btn btn-primary" role="button">로그인 화면으로</a>
        </div>
    </div>
</div>
{% endblock content %}
{% block script %}
{% endblock script %}
