{% extends 'main.html' %}

{% load static %}
{% block content %}
<div class="d-flex justify-content-center container mt-5">
    <div class="col-3">
        <div class="d-flex justify-content-center">
            <img src="/static/images/logo.svg" alt="Logo" style="width: 70%;"/>
        </div>
        {% for error in form.non_field_errors %}
        <div class="text-center mb-3">
            {% if error == "Please enter a correct username and password. Note that both fields may be case-sensitive." %}
            <strong>Username과 비밀번호가 일치하지 않습니다</strong>
            {% else %}
            <strong>{{ error }}</strong>
            {% endif %}
        </div>
        {% endfor %}
        <form method="post" action=".">
            {% csrf_token %}
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="username" id="username" placeholder="exampleusername" required>
                <label for="UsernameHelp">Username</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" name="password" id="password" placeholder="examplepw"
                    required>
                <label for="password">Password</label>
            </div>
            <div class="d-flex flex-column">
                <button type="submit" class="btn btn-outline-secondary mb-3">Log In</button>
                <a class="btn btn-outline-secondary mb-3" href="/accounts/register">Sign Up</a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
{% block script %}
{% endblock script %}
