{% extends 'main.html' %}

{% load static %}
{% block content %}
<div class="d-flex justify-content-center container my-5">
    <div class="col-3">
        <div class="d-flex justify-content-center mb-3">
            <img src="/static/images/logo.svg" alt="Logo" class="w-50"/>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="username" id="username" placeholder="exampleusername" required>
                <label for="username">Username</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" name="email" id="email" placeholder="exampleemail" required>
                <label for="password">Email</label>
            </div>
            <div class="d-flex flex-column">
                <button type="submit" class="btn btn-outline-primary mb-3">Send</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
{% block script %}
{% endblock script %}
