{% extends 'main.html' %}

{% load static %}
{% block content %}
<div class="d-flex justify-content-center container my-5">
    <div class="col-lg-3 col-6">
        <div class="d-flex justify-content-center mb-3">
            <img src="/static/images/logo.svg" alt="Logo" class="w-50"/>
        </div>
        <p>비밀번호가 변경되었습니다.</p>
        <div class="text-end">
            <a href="{{ login_url }}" role="button" class="btn btn-primary">
                로그인 화면으로
            </a>
        </div>
    </div>
</div>
{% endblock content %}
{% block script %}
{% endblock script %}
