{% extends 'main.html' %}

{% load static %}
{% block content %}
{% if validlink %}
<div class="d-flex justify-content-center container my-5">
    <div class="col-3">
        <div class="d-flex justify-content-center mb-3">
            <img src="/static/images/logo.svg" alt="Logo" class="w-50"/>
        </div>
        <div>
            <strong>비밀번호 재설정</strong>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="form-floating mb-3">
                <input type="password" id="id_new_password1" class="form-control" name="new_password1" autocomplete="new-password" placeholder="examplepw" required>
                <label for="id_new_password1">새로운 비밀번호</label>
            </div>
            {{ form.new_password1.errors }}
            <div class="form-floating mb-3">
                <input type="password" id="id_new_password2" class="form-control" name="new_password2" autocomplete="new-password" placeholder="examplepw2" required>
                <label for="id_new_password2">비밀번호 확인</label>
            </div>
            {{ form.new_password2.errors }}
            <div class="d-flex flex-column">
                <button type="submit" class="btn btn-outline-primary mb-3">설정</button>
            </div>
        </form>
    </div>
</div>
{% else %}
<p>유효하지 않은 링크입니다. 이미 사용했거나 만료되었습니다. 비밀번호 재설정을 다시 진행해주세요.</p>
{% endif %}

{% endblock content %}
{% block script %}
{% endblock script %}
