{% extends 'main.html' %}

{% load static %}
{% load tag_templatetag %}
{% load user_templatetag %}
{% block content %}
<div class="d-flex justify-content-center container my-5">
    <div class="col-lg-6 col-12">
        <div class="d-flex justify-content-center mb-3">
            <img src="/static/images/logo.svg" alt="Logo" class="w-25" />
        </div>
        <div class="my-3 fs-5">
            {{ msg }}
        </div>
        <hr />
        <form id="signin-form" method="post" action="." class="row">
            {% csrf_token %}
            {% if username %}
            <div class="col-lg-6 mb-3">
                <label for="github-id">GitHub Username <span class="required-star">*</span></label>
                <div class="weak-text form-label">GitHub 계정명으로 데이터 수집에 사용됩니다.</div>
                <div class="input-group">
                    <input type="text" class="form-control form-control-plaintext" id="github-id" name="github-id" value="{{username}}" required readonly>
                    <button class="btn btn-outline-secondary" type="button" id="github-id-check">Check</button>
                </div>
            </div>
            {% else %}
            <div class="col-lg-6 mb-3">
                <label for="github-id">GitHub Username <span class="required-star">*</span></label>
                <div class="weak-text form-label">GitHub 계정명으로 데이터 수집에 사용됩니다.</div>
                <div class="input-group">
                    <input type="text" class="form-control" id="github-id" name="github-id" placeholder="GitHub Username"
                    onchange="return_github_id_check()" required>
                    <button class="btn btn-outline-secondary" type="button" id="github-id-check">Check</button>
                </div>
            </div>
            {% endif %}
            <div class="col-lg-6 mb-3">
                <label for="username">Username <span class="required-star">*</span></label>
                <div class="weak-text form-label">로그인에 사용할 아이디입니다.</div>
                <div class="input-group">
                    <input type="text" class="form-control" id="username" name="username" value="{{username}}" placeholder="Username"
                    onchange="return_username_check()" required>
                    <button class="btn btn-outline-secondary" type="button" id="duplicate-check">Check</button>
                </div>
            </div>
            <div class="col-lg-6 mb-3">
                <label for="password">Password <span class="required-star">*</span></label>
                <div class="weak-text form-label">비밀번호는 4자 이상이어야 합니다.</div>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" minlength="4" autoComplete="off" required onChange="checkPassword();">
            </div>
            <div class="col-lg-6 mb-3">
                <label for="password-check">Password Check <span class="required-star">*</span></label>
                <div id="password-check-sign" class="weak-text form-label">비밀번호를 다시 입력해주세요.</div>
                <input type="password" class="form-control" id="password-check" name="password-check" placeholder="Password" minlength="4" autoComplete="off" required onChange="checkPassword();">
            </div>
            <div class="col-lg-6 mb-3">
                <label for="student-id" class="form-label">학번 <span class="required-star">*</span></label>
                <div class="input-group">
                    <input type="text" class="form-control" id="student-id" name="student-id" placeholder="ex) 20XXXXXXXX" 
                    onchange="return_student_check()" required>
                    <button class="btn btn-outline-secondary" type="button" id="student-check">Check</button>
                </div>
            </div>
            <div class="col-lg-6 mb-3">
                <label for="name" class="form-label">이름 <span class="required-star">*</span></label>
                <input type="text" class="form-control" id="name" name="name" placeholder="ex) 홍길동" required>
            </div>
            <div class="col-lg-6 mb-3">
                <label for="college" class="form-label">소속 대학 <span class="required-star">*</span></label>
                <select class="form-select" name="college" id="college">
                    <option value="경영대학">경영대학</option>
                    <option value="경제대학">경제대학</option>
                    <option value="공과대학">공과대학</option>
                    <option value="문과대학">문과대학</option>
                    <option value="법과대학">법과대학</option>
                    <option value="사범대학">사범대학</option>
                    <option value="사회과학대학">사회과학대학</option>
                    <option value="생명공학대학">생명공학대학</option>
                    <option value="소프트웨어융합대학" selected>소프트웨어융합대학</option>
                    <option value="스포츠과학대학">스포츠과학대학</option>
                    <option value="약학대학">약학대학</option>
                    <option value="예술대학">예술대학</option>
                    <option value="유학대학">유학대학</option>
                    <option value="의학대학">의학대학</option>
                    <option value="자연과학대학">자연과학대학</option>
                    <option value="정보통신대학">정보통신대학</option>
                    <option value="학부대학">학부대학</option>
                </select>
            </div>
            <div class="col-lg-6 mb-3">
                <label for="dept" class="form-label">소속 학과 <span class="required-star">*</span></label>
                <input type="text" class="form-control" id="dept" name="dept" placeholder="ex) 소프트웨어학과" required>
            </div>
            <div class="col-lg-6 mb-3">
                <div class="form-label">
                    <label for="absenceRadioOptions">재학 여부 <span class="required-star">*</span></label>
                </div>
                <div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="absence" id="absenceFalse" value="0" checked>
                        <label class="form-check-label" for="absenceFalse">재학</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="absence" id="absenceTrue" value="1">
                        <label class="form-check-label" for="absenceTrue">휴학</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="absence" id="absenceReal" value="2">
                        <label class="form-check-label" for="absenceReal">졸업</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-3">
                <div class="form-label">
                    <label for="absenceRadioOptions">복수전공 여부 <span class="required-star">*</span></label>
                </div>
                <div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="plural-major" id="pluralFalse" value="0"
                            checked>
                        <label class="form-check-label" for="pluralFalse">원전공</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="plural-major" id="pluralTrue" value="1">
                        <label class="form-check-label" for="pluralTrue">복수전공</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 mb-3">
                <label for="personal-email">Email <span class="required-star">*</span></label>
                <div class="weak-text form-label">계정정보를 찾을 때 사용합니다.</div>
                <div class="d-flex">
                    {% if personal_email %}
                    <input type="text" class="form-control email-input" id="personal-email" name="personal-email" value="{{personal_email_username}}" placeholder="연락용 Email" required>
                    <span class="input-group-text">@</span>
                    <input type="text" id="email-domain" name="personal-email-domain" value="{{personal_email_domain}}" class="form-control email-domain" placeholder="이메일 도메인" maxlength="18"/>
                    {% else %}
                    <input type="text" class="form-control email-input" id="personal-email" name="personal-email" placeholder="연락용 Email" required>
                    <span class="input-group-text">@</span>
                    <input type="text" id="email-domain" name="personal-email-domain" class="form-control email-domain" placeholder="이메일 도메인" maxlength="18"/>
                    {% endif %}
                    <select id="email-domain-select" class="form-select form-control email-domain email-select" onChange="setEmailDomain(this.id, this.value);">
                        {% email_domain_tag request %}
                    </select>
                </div>
            </div>
            <div class="col-lg-12 mb-3">
                <label for="primary-email">GitHub Email <span class="required-star">*</span></label>
                <div class="weak-text form-label">GitHub Commit 기록을 추적하는데 사용합니다.</div>
                <div class="d-flex">
                    {% if primary_email %}
                    <input type="text" class="form-control form-control-plaintext email-input" id="primary-email" name="primary-email" value="{{primary_email_username}}" placeholder="GitHub 계정 Email" readonly required>
                    <span class="input-group-text">@</span>
                    <input type="text" id="primary-email-domain" name="primary-email-domain" value="{{primary_email_domain}}" class="form-control form-control-plaintext email-domain" placeholder="이메일 도메인" maxlength="18" readonly/>
                    <select id="primary-email-domain-select" class="form-select form-control email-domain email-select" disabled>
                        {% email_domain_tag request %}
                    </select>
                    {% else %}
                    <input type="text" class="form-control email-input" id="primary-email" name="primary-email" placeholder="GitHub 계정 Email" required>
                    <span class="input-group-text">@</span>
                    <input type="text" id="primary-email-domain" name="primary-email-domain" class="form-control email-domain" placeholder="이메일 도메인" maxlength="18"/>
                    <select id="primary-email-domain-select" class="form-select form-control email-domain email-select" onChange="setEmailDomain(this.id, this.value);">
                        {% email_domain_tag request %}
                    </select>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-12 mb-3">
                <label for="secondary-email">기타 연동 Email</label>
                <div class="weak-text form-label">로컬 Git 설정 이메일이 GitHub와 다른가요? 추가로 이메일을 연동할 수 있습니다.</div>
                <div class="d-flex">
                    <input type="text" id="secondary-email" name="secondary-email" class="form-control email-input" placeholder="기타 연동 Email">
                    <span class="input-group-text">@</span>
                    <input type="text" id="secondary-email-domain" name="secondary-email-domain" class="form-control email-domain" placeholder="이메일 도메인" maxlength="18"/> 
                    <select id="secondary-email-domain-select" class="form-select form-control email-domain email-select" onChange="setEmailDomain(this.id, this.value);">
                        {% email_domain_tag request %}
                    </select>
                </div>
            </div>
            <div id="category_tag_list" class="col-lg-12 mb-3">
                <label for="preferLanguage" class="form-label">사용 언어/프레임워크</label>
                <select id="preferLanguage" name="preferLanguage" multiple>
                    {% category_tag request %}
                </select>
            </div>
            <div>
                <button id="consentSignUp" type="button" class="btn btn-secondary ms-auto mb-1" onclick="consentSignInOpen();">
                    개인정보 이용내역 동의 <span class="required-star">*</span>
                </button>
            </div>
            <div class="modal modal-lg fade" id="consent-signin">
                {% include "consent/consent_signin.html" %}
            </div>
            <div class="col-12 text-end">
                <button type="submit" class="btn btn-primary">가입하기</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
{% block script %}
<script>
    let is_modal_open = 0;
    let categorySelect;
    let github_id_is_checked = false;
    let username_id_is_checked = false;
    let student_id_is_checked = false;
    function return_github_id_check() {
        github_id_is_checked = false;
        $('#github-id-check').removeClass();
        $('#github-id-check').addClass('btn btn-outline-secondary');
    };
    function return_username_check() {
        username_id_is_checked = false;
        $('#duplicate-check').removeClass();
        $('#duplicate-check').addClass('btn btn-outline-secondary');
    };
    function return_student_check() {
        student_id_is_checked = false;
        $('#student-check').removeClass();
        $('#student-check').addClass('btn btn-outline-secondary');
    };
    $(document).ready(function(){
        categorySelect = new SlimSelect({
            select: '#preferLanguage',
            placeholder: 'Tag',
            onChange: (selected_list) => {
                for (let selected of selected_list) {
                    $(`.ss-value[data-id="${selected.id}"]`).addClass('bg-' + selected.class)
                }
            },
        });
        {#유저 이름의 유효성을 체크하는 함수 실행#}
        $("#duplicate-check").on("click", () => {
            ajaxCheckDup();
        })
        {#Github id의 유효성을 체크하는 함수 실행#}
        $("#github-id-check").on("click", () => {
            ajaxCheckIdValid();
        })
        {#Stduent id의 유효성을 체크하는 함수 실행#}
        $("#student-check").on("click", () => {
            ajaxCheckStudentIdValid();
        })
        // sign form
        const signinForm = document.getElementById("signin-form");
        signinForm.addEventListener("submit", (event) => {
            event.preventDefault();
            if(!is_modal_open){
                alert('개인정보 이용내역 동의를 확인해 주세요.');
                event.preventDefault();
                return;
            } else if (!github_id_is_checked) {
                alert('Github Username을 체크해 주세요.');
                event.preventDefault();
                return;
            } else if (!username_id_is_checked) {
                alert('Username을 체크해 주세요.');
                event.preventDefault();
                return;
            } else if (!student_id_is_checked) {
                alert('학번을 체크해 주세요.');
                event.preventDefault();
                return;
            } else {
                const ajax_form_data = new FormData(signinForm);
                const tag_list = [];
                for(let tag of $("#category_tag_list").find(".ss-value-text")){
                    tag_list.push($(tag).html());
                }
                ajax_form_data.append('category_tag_list', tag_list);
                $.ajax({
                    type: "POST",
                    url: "{% url 'common:signup' %}",
                    data: ajax_form_data,
                    dataType: 'json',
                    processData: false,
                    contentType: false,
                    
                    success: function(data) {
                        console.log(data);
                        if(data['status']=="success"){
                            alert('회원가입이 완료되었습니다! 로그인 해주세요.')
                            window.location.href = "{% url 'common:login' %}";
                        }
                        else{
                            alert( data['message'].join(',\n') );
                        }
                    },
                    error: function(data){
                        alert('Error Occured');
                    }
                });
            }
        });
    });
    function setEmailDomain(id, email_domain){
        if(email_domain == "") return;
        console.log("setEmailDomain", id, email_domain)
        let target_id = id.split("-select")[0]
        $(`#${target_id}`).val(email_domain)
    }
    function checkPassword(){
        let pswd = $("#password").val();
        let checkpswd = $("#password-check").val();
        if (checkpswd.length > 0){
            if(pswd == checkpswd){
                $("#password-check-sign").text("비밀번호가 일치합니다.")
                $("#password-check-sign").attr("class", "text-primary weak-text form-label");
            }else{
                $("#password-check-sign").text("비밀번호가 일치하지 않습니다.")
                $("#password-check-sign").attr("class", "text-danger weak-text form-label");
            }
        }
        else{
            $("#password-check-sign").text("비밀번호를 다시 입력해주세요.")
            $("#password-check-sign").attr("class", "weak-text form-label");
        }
    }
        
    function ajaxCheckDup(){
        console.log("ajaxCheckDup")
        ajax_form_data=new FormData();
        ajax_form_data.append('username',$('#username').val());
        ajax_form_data.append('csrfmiddlewaretoken', csrftoken);
        $('#duplicate-check').html(`<div class="spinner-border spinner-border-sm text-dark" role="status">
            <span class="sr-only">Loading...</span>
        </div>`);
        $.ajax({
            type: "POST",
            url: "{% url 'common:check_user' %}",
            data: ajax_form_data,
            dataType: 'json',
            processData: false,
            contentType: false,

            success: function(data) {
                console.log(data);
                if(data['status']=="success"){
                    username_id_is_checked = true;
                    alert('사용가능한 유저이름입니다.');
                    $('#duplicate-check').removeClass('btn-outline-secondary');
                    $('#duplicate-check').addClass('check-success');
                }
                else{
                    alert( data['message'] );
                    $('#duplicate-check').removeClass('btn-outline-secondary');
                    $('#duplicate-check').addClass('check-failed');
                }
                $('#duplicate-check').html("Check")
            },
            error: function(data){
                alert('Error Occured');
            }
        });
    }
    function ajaxCheckIdValid(){
        console.log("ajaxCheckIdValid")
        ajax_form_data=new FormData();
        ajax_form_data.append('github-id',$('#github-id').val());
        ajax_form_data.append('csrfmiddlewaretoken', csrftoken);
        $('#github-id-check').html(`<div class="spinner-border text-dark spinner-border-sm" role="status">
            <span class="sr-only">Loading...</span>
        </div>`);

        $.ajax({
            type: "POST",
            url: "{% url 'common:check_github_id' %}",
            data: ajax_form_data,
            dataType: 'json',
            processData: false,
            contentType: false,
            success: function(data) {
                console.log(data);
                if(data['status']=="success"){
                    github_id_is_checked = true;
                    alert('사용가능한 GitHub ID입니다.');
                    $('#github-id-check').removeClass('btn-outline-secondary');
                    $('#github-id-check').addClass('check-success');
                }
                else{
                    alert( data['message'] );
                    $('#github-id-check').removeClass('btn-outline-secondary');
                    $('#github-id-check').addClass('check-failed');
                }
                $('#github-id-check').html("Check")
            },
            error: function(data){
                alert('Error Occured');
            }
        });
    }
    function ajaxCheckStudentIdValid(){
        console.log("ajaxCheckStudentIdValid");
        const ajax_form_data=new FormData();
        ajax_form_data.append('student-id',$('#student-id').val());
        ajax_form_data.append('csrfmiddlewaretoken', csrftoken);
        const checkButton = $('#student-check');
        checkButton.html(`<div class="spinner-border text-dark spinner-border-sm" role="status">
            <span class="sr-only">Loading...</span>
        </div>`);

        $.ajax({
            type: "POST",
            url: "{% url 'common:check_student_id' %}",
            data: ajax_form_data,
            dataType: 'json',
            processData: false,
            contentType: false,
            success: function(data) {
                console.log(data);
                if(data['status']=="success"){
                    student_id_is_checked = true;
                    alert('사용가능한 학번입니다.');
                    checkButton.removeClass('btn-outline-secondary');
                    checkButton.addClass('check-success');
                }
                else{
                    alert( data['message'] );
                    checkButton.removeClass('btn-outline-secondary');
                    checkButton.addClass('check-failed');
                }
                checkButton.html("Check")
            },
            error: function(data){
                alert('Error Occured');
            }
        });
    }
    </script>
{% endblock script %}
