<div id="oppo-list">
  <ul id="opponent-list" class="opponent-list">
    {% for oppo, data in msg_opponent.items %}
    <li class="opponent-item" value="{{oppo.user.id}}">
      <div class="d-flex">
        <div class="opponent-account me-2">
          <img src="{{oppo.photo.url}}" class="opponent-profile">
        </div>
        <div class="my-auto">
          <div class="opponent-name">
            {{oppo}}
          </div>
        </div>
        {% if data.unread %}
        <div class="ms-auto my-auto me-2 unread-count">
          {{data.unread}}
        </div>
        {% endif %}
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
<div id="chat-view-tab">
  <div id="chat-view">

  </div>
  <div id="chat-input-tab" class="mt-auto">
    <form id="chat-input-form">
      {% csrf_token %}
      <input type="text" id="chat-input">
      <button id="chat-submit"> 
        <span class="material-icons-round" style="vertical-align: middle;">send</span>
      </button>
    </form>
  </div>
</div>