{% load community_tag %}

{% if request.user.is_authenticated %}
<div id="comment-group-login">
{% else %}
<div id="comment-group-logout">
{% endif %}
    {% for comment in comments %}
    {% if request.user.is_authenticated == False and forloop.counter == comments|length %}
    <div id="comment-{{comment.id}}" class="comment-item-last">
    {% else %}
    <div id="comment-{{comment.id}}" class="comment-item">
    {% endif %}
        <div class="comment-item-left">
            <div class="comment-item-writer-wrapper">
                {% if comment.anonymous_writer %}
                <div class="comment-item-writer annonymous">익명</div>
                {% elif request.user.is_authenticated %}
                <div class="comment-item-writer dropdown writer-dropdown">
                    <button class="dropdown-toggle writer-dropdown-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{comment.writer.user.username}}
                    </button>
                    <ul class="dropdown-menu">
                        {% if not comment.writer.user.is_superuser %}
                        <li>
                            <a class="dropdown-item" href="/user/{{comment.writer.user.username}}">
                                프로필
                            </a>
                        </li>
                        {% endif %}
                        <li>
                            <a class="dropdown-item" onclick="msgModalOpen({{ comment.writer.user.id }})">
                                메시지
                            </a>
                        </li>
                    </ul>
                </div>
                {% else %}
                <div class="comment-item-writer">{{comment.writer.user.username}}</div>
                {% endif %}
                {% if request.user == comment.writer.user %}
                <div class="comment-item-delete">
                    <span onclick="comment.delete({{comment.id}});">삭제</span>
                </div>
                {% endif %}
            </div>
            <div class="comment-item-body">
                {{ comment.body|linebreaksbr }}
            </div>
        </div>
        <div class="comment-item-right">
            <div class="comment-item-datetime">
                <div>
                    {{ comment.pub_date|date:"Y-m-d" }}
                </div>
                <div>
                    {{ comment.pub_date|time:"h:i a" }}
                </div>
            </div>
            <div class="comment-item-mod">
                {% is_comment_like comment request.user as is_comment_like %}
                <div class="comment-item-like" onclick="CommentLike({{comment.id}}, {{user.id| default_if_none:-1 }})">
                    {% if is_comment_like %}
                    <span class="material-icons">
                    {% else %}
                    <span class="material-icons-outlined">
                    {% endif %}
                        thumb_up
                    </span>
                </div>
                <div class="comment-item-like-cnt">
                    {{comment|comment_like}}
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="comment-none">
        등록된 댓글이 없습니다.
    </div>
    {% endfor %}

</div>
{% if request.user.is_authenticated %}
<form id="comment-form" method="post">
    {% csrf_token %}
    <input type="hidden" id="comment-article-id" name="article-id" value="{{article_id}}">
    <div id="comment-input">
        <div id="comment-annonymous">
            <label for="comment-is-anonymous">익명</label>
            <input type="checkbox" id="comment-is-anonymous" checked>
        </div>
        <textarea id="comment-body" class="form-control" placeholder="댓글을 입력해주세요." required></textarea>
        <button type="button" id="btn-comment-save" class="hover-opacity" onclick="comment.save()">
            댓글 쓰기
        </button>
    </div>
</form>
{% endif %}
