{% load tag_templatetag %}
{% load community_tag %}
{% load team_tag %}
<div id="board-title-bar" class="flex-between">
    <div id="board-title" class="p-board-title">
        <a href="/community/board/{{board.name}}/{{board.id}}">
            {{ board.name }} 게시판
        </a>
    </div>
    <div class="d-flex justify-content-end gap-2">
        {% if is_auth_notice %}
        <div class="p-board-title">
            <input type="checkbox" id="is-notice" class="align-middle" {{ notice_check }}>
            <label for="is-notice">공지</label>
        </div>
        {% endif %}
        {% if board.anonymous_writer %}
        <div class="p-board-title">
            <input type="checkbox" id="is-anonymous" class="align-middle" {{ anonymous_check }}>
            <label for="is-anonymous">익명</label>
        </div>
        {% endif %}
        <button type="button" id="btn-content-edit" class="btn btn-outline-light">
            <i class="bi-pencil-square"></i> {{ type_kr }}
        </button>
    </div>
</div>
<!-- type은 세가지 값이 가능: view / register / edit -->
<form id="article-form" method="post" data-edit-type="{{ type }}">
    {% csrf_token %}
    <input type="hidden" id="board-type" value="{{board.board_type}}">
    <input type="hidden" id="board-name" value="{{board.name}}">
    <input type="hidden" id="board-id" value="{{board.id}}">
    <input type="hidden" id="article-id" value="{{article.id}}">
    {% if board.board_type == 'Team' %}
    <input type="hidden" id="team-id" value="{{board.team.id}}">
    {% endif %}
    <div class="d-flex flex-column border border-2">
        <div class="d-flex justify-content-between mb-1">
            <input type="text" id="article-title" class="form-control" value="{{ article.title }}" placeholder="제목을 입력해 주세요"  required autofocus>
            {% if board.board_type == 'Recruit' %}
                {% if team %}
                <select id="team-option" name="team-option" class="form-select pointer" disabled>
                    <option value="{{ team.id }}" selected>{{ team.name }}</option>
                </select>
                {% elif type == 'register' %}
                <select id="team-option" name="team-option" class="form-select pointer" required>
                    {% team_options request.user %}
                </select>
                {% elif type == 'edit' %}
                <select id="team-option" name="team-option" class="form-select pointer" disabled>
                    <option value="{{ article.team.id }}" selected>{{ article.team.name }}</option>
                </select>
                {% endif %}
            {% endif %}
        </div>
        <div class="mt-2">
            <div id="article-body" class="form-control block-article" contenteditable="true">{{ article.body|safe }}</div>
        </div>
        <div class="w-100 mt-2">
            <select name="category" id="content-category" multiple>
                {% category_tag request %}
            </select>
        </div>
        <div id="article-helper" class="mt-2">
            <button type="button" id="add-image" class="btn btn-secondary">이미지 추가</button>
        </div>
        {% if board.board_type == 'Recruit' %}
        <div id="period-setting" class="mt-3">
            <div class="d-flex">
                <div id="date-label" class="p-date-label">모집 기간</div>
                <div class="row flex-fill">
                    <div class="col-sm-6 d-flex">
                        <div id="date-label" class="p-date-label d-flex"><a>From</a></div>
                        <div id="PeriodPickerStart" class="input-group log-event" data-td-target-input="nearest" data-td-target-toggle="nearest">
                            <input type="text" id="PeriodPickerStartInput" class="form-control" data-td-target="#PeriodPickerStart" required/>
                            <span class="input-group-text" data-td-target="#PeriodPickerStart" data-td-toggle="datetimepicker">
                                <span class="material-icons-outlined">
                                    today
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-6 d-flex">
                        <div id="date-label" class="p-date-label d-flex"><a>To</a></div>
                        <div id="PeriodPickerEnd" class="input-group log-event" data-td-target-input="nearest" data-td-target-toggle="nearest">
                            <input type="text" id="PeriodPickerEndInput" class="form-control" data-td-target="#PeriodPickerEnd" required/>
                            <span class="input-group-text" data-td-target="#PeriodPickerEnd" data-td-toggle="datetimepicker">
                                <span class="material-icons-outlined">
                                    event
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <button id="end-button" type="button" class="btn btn-outline-light" onclick="setToDateEnd();">마감</button>
            </div>
        </div>
        {% endif %}
    </div>
</form>
