{% load tag_templatetag %}
{% load community_tag %}
{% load team_tag %}
{% load markdown_filter %}
{% load static %}

<form method="post" action=".." class="" onSubmit="return false;">
    <!--article content-->
    <div id="article-wrapper">
        <div id="article-title-wrapper" class="d-flex flex-row justify-content-between">
            <div id="article-title">
                {% if board.board_type == 'Recruit' %}
                    [{{ article.team.name |default:"팀이 더이상 존재하지 않습니다." }}]
                {% endif %}
                {{ article.title }}
            </div>
            <div id="article-metadata" >
                <div style="padding-left:10px;" class="d-flex flex-column justify-content-center">
                    {% if user == article.writer.user %}
                    <span style="cursor:pointer" onclick="edit()">수정</span> 
                    <span style="cursor:pointer" onclick="deleteArticle();">삭제</span>
                    {% elif request.user.is_anonymous %}
                    <a href="">사용자</a>
                    {% elif not article.anonymous_writer %}
                    <div class="dropdown writer-dropdown">
                        <button class="dropdown-toggle writer-dropdown-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{article.writer.user.username}}
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/user/{{article.writer.user.username}}">프로필</a></li>
                            <li><a class="dropdown-item" href="#" onclick="msgModalOpen({{ article.writer.user.id }})">메시지</a></li>
                        </ul>
                    </div>
                    {% endif %}
                </div>
                <div id="article-datetime">
                    <div>
                        {{ article.pub_date|date:"Y-m-d" }}
                    </div>
                    <div>
                        {{ article.pub_date|time:"h:i a" }}
                    </div>
                </div>
                <div id="article-viewcnt">
                    <div class="material-icons">visibility</div>
                    <div>{{ article.view_cnt }}</div>
                </div>
            </div>
        </div>
        <div id="article-title-border"></div>
        <div id="article-taglist">
            {% for tag in tags %}
            <div class="badge bg-tag-{{tag.tag.type}}">
                #{{ tag.tag.name }}
            </div>
            {% empty %}
            <span style="padding-left:5px;">태그 없음</span>
            {% endfor %}
        </div>
        <div>
            <div id="article-body">
                {{ article.body|mark }}
            </div>
        </div>
        <div>
            <div id="article-like-scrap">
                <div onclick="ArticleThumbUp({{ article.id }},{{ request.user.id | default_if_none:-1 }})"
                    id="article-like-btn"
                    class="h-100 pointer opacity-hover">
                    {% is_article_thumb_up article request.user as is_thumb_up %}
                    {% if not is_thumb_up %}
                    <span class="material-icons-outlined">
                    {% else %}
                    <span class="material-icons">
                    {% endif %}
                        thumb_up
                    </span>
                </div>
                <div>
                    <span id="article-like-cnt">
                        {{article|article_like}}
                    </span>
                </div>
                {% is_article_scrap article request.user as is_scrap %}
                <div id="article-scrap-btn" onclick="ArticleScrap({{ article.id }}, {{ request.user.id | default_if_none:-1 }})"
                    class="h-100 pointer opacity-hover">
                    <span class="material-icons-outlined">
                        {% if is_scrap %} 
                        bookmark
                        {% else %}
                        bookmark_border
                        {% endif %}
                    </span>
                </div>
                <div>
                    <span id="article-scrap-cnt">
                        {{article|article_scrap}}
                    </span>
                </div>
            </div>
        </div>
    </div>

    {% if board.board_type == 'Recruit' %}
    <div id="article-teamcard" style="margin-left:0px;margin-right:0px;" >
            {% if article.team %}
            <div class="row  w-100" >
                <div id="recruit-article-info" class="col">
                    <div id="recruit-article-info-image" style="height:5rem;width:5rem;">
                        <img src="{{article.team.image.url}}" alt="team-image">
                    </div>
                    <div id="recruit-article-info-text">
                        <div id="recruit-article-info-name">{{ article.team.name }}</div>
                        <div id="recruit-article-info-desc" class="desc-break" style="min-width:360px;">{{ article.team.description }}</div>
                    </div>
                </div>
                <div class="col ">
                    <div class=" w-100 d-flex flex-row justify-content-between">
                        {% is_period_end article.period_end as is_end %}
                        {% is_period_end article.period_start as is_start %}
                        <div id="recruit-article-period" style="margin-right:20px;">
                            <div>
                                모집기간
                            </div>
                            <div id="recruit-article-period-date">
                                시작: {{article.period_start|date:'Y.m.d H:i'}}
                                <br>
                                마감: {{article.period_end|date:'Y.m.d H:i'}}
                                {% if not is_start %}
                                    <div>{{article.period_start|remain_datetime}}</div>
                                {% elif not is_end %}
                                    <div>{{article.period_end|remain_datetime}}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                            <div class="d-flex flex-row  justify-content-between">
                                    <div id="recruit-article-status" >
                                        {% if not is_start %}
                                            <div class="recruit-yet">모집 전</div>
                                        {% elif not is_end %}
                                            <div class="recruit-start">모집 중</div>
                                        {% else %}
                                            <div class="recruit-end">모집 마감</div>
                                        {% endif %}
                                    </div>
                                    {% is_teammember article.team request.user as is_teammember %}
                                    {% if not is_teammember and is_start and not is_end %}
                                    {% teamapplymessage article.team request.user as waited_teamapplymessage %}
                                        {% if not waited_teamapplymessage %}
                                        <div id="recruit-article-apply" class="opacity-hover" style="margin-left:5px;">
                                            {% if request.user.is_anonymous %}
                                                <div id="team-apply" onclick="alert('로그인 후 이용해주세요.')" data-team-id="{{ article.team.id }}">
                                            {% else %}
                                                <div id="team-apply" onclick="openTeamApplyModal({{ article.team.id }});"  data-team-id="{{ article.team.id }}">
                                            {% endif %}
                                                    지원하기
                                                </div>
                                        </div>
                                        {% else %}
                                        <div class="btn btn-secondary" style="font-size:13px; cursor:default;">
                                            {{ waited_teamapplymessage.get_status_display }}
                                        </div>
                                        {% endif %}
                                    {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div>
                팀 정보가 없습니다.
            </div>
            {% endif %}
    </div>
    {% if user.is_authenticated %}
        <div class="modal modal-lg fade" id="AddTeamApplyModal"></div>
        <script src="{% static 'js/team_apply_modal.js' %}"></script>
    {% endif %}
    {% endif %}
</form>