{% load tag_templatetag %}
{% load community_tag %}
{% load team_tag %}

<form id="article-form" method="post" edit-type="{{ type }}" action=".." class="" style=""
    onsubmit="edit_submit(event);">
    {% csrf_token %}
    <div class="d-flex flex-column border border-2" style="padding:10px;">
        <div class="d-flex flex-row justify-content-between" style="margin-bottom:5px;">
            <input style="flex:1" type="text" id="article-title" value="{{ article.title }}" placeholder="제목"
                class="form-control" style="width:100%; height: 40px; padding-left:10px;" required autofocus>
            {% if board.board_type == 'Recruit' %}
            {% if type == 'register' %}
            <select id="team-option" style="width:150px;height: 40px; padding-left:10px;border: 1px solid #ced4da;"
                name="" id="" class="form-check" required>
                {% team_options request.user %}
            </select>
            {% elif type == 'edit' %}
            <select id="team-option" style="width:150px;height: 40px; padding-left:10px;border: 1px solid #ced4da;"
                name="" id="" class="form-check" required>
                <option value="{{ article.team.id }}" disabled selected>{{ article.team.name }}</option>
            </select>
            {% endif %}
            {% endif %}
        </div>
        <div>
            <textarea name="" id="article-body" placeholder="게시글 내용" class="form-control"
                style="width:100%; padding-top:10px; padding-left:10px; overflow:auto; max-height:350px; min-height:350px;"
                required>{{ article.body }}</textarea>
        </div>
        <div style="margin-top:10px;width:100%;">
            <select name="" id="multiple" multiple>
                {% category_tag request %}
            </select>
        </div>
        {% if board.board_type == 'Recruit' %}
        <div id="period-setting">
            <div class="d-flex flex-row justify-content-between" style="padding-top:10px;">
                <div>모집 기간</div>
                <div><div onclick="setToDateEnd()" onsubmit="false;" class="btn btn-danger">마감</div></div>
            </div>
            <div class='row'>
                <div class='col-sm-6'>
                    <label for='PeriodPickerStartInput' class='form-label'>From</label>
                    <div class='input-group log-event' id='PeriodPickerStart' data-td-target-input='nearest'
                        data-td-target-toggle='nearest'>
                        <input id='PeriodPickerStartInput' type='text' class='form-control'
                            data-td-target='#PeriodPickerStart' />
                        <span class='input-group-text' data-td-target='#PeriodPickerStart' data-td-toggle='datetimepicker'>
                            <span class="material-icons-outlined">
                                today
                            </span>
                        </span>
                    </div>
                </div>
                <div class='col-sm-6'>
                    <label for='PeriodPickerEndInput' class='form-label'>To</label>
                    <div class='input-group log-event' id='PeriodPickerEnd' data-td-target-input='nearest'
                        data-td-target-toggle='nearest'>
                        <input id='PeriodPickerEndInput' type='text' class='form-control'
                            data-td-target='#PeriodPickerEnd' />
                        <span class='input-group-text' data-td-target='#PeriodPickerEnd' data-td-toggle='datetimepicker'>
                            <span class="material-icons-outlined">
                                event
                            </span>
                        </span>
                    </div>
                </div>
            </div>

        </div>
        {% endif %}

    </div>

    <div class="d-flex flex-row justify-content-end" style="margin-top:10px;">
        {% if board.anonymous_writer %}
        {% if type == 'register' or article.anonymous_writer %}
        <div>
            <input id="is-anonymous" type="checkbox" style="line-height:35px;" checked>
            <span style="padding-left:3px;line-height:35px;">익명</span>
        </div>
        {% else %}
        <div>
            <input id="is-anonymous" type="checkbox" style="line-height:35px;">
            <span style="padding-left:3px;line-height:35px;">익명</span>
        </div>
        {% endif %}
        {% endif %}
        {% if type == 'register' %}
        <div><button class="btn btn-outline-primary" type="submit" style="margin-left:20px;font-size:14px;"> <i
                    class="bi-pencil-square" style="font-size:14px;margin-left:3px;"></i>등록</button></div>
        {% elif type == 'edit' %}
        <div><button class="btn btn-outline-primary" type="submit" style="margin-left:20px;font-size:14px;"> <i
                    class="bi-pencil-square" style="font-size:14px;margin-left:3px;"></i>수정</button></div>
        {% endif %}
    </div>
</form>