{% load tag_templatetag %}
{% load community_tag %}
{% load team_tag %}
{% load markdown_filter %}
{% load static %}

<div id="board-title-bar" class="flex-between">
    <div id="board-title" class="p-board-title">
        {% if board.board_type != 'Notice' %}
        <a href="/community/board/{{board.name}}/{{board.id}}">
            {{ board.name }} 게시판
        </a>
        {% else %}
        {{ board.name }} 게시판
        {% endif %}
    </div>
</div>
{# article의 내용 영역 #}
<div id="article-wrapper">
    <div id="article-title-wrapper" class="d-flex flex-row justify-content-between gap-2">
        <div id="article-title" class="fs-5">
            {% if board.board_type == 'Recruit' %}
                [{{ article.team.name |default:"팀이 더이상 존재하지 않습니다." }}] 
            {% endif %}
            {{ article.title }}
        </div>
        <div id="article-metadata" >
            <div class="d-flex flex-column justify-content-center">
                {% if user == article.writer.user %}
                <span class="hover-opacity" onclick="edit();">수정</span>
                <form>
                    <input type="hidden" id="board-name" value="{{board.name}}">
                    <input type="hidden" id="board-id" value="{{board.id}}">
                    <input type="hidden" id="article-id" value="{{article.id}}">
                    <span id="btn-article-delete" class="hover-opacity">삭제</span>
                </form>
                {% elif request.user.is_anonymous %}
                    사용자
                {% elif not article.anonymous_writer and article.writer.user.username is not null%}
                <div class="dropdown writer-dropdown">
                    <button class="dropdown-toggle writer-dropdown-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{article.writer.user.username}}
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/user/{{article.writer.user.username}}">프로필</a></li>
                        <li><a class="dropdown-item" href="#" onclick="msgModalOpen({{ article.writer.user.id }})">메시지</a></li>
                    </ul>
                </div>
                {% elif article.anonymous_writer %}
                    익명
                {% else %}
                    탈퇴한 이용자
                {% endif %}
            </div>
            <div id="article-datetime">
                <div>
                    {{ article.pub_date|date:"Y-m-d" }}
                </div>
                <div>
                    {{ article.pub_date|time:"h:i a" }}
                </div>
            </div>
        </div>
    </div>
    <div id="article-title-border"></div>

    <div>
        <div id="article-body">
            {{ article.body|safe|mark }}
        </div>
    </div>
    <div id="article-taglist">
        {% for tag in tags %}
        <div class="badge bg-tag-{{tag.tag.type}}">
            #{{ tag.tag.name }}
        </div>
        {% empty %}
        <span class="ps-1">태그 없음</span>
        {% endfor %}
    </div>
    <div class="d-flex justify-content-between">
        <div id="article-view-reply">
            <span>조회수</span>
            <span>{{ article.view_cnt }}</span>
            <span>댓글</span>
            <span>{{comments|length}}</span>
        </div>
        <div id="article-like-scrap">
            <div id="article-like-btn" class="h-100 hover-opacity" onclick="ArticleThumbUp({{ article.id }},{{ request.user.id | default_if_none:-1 }})">
                {% is_article_thumb_up article request.user as is_thumb_up %}
                {% if not is_thumb_up %}
                <span class="material-icons-outlined">
                {% else %}
                <span class="material-icons">
                {% endif %}
                    thumb_up
                </span>
            </div>
            <div>
                <span id="article-like-cnt">
                    {{article|article_like}}
                </span>
            </div>
            {% is_article_scrap article request.user as is_scrap %}
            <div id="article-scrap-btn" class="h-100 hover-opacity" onclick="ArticleScrap({{ article.id }}, {{ request.user.id | default_if_none:-1 }})">
                <span class="material-icons-outlined">
                    {% if is_scrap %}
                    bookmark
                    {% else %}
                    bookmark_border
                    {% endif %}
                </span>
            </div>
            <div>
                <span id="article-scrap-cnt">
                    {{article|article_scrap}}
                </span>
            </div>
        </div>
    </div>
</div>

{% if board.board_type == 'Recruit' %}
<div id="article-teamcard">
    {% if article.team %}
    <div class="d-flex col">
        <div class="small-radius-image m-2">
            <img src="{{article.team.image.url}}" alt="team-image">
        </div>
        <div class="m-2">
            <div class="article-info-name">{{ article.team.name }}</div>
            <div class="article-info-desc desc-break">{{ article.team.description }}</div>
        </div>
    </div>
    <div class="d-flex col justify-content-between m-2">
        <div>
            {% is_period_end article.period_end as is_end %}
            {% is_period_end article.period_start as is_start %}
            <div class="article-info-name">
                모집기간
            </div>
            <div>
                시작: {{article.period_start|date:'Y.m.d H:i'}}
                <br>
                마감: {{article.period_end|date:'Y.m.d H:i'}}
                {% if not is_start %}
                <div class="sub-point-text">{{article.period_start|remain_datetime}}</div>
                {% elif not is_end %}
                <div class="sub-point-text">{{article.period_end|remain_datetime}}</div>
                {% endif %}
            </div>
        </div>
        
        <div class="d-flex align-items-center">
            {% if not is_start %}
            <div class="recruit-badge recruit-inactive mx-1">모집 전</div>
            {% elif not is_end %}
            <div class="recruit-badge recruit-active mx-1">모집 중</div>
            {% else %}
            <div class="recruit-badge recruit-inactive mx-1">모집 마감</div>
            {% endif %}

            {% is_teammember article.team request.user as is_teammember %}
            {% if not is_teammember and is_start and not is_end %}
            {% teamapplymessage article.team request.user as waited_teamapplymessage %}
                {% if not waited_teamapplymessage %}
                    {% if request.user.is_anonymous %}
                    <button class="recruit-btn hover-opacity mx-1" onclick="alert('로그인 후 이용해주세요.')" data-team-id="{{ article.team.id }}">
                    {% else %}
                    <button class="recruit-btn hover-opacity mx-1" onclick="openTeamApplyModal({{ article.team.id }});" data-team-id="{{ article.team.id }}">
                    {% endif %}
                        지원하기
                    </button>
                {% else %}
                <div class="recruit-badge recruit-inactive">
                    {{ waited_teamapplymessage.get_status_display }}
                </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% else %}
    <div>팀 정보가 없습니다.</div>
    {% endif %}
</div>
{% endif %}
{% if user.is_authenticated %}
<div id="AddTeamApplyModal" class="modal modal-lg fade"></div>
<script src="{% static 'js/team_apply_modal.js' %}"></script>
{% endif %}
