{% load tag_templatetag %}
{% load community_tag %}
{% load team_tag %}

<form id="article-form" method="post" edit-type="{{ type }}" action=".." onsubmit="edit_submit(event);">
    {% csrf_token %}
    <div class="d-flex flex-column border border-2 p-2">
        <div class="d-flex justify-content-between mb-1">
            <input type="text" id="article-title" class="form-control" value="{{ article.title }}" placeholder="제목"  required autofocus>
            {% if board.board_type == 'Recruit' %}
            {% if team %}
            <select id="team-option" name="team-option" class="form-control pointer" disabled>
                <option value="{{ team.id }}" selected>{{ team.name }}</option>
            </select>
            {% elif type == 'register' %}
            <select id="team-option" name="team-option" class="form-control pointer" required>
                {% team_options request.user %}
            </select>
            {% elif type == 'edit' %}
            <select id="team-option" name="team-option" class="form-control pointer" disabled>
                <option value="{{ article.team.id }}" selected>{{ article.team.name }}</option>
            </select>
            {% endif %}
            {% endif %}
        </div>
        <div class="mt-2">
            <textarea id="article-body" name="article-body" class="form-control" placeholder="게시글 내용" required>{{ article.body }}</textarea>
        </div>
        <div class="w-100 mt-2">
            <select name="" id="multiple" multiple>
                {% category_tag request %}
            </select>
        </div>
        {% if board.board_type == 'Recruit' %}
        <div id="period-setting" class="mt-3">
            <div class="d-flex justify-content-between">
                <div>모집 기간</div>
                <button type="button" class="btn btn-danger" onclick="setToDateEnd();">마감</button>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="form-label" for="PeriodPickerStartInput">From</label>
                    <div id="PeriodPickerStart" class="input-group log-event" data-td-target-input="nearest" data-td-target-toggle="nearest">
                        <input type="text" id="PeriodPickerStartInput" class="form-control" data-td-target="#PeriodPickerStart" required/>
                        <span class="input-group-text" data-td-target="#PeriodPickerStart" data-td-toggle="datetimepicker">
                            <span class="material-icons-outlined">
                                today
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="form-label" for="PeriodPickerEndInput">To</label>
                    <div id="PeriodPickerEnd" class="input-group log-event" data-td-target-input="nearest" data-td-target-toggle="nearest">
                        <input type="text" id="PeriodPickerEndInput" class="form-control" data-td-target="#PeriodPickerEnd" required />
                        <span class="input-group-text" data-td-target="#PeriodPickerEnd" data-td-toggle="datetimepicker">
                            <span class="material-icons-outlined">
                                event
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="d-flex justify-content-end mt-3">
            {% if board.anonymous_writer %}
            <div>
                <input type="checkbox" id="is-anonymous" class="lh-xl" {{ anonymous_check }}>
                <span class="lh-xl ps-1">익명</span>
            </div>
            {% endif %}
            <button type="submit" class="btn btn-outline-primary ms-3">
                <i class="bi-pencil-square"></i> {{ type_kr }}
            </button>
        </div>
    </div>
</form>