.nav-link.UnselectedNavItem {
  width: 50%;
  font-size: 18px;
  text-decoration: none;
  color: #454545;
  display: flex;
  justify-content: center;
}

.nav-link.UnselectedNavItem:hover {
  width: 50%;
  font-size: 18px;
  text-decoration: none;
  color: #454545;
  display: flex;
  justify-content: center;
  border-bottom: 3px solid #0066ff;
}

.nav-link.SelectedNavItem {
  width: 50%;
  font-size: 18px;
  font-weight: bolder;
  text-decoration: none;
  color: #0066ff;
  display: flex;
  justify-content: center;
}

.nav-link.SelectedNavItem:link {
  width: 50%;
  font-size: 18px;
  text-decoration: none;
  color: #0066ff;
  display: flex;
  justify-content: center;
}

.nav-link.SelectedNavItem:hover,
.nav-link.SelectedNavItem:active {
  width: 50%;
  font-size: 18px;
  text-decoration: none;
  color: #0066ff;
  display: flex;
  justify-content: center;
  border-bottom: 3px solid #0066ff;
}

.nav-link.BorderLine {
  border-bottom: 3px solid black;
}

.AppBody {
  min-height: 300px;
}

.EmptyApp {
  border-top: 1px solid #454545;
  padding-top: 10%;
  text-align: center;
  font-size: 45px;
}
