{% load tag_templatetag %}
<nav id="main-navbar" class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" href="#">SKKU OSP</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
            </span>
        </button>
        <div class="collapse navbar-collapse container-fluid" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/community">Community</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="NavRankDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Rank</a>
                    <ul class="dropdown-menu" aria-labelledby="NavRankDropdown">
                        <li><a class="dropdown-item" href="/rank/user">User</a></li>
                        <li><a class="dropdown-item" href="/rank/repo">Repository</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" aria-current="page" href="/challenge">Challenge</a></li>
                {% if user.is_staff %}
                <li class="nav-item"> <a class="nav-link" aria-current="page" href="/home/statistic">Statistic</a></li>
                {% endif %}
            </ul>
            {% if user.is_authenticated %}
            <ul class="navbar-nav">


                <div class="dropdown noti-dropdown">
                    <button class="noti-dropdown dropdown-toggle default-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:white;">
                        <li id="notification" class="nav-item me-4 notification material-icons-outlined pointer">
                            notifications
                        </li>
                    </button>
                    {% get_notifications request.user as notifications %}
                    <ul class="dropdown-menu">
                        {% for noti in notifications %}
                            <li class="nav-item d-flex flex-row justify-content-between" style="width:300px;padding-left:10px;padding-right:5px;">
                            <div>
                                {{ noti.body.body }}
                            </div>
                            <div>
                                {% if noti.body.type == "comment" %}
                                    <i onclick="location.href='{% url 'community:article-view' noti.body.article_id %}'"
                                       class="bi bi-box-arrow-up-right pointer"
                                    ></i>
                                {% endif %}
                            </div>
                            </li>

                        {% endfor %}
                    </ul>
                </div>


                <li id="message" class="nav-item me-4 notification material-icons-outlined pointer">
                    email
                </li>
            </ul>
            <div class="d-flex">
                <div class="dropdown">
                    <div class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="ProfileDropdown"
                        style="cursor:pointer;">
                        {{user.username}}
                    </div>
                    <ul class="dropdown-menu" aria-labelledby="ProfileDropdown">
                        {% if user.is_superuser %}
                        <li><a class="dropdown-item" href="/admin">Admin</a></li>
                        {% else %}
                        <li><a class="dropdown-item" href="/user/{{user}}">Profile</a></li>
                        {% endif %}
                        <li><a class="dropdown-item" href="/accounts/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
            {% else %}
            <a class="btn btn-outline-primary mx-2" href="/accounts/login">Log In</a>
            <a class="btn btn-outline-success mx-2" href="/accounts/register">Sign Up</a>
            {% endif %}
        </div>
    </div>
</nav>
<div id="message-modal" class="modal modal-lg fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">메시지</h5>
                <button type="button" data-bs-dismiss="modal" aria-label="Close">
                    <span class="material-icons-outlined">close</span>
                </button>
            </div>
            <div id="message-modal-body" class="modal-body d-flex">
                <div class="spinner-border m-auto" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>