{% load static %}
{% load tag_templatetag %}
{% load message_tag %}
<header class="container d-flex flex-row py-3 position-relative">
    <div id="header-logo" class="col-lg-3 col-1">
        <a id="img-logo" href="/community/">
            <img width="42px" height="42px" src="/static/images/logo-simple.svg" alt="로고">
        </a>
        <a id="text-logo" class="fs-3 bold text-nowrap align-middle" href="/community/">
            <span>SKKU SOSD</span>
        </a>
    </div>
    {#검색창#}
    <div {% if user.is_authenticated %}id="searcher-box-1"{% endif %} class="searcher-box">
    {% if is_community %}
    {% include "community/board/searcher.html" with board=board %}
    {% endif %}
    </div>
    {#헤더 아이콘 모음#}
    {% if user.is_authenticated %}
    {# get_notifications 함수로 유저를 대상으로 한 메시지를 가져오면서 읽지 않은 메시지가 있는지 체크#}
    {% get_notifications request.user as notifications %}
    {# get_new_message 함수로 유저를 대상으로 한 DM이 있는지 확인 (boolean) #}
    {% has_new_message request.user as has_new_msg %}
    <div class="d-flex flex-row p-2">
        {#1.지원서#}
        <div id="team-apply-list" class="position-relative">
            {% if notifications.has_new_app or notifications.has_new_app_result %}
            <span id="new-app" class="badge-new" data-new-send="{{ notifications.has_new_app_result }}" data-new-recv="{{ notifications.has_new_app }}">
                <span class="visually-hidden">New Application</span>
            </span>
            {% endif %}
            <button type="button" class="btn-none p-0" data-bs-hover="tooltip" data-bs-placement="bottom" data-bs-title="팀 지원서">
                <span class="material-icons-outlined nav-icon fs-4">
                    assignment_ind
                </span>
            </button>
        </div>
        
        {#2.메시지#}
        <div id="message" class="position-relative">
            {% if has_new_msg %}
            <span id="new-msg" class="badge-new">
                <span class="visually-hidden">New Message</span>
            </span>
            {% endif %}
            <button type="button" class="btn-none p-0" data-bs-hover="tooltip" data-bs-placement="bottom" data-bs-title="메시지">
                <span class="material-icons-outlined nav-icon fs-4">
                    email
                </span>
            </button>
        </div>
        {#3.알림#}
        <div class="dropdown noti-dropdown-btn">
            {% if notifications.new %}
            <span id="new-noti" class="badge-new">
                <span class="visually-hidden">New alerts</span>
            </span>
            {% endif %}
            <button class="noti-dropdown dropdown-toggle btn-none p-0" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside"
                aria-expanded="false" data-bs-hover="tooltip" data-bs-placement="bottom" data-bs-title="알림" onclick="closeTooltip();">
                <div id="notification" class="notification material-icons-outlined nav-icon pointer">
                    notifications
                </div>
            </button>
            <ul id="noti-list" class="dropdown-menu noti-dropdown">
                <li class="d-flex justify-content-start fixed-li px-1">
                    <button type="button" class="btn btn-sm btn-none hover-gray" onclick="readAllNotification();">
                        <i class="bi bi-check-square"></i>
                        <span >모두읽음</span>
                    </button>
                </li>
                {% for noti in notifications.list %}
                <li id="noti-{{noti.id}}" class="d-flex justify-content-between noti-item hover-opacity {{noti.receiver_read}}"
                onclick="readNotification('{{noti.type}}', '{{noti.id}}', '{{noti.feedback}}');">
                    <div class="d-flex">
                        <div class="material-icons-outlined">
                            {{noti.icon}}
                        </div>
                        <div>
                            {{ noti.body }}
                        </div>
                    </div>
                    <div>
                        {% if noti.type in notifications.open_types %}
                        <i class="bi bi-box-arrow-up-right"></i>
                        {% endif %}
                    </div>
                </li>
                {% empty %}
                <li class="empty text-center noti-item">
                    알림이 없습니다.
                </li>
                {% endfor %}
            </ul>
        </div>
        {#4.계정: staff만 표시 #}
        {% if user.is_staff %}
        <div class="dropdown">
            <div class="dropdown-toggle hover-opacity" data-bs-toggle="dropdown" aria-expanded="false" id="ProfileDropdown">
                {{user.username}}
            </div>
            <ul class="dropdown-menu" aria-labelledby="ProfileDropdown">
                {% if user.is_superuser %}
                <li><a class="dropdown-item" href="/admin">Admin 관리</a></li>
                <li><a class="dropdown-item" href="{% url 'home:statistic' %}">GitHub 통계</a></li>                
                <li><a class="dropdown-item" href="{% url 'rank:user_rank' %}">유저 랭킹</a></li>
                <li><a class="dropdown-item" href="{% url 'rank:repo_rank' %}">리포지토리 랭킹</a></li>
                <li><a class="dropdown-item" href="https://analytics.google.com/analytics/web/#/p375838293/reports/intelligenthome?params=_u..nav%3Dmaui&collectionId=user">Google Analytics</a></li>
                {% endif %}
                <li><a class="dropdown-item" href="{% url 'community:main' %}">커뮤니티</a></li>
                <li>
                    <form method="post" action="{% url 'common:logout' %}" class="dropdown-item">
                        {% csrf_token %}
                        <button type="submit" class="btn-none dropdown-item">로그아웃</button>
                    </form>
                </li>
            </ul>
        </div>
        {% endif %}
    </div>
    {% endif %}
</header>
{#검색창#}
<div id="searcher-box-2" class="searcher-box">
{% if is_community and user.is_authenticated %}
{% include "community/board/searcher.html" with board=board %}
{% endif %}
</div>
{% if user.is_authenticated %}
<div id="message-modal" class="modal modal-lg fade">
    <div class="modal-dialog modal-dialog-started">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">메시지</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="message-modal-body" class="modal-body d-flex p-0">
                <div class="spinner-border m-auto" role="status">
                    <span class="visually-hidden">로딩중</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="ApplyTeamModal" class="modal modal-lg fade">
</div>
<div id="consent-wirte" class="modal modal-lg fade">
</div>
<div id="consent-open" class="modal modal-lg fade">
</div>
{% endif %}
{% block script %}
{% endblock script %}
