{% extends 'main.html' %}

{% load static %}
{% load user_templatetag %}

{% block additional_header %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/javascripts/users.js"></script>
{% endblock %}

{% block content %}
    <div class="container" style="height:100%;">
    <h1>User</h1>
        {% if std %}
      <div class="d-flex flex-row" style="height:100%;">
        <div class="flex-grow-3" style="flex-grow:3;">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td scope="row">이름</td>
                <td>{{ std.name }}</td>
              </tr>
              <tr>
                <td scope="row">학번</td>
                <td id="student_id">{{ std.id }}</td>
              </tr>
              <tr>
                <td scope="row">대학</td>
                <td>{{ std.college }}</td>
              </tr>
              <tr>
                <td scope="row">학과</td>
                <td>{{ std.dept }}</td>
              </tr>
              <tr>
                <td scope="row">전공</td>
                <td>
                    {% if std.plural_major %}
                        복수전공
                    {% else %}
                        원전공
                    {% endif %}
                </td>
              </tr>
              <tr>
                <td scope="row">GitHub</td>
                <td> <a href="{% github_link std.github_id %}">{{ std.github_id }}</a></td>
              </tr>
              <tr>
                <td scope="row">개인 Email</td>
                <td>{{ std.personal_email }}</td>
              </tr>
              <tr>
                <td scope="row">Github Email</td>
                <td>{{ std.primary_email }}</td>
              </tr>
              <tr>
                <td scope="row">Score</td>
                <td>{{ score }}</td>
              </tr>
{#              <tr>#}
{#                <td scope="row">Owner Score</td>#}
{#                <td>owned_score</td>#}
{#              </tr>#}
{#              <tr>#}
{#                <td scope="row">Contributor Score</td>#}
{#                <td>contributor_score</td>#}
{#              </tr>#}
{#              <tr>#}
{#                <td scope="row">Additional Score</td>#}
{#                <td>addition_score</td>#}
{#              </tr>#}
            </tbody>
          </table>
        </div>
        <div class="flex-grow-9" style="flex-grow:9; height:100%;">
        <div class="container" style="height:100%;">
            {% include "ajax/repository_cards.html" %}
      </div>

        </div>
    {% else %}
          <div style="color:darkorange;text-align:center;"> 해당 학번에 정보가 존재하지 않습니다.</div>
    {% endif %}
  </div>
</div>
{% endblock %}