{% load static %}
{% load tag_templatetag %}
{% load community_tag %}
{% load team_tag %}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">팀 지원서 목록</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body w-100" style="min-height:400px;overflow-y:auto;">
            <ul class="nav nav-pills nav-fill" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button type="button" class="nav-link active" id="apply-recv-tab" role="tab"
                        data-bs-toggle="pill" data-bs-target="#apply-recv" aria-controls="apply-recv"
                        aria-selected="true">
                        받은 지원서
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="apply-send-tab" data-bs-toggle="pill" data-bs-target="#apply-send"
                        type="button" role="tab" aria-controls="apply-send" aria-selected="false">
                        보낸 지원서
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="apply-recv" role="tabpanel" aria-labelledby="apply-recv-tab" tabindex="0">
                {% get_admin_team request.user as admin_teams %}
                {% for admin_team in admin_teams %}
                    {% get_teamappliedmessage_waited admin_team as waitedapplymessages %}
                    {% for applymsg in waitedapplymessages %}
                    <div class="team-apply-item received split-line" id="apply-user-{{ applymsg.account.user.username }}">
                        <div class="team-apply-meta">
                            <div class="team-apply-teamname">
                                {{ applymsg.team.name }}
                                <i value="{{ applymsg.id }}" class="bi bi-caret-down-fill hover-opacity"
                                    style="display:inline-block;" data-bs-toggle="collapse"
                                    data-bs-target="#msg-id-{{ applymsg.id }}" aria-expanded="false"
                                    aria-controls="msg-id-{{ applymsg.id }}"
                                    role="button"></i>
                            </div>
                            <div class="team-apply-user">
                                <a href="/user/{{applymsg.account.user.username}}">
                                    {{ applymsg.account.user.username }}
                                </a>
                            </div>
                            <div class="team-apply-action">
                                <input type="hidden" id="msg-{{applymsg.id}}" data-team-id="{{applymsg.team.id}}" data-user="{{applymsg.account.user.username}}">
                                <button class="btn-team-refuse btn-xs btn-refuse" data-id="{{applymsg.id}}">
                                    거절
                                </button>
                                <button class="btn-team-accept btn-xs btn-accept" data-id="{{applymsg.id}}">
                                    수락
                                </button>
                            </div>
                        </div>
                        <div id="msg-id-{{ applymsg.id }}" class="collapse team-apply-detail">
                            <div style="width: 20%;">지원동기</div>
                            <div class="team-apply-detail-body">
                                {{ applymsg.message|linebreaksbr }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% endfor %}
                </div>
                <div class="tab-pane fade" id="apply-send" role="tabpanel" aria-labelledby="apply-send-tab"
                    tabindex="0">
                    {% get_sent_teamapply request.user as sent_teamapply %}
                    {% for applymsg in sent_teamapply %}
                    <div id="apply-{{applymsg.id}}" class="team-apply-item sent split-line">
                        <div class="team-apply-meta">
                            <div class="team-apply-teamname">
                                {{ applymsg.team.name }}
                                <i value="{{ applymsg.id }}" class="bi bi-caret-down-fill hover-opacity"
                                    style="display:inline-block;" data-bs-toggle="collapse"
                                    data-bs-target="#msg-id-{{ applymsg.id }}" aria-expanded="false"
                                    aria-controls="msg-id-{{ applymsg.id }}"
                                    role="button"></i>
                            </div>
                            <div class="team-apply-user">
                            </div>
                            <div class="team-apply-action">
                                {% if applymsg.status == 0 %}
                                <button class="btn-xs btn-wait" disabled>
                                    검토 중
                                </button>
                                {% elif applymsg.status == 1 %}
                                <button class="btn-xs btn-accept" disabled>
                                    승인 완료
                                </button>
                                {% elif applymsg.status == 2 %}
                                <button class="btn-xs btn-refuse" disabled>
                                    거절됨
                                </button>
                                {% endif %}
                            </div>
                            {% if applymsg.status == 0 %}
                            <button class="btn-xs btn-remove team-apply-delete" data-id="{{applymsg.id}}">
                                취소
                            </button>
                            {% else %}
                            <button class="btn-xs btn-remove team-apply-delete" data-id="{{applymsg.id}}">
                                삭제
                            </button>
                            {% endif %}
                        </div>
                        <div id="msg-id-{{ applymsg.id }}" class="collapse team-apply-detail">
                            <div style="width: 20%;">지원동기</div>
                            <div class="team-apply-detail-body">
                                {{ applymsg.message|linebreaksbr }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% block script %}
<script src="{% static 'js/team_application.js' %}"></script>
{% endblock script %}

