{% load tag_templatetag %}
{% load community_tag %}
{% load team_tag %}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">팀 지원서 목록</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body w-100" style="min-height:400px;overflow-y:auto;">
            <ul class="nav nav-pills nav-fill" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="apply-recv-tab" data-bs-toggle="pill"
                        data-bs-target="#apply-recv" type="button" role="tab" aria-controls="apply-recv"
                        aria-selected="true">받은 지원서</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="apply-send-tab" data-bs-toggle="pill" data-bs-target="#apply-send"
                        type="button" role="tab" aria-controls="apply-send" aria-selected="false">보낸 지원서</button>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="apply-recv" role="tabpanel" aria-labelledby="apply-recv-tab"
                    tabindex="0">
                    {% get_admin_team request.user as admin_teams %}
                    {% for admin_team in admin_teams %}
                    {% get_teamappliedmessage_waited admin_team as waitedapplymessages %}
                    {% for applymsg in waitedapplymessages %}
                    <div class="team-apply-item received " id="apply-user-{{ applymsg.account.user.username }}">
                        <div class="team-apply-meta">
                            <div class="team-apply-teamname">
                                {{ applymsg.team.name }}
                                <i value="{{ applymsg.id }}" class="bi bi-caret-down-fill"
                                    style="cursor:pointer; display:inline-block;" data-bs-toggle="collapse"
                                    data-bs-target="#msg-id-{{ applymsg.id }}" aria-expanded="false"
                                    aria-controls="msg-id-{{ applymsg.id }}"
                                    role="button"></i>
                            </div>
                            <div onclick="location.href='/user/{{applymsg.account.user.username}}'" class="team-apply-user">
                                {{ applymsg.account.user.username }}
                            </div>
                            <div class="team-apply-action">
                                <button
                                    onclick="apply_result({{ applymsg.team.id }},'{{ applymsg.account.user.username }}',false)"
                                    class="btn-refuse">거절</button>
                                <button
                                    onclick="apply_result({{ applymsg.team.id }},'{{ applymsg.account.user.username }}',true)"
                                    class="btn-accept">수락</button>
                            </div>
                        </div>
                        <div id="msg-id-{{ applymsg.id }}" class="collapse team-apply-detail">
                            <div style="width: 20%;">지원동기</div>
                            <div class="team-apply-detail-body">
                                {{ applymsg.message|linebreaksbr }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endfor %}
                </div>
                <div class="tab-pane fade" id="apply-send" role="tabpanel" aria-labelledby="apply-send-tab"
                    tabindex="0">
                    {% get_sent_teamapply request.user as sent_teamapply %}
                    {% for applymsg in sent_teamapply %}
                    <div id="apply-{{applymsg.id}}" class="team-apply-item sended">
                        <div class="team-apply-meta">
                            <div class="team-apply-teamname">
                                {{ applymsg.team.name }}
                                <i value="{{ applymsg.id }}" class="bi bi-caret-down-fill"
                                    style="cursor:pointer; display:inline-block;" data-bs-toggle="collapse"
                                    data-bs-target="#msg-id-{{ applymsg.id }}" aria-expanded="false"
                                    aria-controls="msg-id-{{ applymsg.id }}"
                                    role="button"></i>
                            </div>
                            <div class="team-apply-user">
                            </div>
                            <div class="team-apply-action">
                                {% if applymsg.status == 0 %}
                                <button class="btn-wait" disabled>
                                    검토 대기중
                                </button>
                                {% elif applymsg.status == 1 %}
                                <button class="btn-accept" disabled>
                                    승인
                                </button>
                                {% elif applymsg.status == 2 %}
                                <button class="btn-refuse" disabled>
                                    거절
                                </button>
                                {% endif %}
                            </div>
                            {% if applymsg.status == 0 %}
                            <button class="team-apply-delete btn btn-outline-danger" onclick="ApplyDelete({{applymsg.id}})">
                                취소
                            </button>
                            {% else %}
                            <button class="team-apply-delete btn btn-outline-danger" onclick="ApplyDelete({{applymsg.id}})">
                                삭제
                            </button>
                            {% endif %}
                        </div>
                        <div id="msg-id-{{ applymsg.id }}" class="collapse team-apply-detail">
                            <div style="width: 20%;">지원동기</div>
                            <div class="team-apply-detail-body">
                                {{ applymsg.message|linebreaksbr }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function showEmptyApply(){
        msg_received = $(".team-apply-item.received");
        console.log(msg_received);
        if (msg_received.length == 0){
            $("#apply-recv").empty();
            $("#apply-recv").append(`<div style="text-align:center; padding-top:40px;">받은 지원서가 없습니다. </div>`);
        }
        msg_sended = $(".team-apply-item.sended");
        console.log("msg_sended",msg_sended);
        if (msg_sended.length == 0){
            $("#apply-send").empty();
            $("#apply-send").append(`<div style="text-align:center; padding-top:40px;">보낸 지원서가 없습니다. </div>`);
        }
    }
    function apply_result(team_id, username, is_okay) {

        var status = is_okay ? "수락" : "거절";
        
        if (!confirm(username + ": " + status + "하시겠습니까?")) {
            return;
        }
        
        ajax_form_data = new FormData();
        ajax_form_data.append('team_id', team_id);
        ajax_form_data.append('username', username);
        ajax_form_data.append('is_okay', is_okay);
        ajax_form_data.append('direction', 'TO_TEAM');
        ajax_form_data.append('csrfmiddlewaretoken', csrftoken);
        
        
        $.ajax({
            type: "POST",
            url: "/team/api/team-invite-update/",
            data: ajax_form_data,
            dataType: 'json',
            processData: false,
            contentType: false,
            
            success: function (data) {
                if (data['status'] == "success") {
                    console.log(data)
                    $('#apply-user-'+data['username']).remove()
                    showEmptyApply();
                } else {
                    alert(data['message']);
                }
            },
            error: function (data) {
                alert('Error Occured');
            }
        });
    }
    showEmptyApply();
    
</script>
