{% load tag_templatetag %}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">지원하기</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <div class="form-label">지원하는 팀: {{ team.name }}</div>
                <div class="desc-break">{{ team.description }}</div>
            </div>
            <div class="mb-3">
                <div class="form-label">지원자 정보: {{ request.user.username }}</div>
            </div>
            <form class="needs-validation row" id="team-apply-form" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="team-id" value="{{ team.id }}">
                <div class="mb-3">
                    <label for="team-desc" class="form-label">지원 동기</label>
                    <textarea id="team-desc" placeholder="지원 동기를 작성해주세요." name="desc" class="form-control" rows="3" required></textarea>
                    <div class="valid-feedback" for="team-desc"></div>
                    <div class="invalid-feedback" for="team-desc"></div>
                </div>
                <div class="mb-3">
                    <label for="required-checkbox" class="form-label">지원 시 지원한 팀의 사용자 프로필 열람에 동의합니다.</label>
                    <input id="required-checkbox" type="checkbox" required>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default" id="team-apply-submit">지원하기</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
    const teamApplyForm = document.getElementById("team-apply-form");
    teamApplyForm.addEventListener("submit", (event) => {
        const formData = new FormData(teamApplyForm);
        event.preventDefault();
        let teamId = $('input[name=team-id]').val();
        if(confirm('지원을 완료하시겠습니까?')){
            $.ajax({
                url: "/team/api/team-apply"+"/"+teamId,
                type: "POST",
                data: formData,
                dataType: 'JSON',
                cache: false,
                contentType: false,
                processData: false
            }).done(function (data) {
                console.log(data);
                if (data.status == 'fail') {
                    alert('다시 시도해주세요.');
                }
                window.location.reload();
            }).fail(function (data) {
                alert('Server Error!');
            });
        }
    });
});
</script>
