{% load tag_templatetag %}
<form class="needs-validation row" id="team-create-form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-4">
        <label for="team-name" class="form-label">팀 이름</label>
        <input type="text" id="team-name" name="name" class="form-control fs-7" required>
        <div class="valid-feedback" data-feedback-type="team-name" ></div>
        <div class="invalid-feedback" data-feedback-type="team-name"></div>
    </div>
    <div class="mb-4">
        <label for="team-desc" class="form-label">팀 설명</label>
        <textarea id="team-desc" name="desc" class="form-control fs-7" rows="3"></textarea>
        <div class="valid-feedback" data-feedback-type="team-desc"></div>
        <div class="invalid-feedback" data-feedback-type="team-desc"></div>
    </div>
    <div class="mb-4">
        <label for="team-image-input" class="form-label">팀 대표 이미지</label>
        <input type="file" id="team-image-input" name="image" class="form-control" required>
        <div class="valid-feedback" data-feedback-type="team-image"></div>
        <div class="invalid-feedback" data-feedback-type="team-image"></div>
    </div>
    <div class="mb-4">
        <label for="team-tag" class="form-label">팀 분야</label>
        <select name="tag" id="team-tag-input" multiple required>
            {% category_tag request %}
        </select>
        <div class="valid-feedback" data-feedback-type="team-tag"></div>
        <div class="invalid-feedback" data-feedback-type="team-tag"></div>
    </div>
</form>
