{% load tag_templatetag %}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">팀 생성</h5>
        </div>
        <div class="modal-body">
            <form class="needs-validation row" id="team-create-form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="team-name" class="form-label">팀 이름</label>
                    <input type="text" id="team-name" name="name" class="form-control" required>
                    <div class="valid-feedback" for="team-name"></div>
                    <div class="invalid-feedback" for="team-name"></div>
                </div>
                <div class="mb-3">
                    <label for="team-desc" class="form-label">팀 설명</label>
                    <textarea id="team-desc" name="desc" class="form-control" rows="3"></textarea>
                    <div class="valid-feedback" for="team-desc"></div>
                    <div class="invalid-feedback" for="team-desc"></div>
                </div>
                <div class="mb-3">
                    <label for="team-image" class="form-label">팀 대표 이미지</label>
                    <input type="file" id="team-image-input" name="image" class="form-control" required>
                    <div class="valid-feedback" for="team-image"></div>
                    <div class="invalid-feedback" for="team-image"></div>
                </div>
                <div class="mb-3">
                    <label for="team-tag" class="form-label">팀 분야</label>
                    <select name="tag" id="team-tag-input" multiple required>
                        {% category_tag request %}
                    </select>
                    <div class="valid-feedback" for="team-tag"></div>
                    <div class="invalid-feedback" for="team-tag"></div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            <button type="submit" class="btn btn-primary" id="team-submit">저장</button>
        </div>
    </div>
</div>