{% load team_tag %}
<form id="team-invite-form" class="needs-validation row" enctype="multipart/form-data">
    {% csrf_token %}
    {% if invite_user %}
    <div class="mb-4">
        <label class="form-label" for="invite-team-username">팀원</label>
        <input type="text" id="invite-team-username" name="username" class="form-control" value="{{ invite_user.user.username }}" readonly>
    </div>
    <div class="mb-4">
        <label class="form-label" for="invite-team-id">초대할 팀 선택</label>
        <select id="invite-team-id" name="id" required autofocus>
            <option data-placeholder="true"></option>
            {% team_options_exclude_user request.user invite_user recommend_team %}
        </select>
        <div class="valid-feedback" data-feedback-type="team-id"></div>
        <div class="invalid-feedback" data-feedback-type="team-id"></div>
    </div>
    {% else %}
    <div class="mb-4">
        <label class="form-label" for="invite-team-id">팀</label>
        <input type="text" id="invite-team-id" class="form-control" team_id="{{ invite_team.id }}" value="{{ invite_team.name }}" readonly>
    </div>
    <div class="mb-4">
        <label class="form-label" for="invite-team-username">초대할 팀원 선택</label>
        <select id="invite-team-username" name="name" required autofocus>
            <option data-placeholder="true"></option>
            {% teammember_options_exclude_members request.user invite_team %}
        </select>
        <div class="valid-feedback" data-feedback-type="team-name"></div>
        <div class="invalid-feedback" data-feedback-type="team-name"></div>
    </div>
    {% endif %}
    <div class="mb-4">
        <label class="form-label" for="team-invite-msg">초대 메세지</label>
        <textarea id="team-invite-msg" name="desc" class="form-control" rows="3" placeholder="초대 인사를 입력하세요."></textarea>
        <div class="valid-feedback" data-feedback-type="team-desc"></div>
        <div class="invalid-feedback" data-feedback-type="team-desc"></div>
    </div>
</form>
