{% load static %}
{% load tag_templatetag %}

<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <div class="modal-title">
        팀 정보 수정
      </div>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <form id="team-update-form">
        {% csrf_token %}
        <input style="display:none" name="team-id" val="{{ team.id }}">

      <div style="margin-bottom:5px;">
          <label for="team-name">팀 이름:</label>
          <input type="text" name="team-name" class="form-control" val="{{ team.name }}">
      </div>
      <div style="margin-bottom:5px;">
          <label for="team-desc">팀 설명</label>
          <input type="text" name="team-desc" class="form-control" val="{{ team.description }}">
      </div>

      <div style="margin-bottom:5px;">
          <label for="team-image">팀 대표 이미지</label>
          <input type="file" name="team-image" id="team-image-submit" class="form-control">
      </div>

      <div class="w-100 d-flex flex-row justify-content-between" style="width:400px;">
            <div><label for="">팀 멤버</label></div>
            <div><i class="bi-arrow-clockwise"></i></div>
      </div>
      <div class="w-100 text-left">
          <table style="width:300px;max-width:300px;height:200px;max-height:200px;overflow-y:auto;margin-bottom:5px;">
              <colgroup>
                   <col width="20%">
                   <col width="60%">
                   <col width="20%">
               </colgroup>
              {% for member in team_members %}
                  <tr style="height:50px;">
                  <td class="text-center" >
                      <i class="bi-star"></i>
                  </td>
                  <td class="text-left">
                      {% if request.user.is_anonymous %}
                          <a href="">사용자</a>
                      {% else %}
                      <a href="{% url 'user:profile' member.member.user.username %}">
                          {{member.member.user.username}}
                      </a>
                      {% endif %}
                  </td>
                  <td class="text-center">
                    <i class="bi-dash-circle"></i>
                  </td>
                  </tr>
              {% endfor %}
          </table>
      </div>

    <div>
        <div>관련 분야</div>
      <select name="tag" id="team-tag" multiple required>
        {% category_tag request %}
      </select>
    </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" id="team-update-submit">저장</button>
    </div>
  </div>
</div>