
.customer-center-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.customer-center-row {
    width: 70%;
    max-width: 800px;
    margin-bottom: 1.5rem;
}

.customer-center-button {
    display: flex;
    align-items: center;
    width: 100%;
    height: 8rem;
    padding: 1.5rem;
    background-color: var(--sub-bg-color);
    border: 1px solid var(--main-border-color);
    border-radius: var(--bs-border-radius);
    text-decoration: none;
    color: var(--main-font-color);
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px var(--card-box-shadow);
}

.customer-center-button:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px var(--card-box-shadow);
    border-color: var(--main-selected-color);
}

.customer-center-icon {
    width: 100px;
    height: 100px;
    margin-left: 3rem;
    margin-right: 3.3rem;
}

.customer-center-text {
    font-size: 1.6rem;
    font-family: 'nanumfont_Bold';
}

@media screen and (max-width: 768px) {
    .customer-center-container {
        width: 95%;
        padding: 1rem;
    }

    .customer-center-row {
        width: 100%;
    }

    .customer-center-button {
        height: 6rem;
    }

    .customer-center-text {
        font-size: 1.4rem;
    }

    .customer-center-icon {
        width: 75px;
        height: 75px;
        margin-left: 1.8rem;
        margin-right: 2.4rem;
    }
}
