.inquiry-header {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.inquiry-description {
    color: #3a3a3a;
    font-size: 1rem;
    margin-bottom: 1rem;
    font-family: 'nanumfont_Regular';
}

.inquiry-separator {
    border: 0;
    height: 1px;
    background-color: #3a3a3a;
    margin: 0 auto;
    width: 100%;
}
