.board-name {
  font-size: 20px;
  font-weight: bolder;
  color: var(--main-selected-color);
}

#article-title {
  display: flex;
  width: 100%;
  padding: 16px 20px;
  align-items: center;
  gap: 10px;
  border: solid var(--main-border-color) !important;
  border-width: 0 1px 1px 0 !important;
  border-radius: 0 !important;
}

/* 게시글의 디자인을 고려하여 라이브러리 디자인을 직각으로 만듦 */
#article-form .tox-tinymce,
#article-form .css-13cymwt-control,
#article-form .css-16rlsjj-control {
  border: solid var(--main-border-color) !important;
  border-width: 0 1px 1px 1px !important;
  margin-left: -1px;
  border-radius: 0 !important;
}

.anonymous-btn {
  display: inline-block;
  margin-right: 15px;
}
