.board-name {
  font-size: 20px;
  font-weight: bolder;
  color: var(--main-selected-color);
}

#article-title {
  display: flex;
  width: 100%;
  padding: 16px 20px;
  align-items: center;
  gap: 10px;
  border-width: 0 1px 1px 0 !important;
  border-radius: 0 !important;
}

/* 게시글의 디자인을 고려하여 라이브러리 디자인을 직각으로 만듦 */
/* #article-form {
  border: 1px solid var(--main-border-color) !important;
  border-radius: 0;
} */

#article-form .tox-tinymce,
#article-form .css-13cymwt-control,
#article-form .css-16rlsjj-control,
#article-title,
#PeriodPickerStart .form-control,
#PeriodPickerEnd .form-control {
  border: 1px solid var(--main-border-color) !important;
  border-radius: 0;
  margin-left: 0;
}

.anonymous-btn {
  display: inline-block;
  margin-right: 15px;
}

#PeriodPickerStart .form-control {
  display: flex;
  width: 200px;
  height: 35px;
  padding: 10px 0px;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
}

#PeriodPickerEnd .form-control {
  display: flex;
  width: 200px;
  height: 35px;
  padding: 10px 0px;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.select-team {
  z-index: 200;
}
