.board-name {
  font-size: 20px;
  font-weight: bolder;
  color: var(--main-selected-color);
}

#article-title {
  display: flex;
  width: 100%;
  padding: 16px 20px;
  align-items: center;
  gap: 10px;
  border: solid var(--main-border-color) !important;
  border-width: 0 1px 1px 0 !important;
  border-radius: 0 !important;
}

.tox-tinymce,
.css-13cymwt-control {
  border: solid var(--main-border-color) !important;
  border-width: 0 1px 1px 1px !important;
  margin-left: -1px;
  border-radius: 0 !important;
}

.anonymous-btn {
  display: inline-block;
  margin-right: 15px;
}
