@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("/static/css/color.css");

li,
a,
button {
  font-weight: 500;
  text-decoration: none;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#body-wrapper {
  min-height: 100%;
  position: relative;
}

#body-content {
  padding-bottom: 80px;
}

#main-navbar{
  background-color: var(--main-point-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
}

#main-navbar .navbar-brand{
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
}

#main-navbar .nav-link{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #D9D9D9;
}

#main-navbar .dropdown-menu{
  border-radius: 0;
  width: fit-content;
  color: #000000;
}

#main-navbar .dropdown-menu{
  border-radius: 0;
  min-width: inherit;
  color: #000000;
}


/* 
#main-navbar .notification{
} */

.text-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer {
  height: 80px;
  width: 100%;
  bottom: 0;
  left: 0;
  position : absolute;
  border-top: solid 2px black;
  font-family: "Zen Maru Gothic", sans-serif;
  text-align: center;
  display: grid;
  grid-row: 1fr 1fr 1fr;
  grid-column: 1fr 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 10px;
}
.footer-item-col1 {
  grid-column: 1/2;
}
.footer-item-col2 {
  grid-column: 2/3;
}
.footer-item-row1 {
  grid-row: 1/2;
  font-weight: bold;
}

.footer-item-row1 {
  grid-row: 2/3;
}

.form-floating-group input {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.bg-tag-tool {
  background-color: skyblue !important; 
}

.bg-tag-domain {
  background-color: burlywood !important; 
}

.bg-tag-language {
  background-color: lightsalmon !important; 
}

.bg-tag-etc {
  background-color: lightgray !important; 
  color: black;
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
  
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }
  
  .carousel-inner .carousel-item-start.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
transform: translateX(0);
}

