@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("/static/css/color.css");

@font-face {
  font-family: 'IBMPlexSansKR-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'IBMPlexSansKR-Regular';
}

li,
a,
button {
  font-weight: 500;
  text-decoration: none;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: var(--main-bg-color);
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

.row {
  --bs-gutter-x: 0.8rem !important;
}

#body-wrapper {
  min-height: 100%;
  position: relative;
}

#body-content {
  padding-bottom: 80px;
}

#main-navbar {
  background-color: var(--main-point-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
}

#main-navbar .navbar-brand {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
}

#main-navbar .nav-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #D9D9D9;
}

#main-navbar .dropdown-menu {
  border-radius: 0;
  width: fit-content;
  color: #000000;
}

#main-navbar .icon {
  vertical-align: middle;
  color: #FFFFFF;
}

div.vr {
  background-color: var(--main-border-color);
  opacity: 100;
}

.noti-item {
  width: 20em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: solid 0.5px var(--main-border-color);
}

.noti-item:first-child {
  padding-top: 0;
}

.noti-item:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.noti-item.empty{
  vertical-align: middle;
}

#message-modal .modal-dialog,
#message-modal .modal-content {
  height: 70%;
}

#message-modal .modal-body {
  height: 1%;
}

div> ::-webkit-scrollbar {
  width: 10px;
}

div> ::-webkit-scrollbar-track {
  border-radius: 10px;
}

div> ::-webkit-scrollbar-thumb {
  background: var(--profile-btn-inactive);
  border-radius: 10px;
}

div> ::-webkit-scrollbar-thumb:hover {
  background: var(--profile-btn-inactive);
}

#message-modal-body {
  padding: 0;
}

#opponent-list {
  padding-inline-start: 0;
  list-style-type: none;
}

.opponent-item {
  padding: 1rem;
}

.opponent-item.selected {
  background-color: var(--main-bg-color);
}

.modal-header {
  background-color: var(--main-point-color);
  border-color: var(--main-border-color);
  border-radius: 0;
  color: #FFFFFF;
}

.modal-header button {
  background-color: transparent;
  border: 0;
  color: #FFFFFF;
}

.modal-header button span {
  vertical-align: middle;
  display: inline-block;
}

#oppo-list {
  width: 40%;
  z-index: 1;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

#chat-view-tab {
  width: 60%;
  padding: 1rem;
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
}

.modal-content {
  border-radius: 0;
  border: none;
}

img.opponent-profile {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: solid 0.5px var(--main-border-color);
}

.unread-count {
  border-radius: 1em;
  padding: .25em;
  color: #FFFFFF;
  background-color: var(--sub-point-color);
  font-weight: 800;
  font-size: 12px;
}

.opponent-name {
  font-size: 18px;
  font-weight: 400;
}

#chat-view {
  overflow-y: auto;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.chat-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.25rem;
}

.chat-box.pending {
  opacity: 50%;
}

.chat-box.send {
  align-items: flex-end;
}

.chat-box.receive {
  display: flex;
  align-items: flex-start;
}

.chat-text {
  display: flex;
  width: 100%;
}

.send .chat-text {
  flex-direction: row-reverse;
}

.receive .chat-text {
  flex-direction: row;
}

.receive .chat-unread {
  display: none;
}

.send .chat-unread {
  background: var(--sub-point-color);
  border-radius: 50%;
  height: 0.5em;
  width: 0.5em;
  margin-top: auto;
  margin-right: 0.25em;
}

.chat-text-body {
  max-width: 80%;
  padding: 0.5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.send .chat-text-body {
  background-color: var(--chat-send-color);
}

.receive .chat-text-body {
  background-color: var(--chat-receive-color);
}

.chat-date {
  font-weight: 500;
  font-size: 12px;
  color: var(--main-icon-color);
}

#chat-input-form {
  display: flex;
}

#chat-input {
  flex: 2;
  margin-right: 0.25rem;
  background: #FFFFFF;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0.5em;
  border-radius: 0.5rem;
  border: none;
}

#chat-input:focus {
  outline: 0.0625rem solid var(--sub-point-color);
}

#chat-input:disabled {
  background-color: var(--main-bg-color);
}


#chat-submit {
  border: 0;
  border-radius: 10%;
  background-color: var(--sub-point-color);
  color: #FFFFFF;
}

.text-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer {
  height: 80px;
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  border-top: solid 2px black;
  font-family: "Zen Maru Gothic", sans-serif;
  text-align: center;
  display: grid;
  grid-row: 1fr 1fr 1fr;
  grid-column: 1fr 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 10px;
}

.footer-item-col1 {
  grid-column: 1/2;
}

.footer-item-col2 {
  grid-column: 2/3;
}

.footer-item-row1 {
  grid-row: 1/2;
  font-weight: bold;
}

.footer-item-row1 {
  grid-row: 2/3;
}

.form-floating-group input {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.bg-tag-tool {
  color: #000000 !important;
  background-color: var(--tag-bg-tool) !important;
  font-weight: 700 !important;
}

.bg-tag-domain {
  color: #000000 !important;
  background-color: var(--tag-bg-domain) !important;
  font-weight: 700 !important;
}

.bg-tag-language {
  color: #000000 !important;
  background-color: var(--tag-bg-language) !important;
  font-weight: 700 !important;
}

.bg-tag-etc {
  color: #000000 !important;
  background-color: var(--tag-bg-ect) !important;
  font-weight: 700 !important;
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  transform: translateX(0);
}

.default-cursor {
  cursor: default;
}

.pointer {
  cursor: pointer;
}

.opacity-hover:hover {
  opacity: 60%;
}

.noti-dropdown::after,
.msg-dropdown::after {
  content: none;
}

.default-btn {
  border: none;
  background: none;
}