@import url("/static/css/color.css");


.accordion-body {
    padding: 0;
}

.accordion-item,
.accordion-button {
    border: none;
    border-radius: 0.625rem !important;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    background-color: var(--main-point-color) !important;
    color: #FFFFFF;
}

.accordion-button::after {
    font-family: bootstrap-icons;
    background-image: none;
    width: fit-content;
    content: "\F229";
}

.accordion-button:not(.collapsed):after {
    background-image: none;
}

.accordion-collapse{
    margin-top: -1rem;
    padding-top: 1rem;
    background-color: #FFFFFF;
    border-bottom-left-radius: 0.625rem !important;
    border-bottom-right-radius: 0.625rem !important;
    box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

.acheive-item {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-bottom: 0.5px solid var(--main-border-color);
}

.acheive-item:last-child {
    border-bottom: none;
}

.challenge-name {
    font-size: 24px;
    font-weight: 600;
}

.challenge-description,
.challenge-date {
    color: var(--main-icon-color);
}

.progress-bar{
    background-color: var(--sub-point-color);
}

#total-challenge-head {
    background-color: var(--main-point-color) !important;
    color: #FFFFFF;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    border-radius: 0.625rem;
}

#challenge-refresh {
    background-color: transparent;
    border: none;
}

#total-tab-pane{
    background-color: #FFFFFF;
    border-radius: 0.625rem;
    box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

@keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotation{
    animation: rotate 3s;
}