:root{
    --main-bg-color: #EBEBEB;
    --main-bg-color-transparent: #EBEBEB80;
    --sub-bg-color: #DAE2E8;
    --sub-bg-color-transparent: #DAE2E880;
    --article-bg-color: #F5F5F5;
    --main-border-color: #9D9D9D;
    --main-border-color-transparent: #9D9D9D80;
    --main-point-color: #002743;
    --main-point-color-transparent: #00274380;
    --sub-point-color: #0094FF;
    --sub-point-color-transparent: #0094FF80;
    --alert-color: #FF68C3;
    --alert-color-transparent: #FF68C380;
    --main-icon-color: #747474;
    --main-icon-color-transparent: #74747480;
    --profile-nav-font:#495057;
    --profile-nav-border:#9D9D9D9D;
    --card-box-shadow:#00000040;
    --bootstrap-primary:#0D6EFD;
    --bootstrap-active-primary:#0A53BE;
    --profile-btn-inactive:#DDDDDD;
    --chat-send-color: #9AD5FF;
    --chat-receive-color: #FFFFFF;
    --btn-default-color: #CDCDCD;
    --profile-btn-active:#D9D9D9;
    --profile-btn-border:#2F2F2F;
    --tag-bg-domain:#D3D3D3;
    --tag-bg-language:#9AD5FF;
    --tag-bg-tool: #9AFFE7;
    --tag-bg-ect: #CDCDCD;
    --tag-bg-recruit: #CCEAFF;
    --tag-bg-recruit-end: #FEC89A;
    --guideline-inactive: #E2E2E2;
    --developer-bg-color: #F5F5F5;
    --developer-border-color: #1A1A1A;
    --data-level-0:#EBEDF0;
    --data-level-1:#A7E6F6;
    --data-level-2:#49C8FD;
    --data-level-3:#00A4FF;
    --data-level-4:#0677FF;
    --data-level-5:#9D9D9D;
    --data-radar-0:#7583EB;
    --data-radar-1:#FF68C3;
    --data-radar-2:#B8F5DA;
    --data-score-0:#808CE5;
    --data-score-1:#7EC1D6;
    --data-score-2:#9AFFE7;
    --data-dist-0:#0677FF;
    --type-hour-0:#9AFFE7;
    --type-hour-1:#808CE5;
    --type-freq-0:#FF68C3;
    --type-freq-1:#7EC1D6;
    --type-freq-2:#808CE5;
    --type-freq-3:#9F5FD4;
    --type-coop-0:#9AD5FF;
    --type-coop-1:#0094FF;
    --data-line:#FF0000CC;
    --type-sid-0:#80D4C3;
    --type-sid-1:#41CBBC;
    --type-sid-2:#41C3CB;
    --type-sid-3:#7EC1D6;
    --type-sid-4:#40B7DE;
    --type-sid-5:#808CE5;
    --type-sid-6:#5440DE;
    --type-sid-7:#8735F1;
    --type-sid-8:#AE63ED;
    --type-sid-9:#C980FF;
    --type-sid-10:#FF71F1;
    --type-sid-11:#FF64C1;
    --type-sid-12:#FF9DBB;
    --color-bronze: #DB944B;
    --color-silver: #D9D9D9;
    --color-gold: #F9D978;
}