@import url("/static/css/color.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css");

#community-container {
    margin-top: 59px;
}

#community-sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#profile-tab {
    background: var(--main-point-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#profile-image-wrap {
    width: fit-content;
}

#profile-image {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-top: -40px;
    padding: 0;

    z-index: 5;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 2px solid var(--main-point-color);
}

#profile-sum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px 10px;
    gap: 10px;
    background: var(--main-point-color);
    color: #FFFFFF;
}

#profile-username{
    font-family: 'Roboto' !important;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    text-align: center;
}

#team-manage-tab{
    padding-bottom: 20px;
    gap: 10px;
}

#team-create{
    cursor: pointer;
    color: #FFFFFF;
    text-align: center;
    border: 1px solid #FFFFFF;
    border-radius: .5rem;
    padding: 0.4rem 0.6rem;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#team-create > span{
    vertical-align: middle;
}

#team-apply-list{
    cursor: pointer;
    color: #FFFFFF;
    text-align: center;
    border: 1px solid #FFFFFF;
    border-radius: .5rem;
    padding: 0.4rem 0.6rem;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#team-apply-list > span{
    vertical-align: middle;
}

#community-tab{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom:20px;
}

#community-stat div{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    text-decoration-line: underline;
}

.boardgroup{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
}

.boardgroup-title{
    padding: 0.5rem;
    font-size: 15px !important;
    background-color: var(--main-bg-color);
    border-top: 1px solid var(--main-border-color);
    text-align: left;
}

.boardgroup-item{
    padding: 0.5rem;
    text-align: center;
    font-style: normal;
    font-size: 15px !important;

    background: #FFFFFF;
    border-top: 1px solid var(--main-border-color);
}

.boardgroup-item > a{
    color: #000000;
    font-weight: 600;
}

.boardgroup-item.selected{
    padding: 0.5rem;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 15px !important;

    background: var(--main-bg-color);
    border-top: 1px solid #9D9D9D;
}

.boardgroup-item.selected > a{
    color: var(--sub-point-color);
}

.article-head{
    margin-top : auto;
    margin-bottom: auto;
    overflow: hidden;
}

.article-meta{
    margin-left: auto;
    text-align: end;
    font-size: 14px;
}

.article-meta-stat{
    margin-left: 0.25em;
    margin-right: 0.25em;
    text-align: end;
    color:#2F2F2F;
}
.article-meta-stat-icon{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.25em;
    margin-right: 0.25em;
    text-align: end;
    font-size: 14px;
    color:#2F2F2F;
}

.accordion-item, .accordion-button{
    border: none;
    font-weight: 600;
    border-radius: 0 !important;
}

.accordion-button:focus{
    box-shadow: none;
}

.accordion-button:not(.collapsed){
    background-color: var(--main-point-color) !important;
    color: #FFFFFF;
}

.accordion-button::after{
    font-family: bootstrap-icons;
    background-image: none;
    width: fit-content;
    content: "\F229";
}

.accordion-button:not(.collapsed):after{
    background-image: none;
}

#team-tab{
    background-color: var(--main-point-color) !important;
    color:white;
    margin-bottom:10px;
    /*height: 210px;*/
}

#team-update{
    background:none;
    border:none;
    font-size:17px;
}

#team-image-container {
    margin:25px;
    min-height:160px;
    height:160px;
    min-width:160px;
    width:160px;
    padding:10px;
    background:white;
    border: 1px solid var(--main-border-color);
    border-radius:10px;
}

#team-image{
    height:100%;
    width:100%;
    border-radius:10px;
}

#team-data{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right:5px;
}
#team-desc{
    padding-bottom:10px;
}

#team-name{
    font-weight:500;
    font-size:28px;
    margin-bottom:5px;
}

#team-members{
    width: 50%;
    border-right: 1px solid var(--main-border-color);
}

#team-members-title{
    font-weight:400;
    font-size:18px;
    margin-bottom:5px;
}

#team-info{
    padding-left: 10px;
    width: 50%;
}

.team-member{
    margin-bottom:4px;
    padding-right:4px;
}

.team-member > *{
    color:white;
    font-weight:400;
    font-size:15px;
}

.team-member > a{
    text-decoration: underline;
}

.team-admin-icon{
    vertical-align: middle;
}

#board-title-bar{
    background: var(--main-point-color) !important;
    padding: 20px;
    color:white;
}

.article-bar{
    min-height: 82px;
    border-bottom: 0.03rem solid var(--main-border-color);
    background:white;
}

.article-bar-title{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.article-bar.empty{
    display: flex;
}

.article-bar-writer{
    color:#0094FF;
    text-decoration:underline;
}

.writer-dropdown-btn{
    border: none;
    color: var(--sub-point-color);
    background: none;
}

.color-b{
    color:#2F2F2F;
}

#active-article{
    min-height: 10em;
    background-color: var(--main-point-color);
    margin-bottom: 1rem;
    color:white;
}

#no-active-article{
    text-align: center;
}

#active-article-list{
    padding: 1rem;
}

.carousel-control-next{
    justify-content: right;
}

.carousel-control-prev{
    justify-content: left;
}

.active-article-item{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.8rem;
    padding: 0.8rem;
}

.active-article-item-team-image{
    width: 5rem;
    height: 5rem;
}

.active-article-item-team-name{
    text-overflow: ellipsis;
}

.active-article-item-team-desc{
    /*overflow-wrap: break-word;*/
    /*text-overflow:ellipsis;*/
    /*overflow: hidden;*/
    /*white-space: nowrap;*/

}

#comment-group{
    border-radius:0px;
    width:100%;
    margin-top:10px;
}

.comment-item{
    padding: 0.5rem;
    width: 100%;
    min-height: 2.5rem;
}


.comment-item-body{
    flex: 1;
    margin-top: auto;
    margin-bottom: auto;
}

.comment-item-meta{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comment-item-writer{
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    flex: 1;
    text-align: left;
}

.comment-item-writer > div > button{
    padding: 0;
}

.comment-item-delete{
    margin-top: auto;
    margin-bottom: auto;
}

.comment-item-delete > span{
    cursor: pointer;
}

.comment-item-datetime{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.comment-item-datetime > div{
    height: 3em;
    font-size:5px;
    margin-right: 0.5em;
    color: var(--main-border-color);
}

#recruit-team-info-image > img{
    width: 5em;
    height: 5em;
    margin-right:10px;
}

#recruit-team-info-period{
    width: 5em;
    text-align: center;
}