@import url("/static/css/color.css");
.guideline-check{
  display: flex;
  flex-wrap: wrap;
  color:black;
}
.weak-text{
  color: var(--main-icon-color);
  font-size: 12px;
}
.guideline-step{
  background-color: var(--sub-point-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.guideline-step-list{
  background-color: white;
  color: var(--main-icon-color);
  list-style-type: none;
  display: flex;
  padding: 20px 10px;
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
  margin: 0;
}
.guideline-step-item{
  padding: 0 20px;
  flex-basis: 0;
  -webkit-box-flex: 1;
  flex-grow: 1;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}
.guideline-step-item + .guideline-step-item::after{
  content: "";
  position: absolute;
  left: 0;
  top: 19px;
  background: var(--guideline-inactive);
  width: 100%;
  height: 2px;
  transform: translateX(-50%);
  z-index: -10;
}
.progress-check{
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 400;
  margin: 0 auto;
  position: relative;
  z-index: 10;
  color: transparent;
}
.progress-check:after{
  content: "";
  width: 30px;
  height: 30px;
  background: white;
  border: 3px solid var(--sub-point-color);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -10;
}
.progress-check:before{
  content: "";
  width: 16px;
  height: 8px;
  background: white;
  position: absolute;
  left: 50%;
  top: 50%;
  border-left: 3px solid var(--sub-point-color);
  border-bottom: 3px solid var(--sub-point-color);
  position: absolute;
  transform: translate(-50%, -60%) rotate(-45deg);
  transform-origin: center center;
}
.progress-label{
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
  color: var(--sub-point-color);
}
.unfinished-item > .progress-check:before{
  border-left: 3px solid var(--tag-bg-ect);
  border-bottom: 3px solid var(--tag-bg-ect);
}
.unfinished-item > .progress-check:after{
  height:30px;
  width:30px;
  border: 3px solid var(--tag-bg-ect);
}
.unfinished-item > .progress-label{
  opacity: 0.5;
  color: black;
}

.progress-check-sm, .progress-uncheck-sm{
  height: 20px;
  width: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 15px;
  position: relative;
  z-index: 10;
  color: transparent;
}
.progress-check-sm:after, .progress-uncheck-sm:after{
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -10;
}
.progress-check-sm:before, .progress-uncheck-sm:before{
  content: "";
  width: 9px;
  height: 5px;
  position: absolute;
  left: 48%;
  top: 48%;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  position: absolute;
  transform: translate(-50%, -60%) rotate(-45deg);
  transform-origin: center center;
}
.progress-check-sm:after{
  background: var(--sub-point-color);
}
.progress-check-sm:before{
  background: var(--sub-point-color);
}
.progress-uncheck-sm:after{
  background: var(--guideline-inactive);
}
.progress-uncheck-sm:before{
  background: var(--guideline-inactive);
}
.card-title-block{
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.card-title-block.text-right{
  text-align: right;
}
.repo-info{
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.repo-info > span{
  margin-right: 1rem;
}