section#main, section#result, section .qbox{
    text-align: center;
    align-items: center;
}
#qna{
    display: none;
}
#result{
    display: none;
}
#loading{
    display: none;
    margin: auto;
    height: 100vh;
    background-image: url("/static/images/back.png");
}
.navybtn{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 15px;

    cursor: pointer;
    height: auto;
    color: white;
    background: var(--main-point-color);
    box-shadow: 0 2px 4px var(--card-box-shadow);
    border-radius: 10px;

    width: 200px;
}
#gbti-test-start{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 15px;
    cursor: pointer;
    height: auto;
    color: black;
    border: 1px solid var(--developer-border-color);
    background: var(--developer-bg-color);
    border-radius: 10px;
    width: 200px;
}
#gbti-test-start:hover{
    background: none;
}
.board{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 100px 20px;
    gap: 15px;
    height: auto;
    color: black;
    background-image: url("../images/back.png");
    background-size: cover;
    border-radius: 20px;
    width: auto;
}

.answerbtn{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 15px;

    width: 80%;
    cursor: pointer;

    background: var(--developer-bg-color);
    color: black;
    border: 1px solid var(--developer-border-color);
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;
}
.answerbtn:hover{
    background: var(--profile-btn-active);
}
.idCard{
    position: absolute;
    width: 632px;
    height: 372px;
    left: 84px;
    top: 134px;
    background: white;
    box-shadow: 0 4px 4px var(--card-box-shadow);
    border-radius: 15px;
}
