@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("/static/css/color.css");

@media (min-width: 768px) {
  .col-my-p20 {
    flex: 0 0 auto;
    width: 20%;
  }
}
#visualization {
  min-height: 514px;
}
@media (max-width: 1400px) {
  #visualization {
    min-height: 480px;
  }
}
@media (max-width: 1200px) {
  #visualization {
    min-height: 450px;
  }
}
@media (max-width: 992px) {
  #visualization {
    min-height: 380px;
  }
  .horizontal-menu > button{
    padding: 5px;
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  #profile-info {
    margin-top: 0 !important;
  }
}
.recent_repos{
  min-height: 100px;
}

h5{
  font-family: "Noto Sans KR", sans-serif;
}

h5.modal-title {
  font: 16px;
  font-weight: 500;
  text-indent: 20px;
}

/* Bootstrap Change */
.card {
  font-family: "Roboto", sans-serif;
  box-shadow: 0px 4px 4px 0px var(--card-box-shadow);
  border-radius: 0;
}
.nav-tabs {
  color: #495057;
  border-bottom: 1.5px solid var(--profile-nav-border);
}
.card-body > .nav-item{
  margin-left: 2px;
  margin-right: 2px;
}
.card-body > .nav-item > .nav-link {
  color: black;
  border-color: var(--profile-nav-border);
  margin-bottom: -2px;
  padding-left: 12px;
  padding-right: 12px;
}
.card-body > .nav-item > .nav-link.active{
  color: var(--bootstrap-primary);
  border-width: 1.5px;
}
.btn-group > .btn{
  border-radius: 0;
  margin: 2px;
  border: 1.5px solid var(--main-border-color);
  color: black;
  background-color: white;
}
.btn-group > .btn:hover{
  border-radius: 0;
  margin: 2px;
  border: 1.5px solid var(--main-border-color);
  color: var(--bootstrap-primary);
  background-color: var(--main-bg-color);
}
.btn-group > .btn:active{
  border-radius: 0;
  margin: 2px;
  border: 1.5px solid var(--main-border-color);
  color: var(--bootstrap-primary);
  background-color: var(--main-bg-color);
}

#copyright {
  margin-bottom: 0px;
  font-size: 12px;
}
a.nav-link {
  cursor: pointer;
}

.repo-card {
  width: 45%;
  margin: 5px;
}

.form-switch {
  padding-top: 9px;
  flex-basis: 150px;
}
.d-flex.text-lg > .btn-toolbar {
  margin-right: 20px;
}
.d-flex.text-lg > .dropdown {
  margin-right: 30px;
}

.bold {
  font-weight: bold;
  color: black;
}
.none {
  display: none;
}

/* Canvas */
#modalBox{
  padding: 0 !important;
  overflow: hidden;
}
#modal-visualization{
  padding: 0 !important;
  overflow: hidden;
}
.modal-content{
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-body{
  position: static; 
}
.modal-body > .row{
  padding: 1rem 3rem;
}
.modal-line{
  width: 100%;
  height: 1px;
  background-color: var(--profile-btn-border);
}
.modal-item{
  width: 50%;
  padding: 0 4%;
  text-align: center;
}
@media (max-width: 768px) {
  .modal-item{
    width: 100%;
    height: 45vw;
    padding: 0 8%;
    text-align: center;
  }
}
.tab-pane{
  text-align: center;
  padding: 0 8%;
}
#pills-overview.active{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 50%;
}
.grass{
  display: block;
  border: 0px solid var(--profile-nav-border) ;
  border-radius: 0.3rem;
}
.grass-color{
  display: block;
  width: 14px;
  height: 14px;
  border: 1px solid var(--profile-nav-border);
  margin: 0 2px;
}
.grass-color[data-level="0"]{
  background-color: var(--data-level-0);
}
.grass-color[data-level="1"]{
  background-color: var(--data-level-1);
}
.grass-color[data-level="2"]{
  background-color: var(--data-level-2);
}
.grass-color[data-level="3"]{
  background-color: var(--data-level-3);
}
.grass-color[data-level="4"]{
  background-color: var(--data-level-4);
}
.grass-group{
  display: flex;
  justify-content: end;
  font-size: 12px;
  align-items: center;
  margin-top: 5px;
}
.horizontal-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem 0.5rem 3rem;
  gap: 0.5rem;
  width: 100%;
  height: max-content;
  background: white;
  z-index: 5000;
}
#modal-btnGroupYear{
  overflow-x: auto;
  overflow-y: hidden;
}

.horizontal-menu > div > button{
  padding: 0.3rem 1.4rem;
  background: white;
  border: 1.5px solid var(--profile-btn-border);
}
.horizontal-menu > div > div > button{
  padding: 0.3rem 1.4rem;
  background: white;
  border: 1.5px solid var(--profile-btn-border) !important;
}

.horizontal-menu > div > button:hover{
  background-color: var(--profile-btn-inactive);
}
.horizontal-menu > div > button.active{
  background-color: var(--profile-btn-active);
  color: var(--bootstrap-primary);
}
.modal-radar{
  display: flex;
  flex-direction: column;
}
#modal-radar-title{
  text-align: center;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
}
.select-compare{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem 3rem;
  gap: 1rem;
  width: 100%;
}
#modal-target-user, .select-compare .ss-main{
  font-size: 14px;
  height: fit-content;
  width: 20%;
}
#modal-btn-compare{
  height: fit-content;
  width: max-content;
  white-space: nowrap;
}
.radar-normal{
  text-align: center;
  white-space: nowrap;
}
#modal-btn-toggle{
  text-align: center;
  width: fit-content;
  height: fit-content;
}
#radar-canvas{
  text-align: center;
}
#target-search{
  width:100%;
  display:flex;
}
#target-search > .ss-main{
  width: calc(100% - 95px);
}
.modal-body-markdown{
  padding: var(--bs-modal-header-padding);
}
/* Scroll bar Custom */
div > ::-webkit-scrollbar {
  width: 10px;
}
div > ::-webkit-scrollbar-track {
  border-radius: 10px;
}
div > ::-webkit-scrollbar-thumb {
  background: var(--main-bg-color);
  border-radius: 10px;
}
div > ::-webkit-scrollbar-thumb:hover {
  background: var(--profile-btn-inactive);
}
.month-label{
  display: inline-block;
  width: 60px;
  text-align: center;
}
#btn-toggle, #btn-compare{
  width:95px;
}
.evt-icon, #closeModalBtn{
  cursor: pointer;
  display: inline;
  text-indent: 0;
  color: var(--main-icon-color);
}
#closeModalIcon, #closePortfolioModalIcon{
  cursor: pointer;
  display: inline;
  text-indent: 0;
  color: white;
  font-size: 20px;
}
.modal-content{
  font-family: "Roboto", sans-serif;
}
.modal-footer{
  padding: 0 calc(var(--bs-modal-padding) - var(--bs-modal-footer-gap) * .5);;
}
#visualization > .card-body{
  display: flex;
  flex-direction: column;
}
.card-body .tab-content{
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
}

.ss-main .ss-single-selected > .placeholder{
  cursor: pointer;
  background-color: transparent;
  opacity: 1;
}
.btn-group-filter{
  display: flex;
  justify-content: flex-end;
  flex: 0;
}
#btnGroupDropMonth{
  min-width: 70px;
}
#btnGroupDropFactor{
  min-width: 88px;
}
.dropdown-item{
  font-size: 12px;
}
.dropdown-menu{
  --bs-dropdown-min-width: 7rem;
}
/* User Profile */
#profile-info{
  font-size: 18px;
  transition: margin-top 0.5s ease-in-out 0s, right .5s;
  display: block;
}
#profile-content{
  display: block;
}
.user-info{
  margin: auto;
  background-color: var(--main-point-color);
  min-height: 200px;
  box-shadow: 0px 4px 4px 0px var(--card-box-shadow);
}
.user-info img{
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  background-color: var(--profile-btn-inactive);
  border: 2px solid var(--main-point-color);
  z-index: 5;
  position: relative;
  margin-top: -40px;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
}
.info-body{
  margin: 10px;
  display: block;
  color: white;
  text-align: center;
}
.font-focus{
  font-size: 25px;
  font-weight: 600;
}
/* User Sidebar */
.user-detail{
  background-color: white;
  box-shadow: 0px 4px 4px 0px var(--card-box-shadow);
  margin-bottom: 1rem;
}
.row-userdata{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 2px solid var(--profile-nav-border);
  height: 60px;
}
.row-title{
  flex-shrink: 0;
  width: 68px;
  font-weight: 550;
  margin-right: 5px;
}
span.row-txt, a.row-txt{
  font-size: 18px;
  width: calc(100%-68px);
  overflow: hidden;
  text-overflow: ellipsis;
}
.row-complex{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.row-contr{
  flex-basis: content;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--profile-nav-border);
  height: 42px;
}
span.row-raw{
  font-size: 14px;
  width: calc(50%-68px);
  margin-right: 0.5rem;
}
#interests, #languages, #portfolio{
  height: 250px;
  overflow: hidden;
}
.expandable{
  -webkit-transition: width 300ms;
  -moz-transition: width 300ms;
  -o-transition: width 300ms;
  transition: width 300ms;
}
.semi-expanded-0, .semi-expanded-1, .semi-expanded-2{
  width: 50% !important;
}
.semi-expanded-1.semi-expanded-2:nth-child(n){
  order: 3;
}
.semi-expanded-0:nth-child(n), 
.semi-expanded-1:nth-child(n), 
.semi-expanded-2:nth-child(n){
  order: 2;
}
.expanded, .semi-expanded-1.semi-expanded-2{
  width: 100% !important;
}
.expanded .card{
  height: max-content !important;
}
.expanded:nth-child(1){
  order:-1;
}