@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("/static/css/color.css");
.row {
  --bs-gutter-x: 0.8rem !important;
}
@media (min-width: 768px) {
  .col-my-p20 {
    flex: 0 0 auto;
    width: 20%;
  }
}
#visualization {
  min-height: 514px;
}
@media (max-width: 1400px) {
  #visualization {
    min-height: 480px;
  }
}
@media (max-width: 1200px) {
  #visualization {
    min-height: 450px;
  }
}
@media (max-width: 992px) {
  #visualization {
    min-height: 380px;
  }
  .vertical-menu > button{
    padding: 5px;
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  #profile-info {
    margin-top: 0 !important;
  }
}

#languages {
  min-height: 150px;
}

#interests {
  min-height: 150px;
}

.recent_repos{
  min-height: 100px;
}

#last_commit{
  font-size: 10px;
}

td {
  font-size: 11pt;
}

h5{
  font-family: "Noto Sans KR", sans-serif;
}

h5.modal-title {
  font: 16px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  text-indent: 20px;
}

/* Bootstrap Change */
.card {
  font-family: "Roboto", sans-serif;
  box-shadow: 0px 4px 4px 0px var(--card-box-shadow);
  border-radius: 0;
}
.nav-tabs {
  color: #495057;
  border-bottom: 1.5px solid var(--profile-nav-border);
}
.card-body > .nav-item{
  margin-left: 2px;
  margin-right: 2px;
}
.card-body > .nav-item > .nav-link {
  color: black;
  border-color: var(--profile-nav-border);
  margin-bottom: -2px;
  padding-left: 12px;
  padding-right: 12px;
}
.card-body > .nav-item > .nav-link.active{
  color: var(--bootstrap-primary);
  border-width: 1.5px;
}
.btn-group > .btn{
  border-radius: 0;
  margin: 2px;
  border: 1.5px solid var(--main-border-color);
  color: black;
  background-color: white;
}
.btn-group > .btn:hover{
  border-radius: 0;
  margin: 2px;
  border: 1.5px solid var(--main-border-color);
  color: var(--bootstrap-primary);
  background-color: var(--main-bg-color);
}
.btn-group > .btn:active{
  border-radius: 0;
  margin: 2px;
  border: 1.5px solid var(--main-border-color);
  color: var(--bootstrap-primary);
  background-color: var(--main-bg-color);
}

#copyright {
  margin-bottom: 0px;
  font-size: 12px;
}
a.nav-link {
  cursor: pointer;
}

.repo-card {
  width: 45%;
  margin: 5px;
}

.form-switch {
  padding-top: 9px;
  flex-basis: 150px;
}
.d-flex.text-lg > .btn-toolbar {
  margin-right: 20px;
}
.d-flex.text-lg > .dropdown {
  margin-right: 30px;
}

.bold {
  font-weight: bold;
  color: black;
}
.none {
  display: none;
}

/* Canvas */
.modal-body{
  display: flex;
	flex-wrap: wrap;
}
.modal-grass{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.modal-item{
  width: 50%;
  height: 25vw;
  padding: 0 4%;
  text-align: center;
}
@media (max-width: 768px) {
  .modal-item{
    width: 100%;
    height: 45vw;
    padding: 0 8%;
    text-align: center;
  }
}
.tab-pane{
  text-align: center;
  padding: 0 8%;
}
.grass{
  display: block;
  border: 0px solid var(--profile-nav-border) ;
  border-radius: 0.3rem;
}
.grass.double {
  grid-column: 2 / 6;
	grid-row: 1 / 3;
}
.grass.half {
  grid-column: 2 / 6;
	grid-row: 3 / 4;
}

.vertical-menu{
  overflow-y: auto;
  text-align: end;
  grid-column: 1 / 2;
  grid-row:1 / 3;
  margin-right: 10px;
}

.vertical-menu button{
  width: 85%;
  text-align: start;
  border: none;
  outline: none;
  background-color: white;
  color:black;
  display: block;
  padding: 10px;
  margin: 3px 0;
  border-radius: 0.2rem;
  text-decoration: none;
}

.vertical-menu button:hover{
  background-color: var(--profile-btn-inactive);
}
.vertical-menu button.active{
  background-color: var(--bootstrap-primary);
  color:white;
}
.modal-radar{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(8, 1fr);
}
#modal-radar-title{
  grid-row: 1 / 2;
  grid-column: 2 / 6;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
}
#modal-target-user, .modal-radar > .ss-main{
  font-size: 14px;
  height: fit-content;
  width: 100%;
  grid-row: 1 / 2;
  grid-column: 6 / 8;
}
#modal-btn-compare{
  height: fit-content;
  width: 100%;
  grid-row: 2 / 3;
  grid-column: 7 / 8;
  white-space: nowrap;
}
.radar-normal, #modal-btn-toggle{
  text-align: center;
  height: fit-content;
  width: 100%;
  grid-row: 8 / 9;
  grid-column: 3 / 5;
  white-space: nowrap;
}
#radar-canvas{
  grid-column: 1 / 7;
  grid-row: 2 / 8;
}
#target-search{
  width:100%;
  display:flex;
}
#target-search > .ss-main{
  width: calc(100% - 95px);
}

/* Scroll bar Custom */
div > ::-webkit-scrollbar {
  width: 10px;
}
div > ::-webkit-scrollbar-track {
  border-radius: 10px;
}
div > ::-webkit-scrollbar-thumb {
  background: var(--main-bg-color);
  border-radius: 10px;
}
div > ::-webkit-scrollbar-thumb:hover {
  background: var(--profile-btn-inactive);
}

/* 출처: https://devbirdfeet.tistory.com/152 [새발개발자:티스토리] */
#task-tooltip, #modal-task-tooltip{
  font-family: "Roboto", sans-serif;
  background-color: var(--main-bg-color);
  border: var(--bootstrap-primary) solid 1px;
  border-radius: 5px;
  color: var(--bootstrap-primary);
  font-size: 12px;
  font-weight: 500;
  height: auto;
  letter-spacing: -0.25px;
  margin-top: 6.8px;
  padding: 5px 11px;
  position: relative;
  width: fit-content;
}
#modal-task-tooltip{
  z-index: 1100;
}
#task-tooltip::after, #modal-task-tooltip::after {
  border-color: var(--main-bg-color) transparent;
  border-style: solid;
  border-width: 8px 6px 0 6.5px;
  content: '';
  display: block;
  position: absolute;
  bottom: -7px;
  width: 0;
}
#modal-task-tooltip::after {
  z-index: 1099;
}
#task-tooltip::before, #modal-task-tooltip::before{
  border-color: var(--bootstrap-primary) transparent;
  border-style: solid;
  border-width: 8px 6px 0 6.5px;
  content: '';
  display: block;
  position: absolute;
  bottom: -8px;
  width: 0;
}
#modal-task-tooltip::before{
  z-index: 1098;
}
.month-label{
  display: inline-block;
  width: 60px;
  text-align: center;
}
#btn-toggle, #btn-compare{
  width:95px;
}
.evt-icon, #closeModalBtn, #closeModalIcon{
  cursor: pointer;
  display: inline;
  text-indent: 0;
}
.modal-content{
  font-family: "Roboto", sans-serif;
}
.modal-footer{
  padding: 0 calc(var(--bs-modal-padding) - var(--bs-modal-footer-gap) * .5);;
}
.card-body.tab-content{
  display: block;
}

.ss-main .ss-single-selected > .placeholder{
  cursor: pointer;
  background-color: transparent;
  opacity: 1;
}
.btn-group-filter{
  display: flex;
  justify-content: flex-end;
}
#btnGroupDropMonth{
  min-width: 70px;
}
#btnGroupDropFactor{
  min-width: 88px;
}
.dropdown-item{
  font-size: 12px;
}
.dropdown-menu{
  --bs-dropdown-min-width: 7rem;
}
/* User Profile */
#profile-info{
  font-size: 18px;
  transition: margin-top 0.5s ease-in-out 0s, right .5s;
  display: block;
}
#profile-content{
  display: block;
}
.user-info{
  margin: auto;
  background-color: var(--main-point-color);
  min-height: 200px;
  box-shadow: 0px 4px 4px 0px var(--card-box-shadow);
}
.user-info img{
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  background-color: var(--profile-btn-inactive);
  border: 2px solid var(--main-point-color);
  z-index: 5;
  position: relative;
  margin-top: -40px;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
}
.info-body{
  margin: 10px;
  display: block;
  color: white;
  text-align: center;
}
.font-focus{
  font-size: 25px;
  font-weight: 600;
}
/* User Sidebar */
.user-detail{
  background-color: white;
  box-shadow: 0px 4px 4px 0px var(--card-box-shadow);
  margin-bottom: 1rem;
}
.row-userdata{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 2px solid var(--profile-nav-border);
  height: 60px;
}
.row-title{
  flex-shrink: 0;
  width: 68px;
  font-weight: 550;
  margin-right: 5px;
}
span.row-txt, a.row-txt{
  font-size: 18px;
  width: calc(100%-68px);
  overflow: hidden;
  text-overflow: ellipsis;
}
.row-complex{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.row-contr{
  flex-basis: content;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--profile-nav-border);
  height: 42px;
}
span.row-raw{
  font-size: 14px;
  width: calc(50%-68px);
  margin-right: 0.5rem;
}
#interests, #languages, #portfolio{
  height: 250px;
  overflow: hidden;
}
.expandable{
  -webkit-transition: width 300ms;
  -moz-transition: width 300ms;
  -o-transition: width 300ms;
  transition: width 300ms;
}
.semi-expanded-0, .semi-expanded-1, .semi-expanded-2{
  width: 50% !important;
}
.semi-expanded-1.semi-expanded-2:nth-child(n){
  order: 3;
}
.semi-expanded-0:nth-child(n), 
.semi-expanded-1:nth-child(n), 
.semi-expanded-2:nth-child(n){
  order: 2;
}
.expanded, .semi-expanded-1.semi-expanded-2{
  width: 100% !important;
}
.expanded:nth-child(1){
  order:-1;
}