.repo-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.recent_repos {
  min-height: 100px;
  max-height: 150px;
}

.recent_repos span {
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 992px) {
  .recent_repos:nth-child(n+5) {
    display: none;
  }
}

/* Bootstrap Change */
.card {
  box-shadow: 0 4px 4px 0 var(--card-box-shadow);
  border-radius: 0.625rem;
}

.card-body>.card {
  box-shadow: 0 0;
}

.nav-tabs {
  color: #495057;
  border-bottom: 1.5px solid var(--profile-nav-border);
}

.card-body>.nav-item {
  margin-left: 2px;
  margin-right: 2px;
}

.card-body>.nav-item>.nav-link {
  color: black;
  border-color: var(--profile-nav-border);
  margin-bottom: -2px;
  padding-left: 12px;
  padding-right: 12px;
}

.card-body>.nav-item>.nav-link.active {
  color: var(--bootstrap-primary);
  border-width: 1.5px;
}

.btn-group>.btn {
  border-radius: 0;
  margin: 2px;
  border: 1.5px solid var(--main-border-color);
  color: black;
  background-color: white;
}

.btn-group>.btn:hover {
  border-radius: 0;
  margin: 2px;
  border: 1.5px solid var(--main-border-color);
  color: var(--bootstrap-primary);
  background-color: var(--main-bg-color);
}

.btn-group>.btn:active {
  border-radius: 0;
  margin: 2px;
  border: 1.5px solid var(--main-border-color);
  color: var(--bootstrap-primary);
  background-color: var(--main-bg-color);
}

a.nav-link {
  cursor: pointer;
}

.repo-card {
  width: 45%;
  margin: 5px;
}

.form-switch {
  padding-top: 9px;
  flex-basis: 150px;
}

.d-flex.text-lg>.btn-toolbar {
  margin-right: 20px;
}

.d-flex.text-lg>.dropdown {
  margin-right: 30px;
}



/* Canvas */
.modal-light-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid var(--bs-modal-header-border-color);
}

#modal-visualization {
  padding: 0 !important;
  overflow: hidden;
}

.modal-content {
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 3rem;
}

.modal-body>.row {
  padding: 1rem 3rem;
}

.modal-line {
  width: 100%;
  height: 1px;
  background-color: var(--profile-btn-border);
}

.modal-item {
  width: 50%;
  padding: 0 4%;
  text-align: center;
}

.tab-pane {
  text-align: center;
  padding: 1% 4%;
}

#pills-overview.active {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
}

.grass {
  display: block;
  border: 0 solid var(--profile-nav-border);
  border-radius: 0.3rem;
}

.grass-color {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.grass-color[data-level="0"] {
  background-color: var(--data-level-0);
}

.grass-color[data-level="1"] {
  background-color: var(--data-level-1);
}

.grass-color[data-level="2"] {
  background-color: var(--data-level-2);
}

.grass-color[data-level="3"] {
  background-color: var(--data-level-3);
}

.grass-color[data-level="4"] {
  background-color: var(--data-level-4);
}

.grass-group {
  display: flex;
  justify-content: end;
  font-size: 16px;
  align-items: center;
  gap:2px;
}

.horizontal-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem 0.5rem 3rem;
  gap: 0.5rem;
  width: 100%;
  height: max-content;
  background: white;
  z-index: 5000;
}

#modal-btnGroupYear {
  overflow-x: auto;
  overflow-y: hidden;
}

.horizontal-menu>div>button, .horizontal-menu>div>div>button {
  padding: 0.25rem 1.25rem;
  background: white;
  border: 1px solid var(--profile-btn-border) !important;
  border-radius: 0.5rem;
  font-size: 14px;
}
.dropdown-item.modal-factor-item, .dropdown-item.modal-month-item{
  font-size: 12px;
}

.horizontal-menu>div>button:hover {
  background-color: var(--profile-btn-inactive);
}

.horizontal-menu>div>button.active {
  background-color: var(--profile-btn-active);
  color: var(--bootstrap-primary);
}

.modal-radar {
  display: flex;
  flex-direction: column;
}

#modal-radar-title {
  text-align: center;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
}

.select-compare {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
  width: 100%;
}

#modal-target-user,
.select-compare .ss-main {
  font-size: 14px;
  height: fit-content;
}

#modal-btn-compare {
  height: fit-content;
  width: max-content;
  white-space: nowrap;
}

.radar-normal {
  text-align: center;
  white-space: nowrap;
}

#modal-btn-toggle {
  text-align: center;
  width: 85px;
  height: fit-content;
}

#radar-canvas {
  text-align: center;
}

#target-search {
  width: 100%;
  display: flex;
  gap: 4px;
}

#target-search>.ss-main {
  width: calc(100% - 95px);
}

.modal-body-markdown {
  padding: var(--bs-modal-header-padding);
}

.month-label {
  display: inline-block;
  width: 60px;
  text-align: center;
}

#btn-toggle,
#btn-compare {
  width: 95px;
}

.evt-icon,
#closeModalBtn {
  cursor: pointer;
  display: inline;
  text-indent: 0;
  color: var(--main-icon-color);
}

.modal-footer {
  padding: 0 calc(var(--bs-modal-padding) - var(--bs-modal-footer-gap) * .5);
  ;
}

#visualization>.card-body {
  display: flex;
  flex-direction: column;
}

.card-body .tab-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
}


.btn-group-filter {
  display: flex;
  justify-content: flex-end;
  flex: 0;
}

#btnGroupDropMonth {
  min-width: 70px;
}

#btnGroupDropFactor {
  min-width: 88px;
}

.card .dropdown-item {
  font-size: 12px;
}

.dropdown-menu {
  --bs-dropdown-min-width: 7rem;
  position:absolute!important;
}

/* User Profile */
#profile-info {
  width: 20%;
  font-size: 18px;
  transition: margin-top 0.5s ease-in-out 0s, right .5s;
  display: block;
}

#profile-content {
  display: block;
}


.info-body {
  margin: 10px;
  display: block;
  color: white;
  text-align: center;
}

.font-focus {
  font-size: 25px;
  font-weight: 600;
}

/* User Sidebar */
.user-detail {
  background-color: white;
  box-shadow: 0 4px 4px 0 var(--card-box-shadow);
  margin-bottom: 1rem;
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
}

.row-userdata {
  flex-direction: row;
  align-items: center;
  border-top: 2px solid var(--profile-nav-border);
  height: 60px;
}

.row-title {
  flex-shrink: 0;
  width: 68px;
  font-weight: 550;
  margin-right: 5px;
}

span.row-txt,
a.row-txt {
  font-size: 18px;
  width: calc(100%-68px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; 
}

.row-complex {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.row-contr {
  font-size: 14px;
  flex-basis: content;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--profile-nav-border);
  height: 42px;
}

span.row-raw {
  font-size: 14px;
  width: calc(50%-68px);
  margin-right: 0.5rem;
}

#interests,
#languages,
#portfolio {
  height: 250px;
  overflow: hidden;
}

.expandable {
  -webkit-transition: width 300ms;
  -moz-transition: width 300ms;
  -o-transition: width 300ms;
  transition: width 300ms;
}

.semi-expanded-0,
.semi-expanded-1,
.semi-expanded-2 {
  width: 50% !important;
}

.semi-expanded-1.semi-expanded-2:nth-child(n) {
  order: 1;
}

.semi-expanded-0:nth-child(n),
.semi-expanded-1:nth-child(n),
.semi-expanded-2:nth-child(n) {
  order: 2;
}

.expanded,
.semi-expanded-1.semi-expanded-2 {
  width: 100% !important;
}

.expanded .card {
  height: max-content !important;
}

.expanded:nth-child(1) {
  order: -1;
}

.gbti-content>div.progress {
  margin: 0 0 0.8rem;
  border-radius: 5px;
}
.p-lg {
  padding: 20px 15%;
  width: 100%;
}

.gbti-content>.gbti-img {
  max-width: 350px;
  max-height: 350px;
}

.gbti-img img {
  width: 100%;
  object-fit: cover;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
}

.icon-lg {
  font-size: 40px;
}

.gbti-card {
  box-shadow: 0 4px 4px 0 var(--card-box-shadow);
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.gbti-textbox {
  padding: 6% 6% 3%;
  background-color: white;
}
.gbti-text.bold {
  font-size: 18px;
}
.gbti-text {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0.2rem;
}

.endpoint {
  height: 6px !important;
  width: 6px !important;
  align-items: center;
  border: 1px solid black;
  border-radius: 50%;
  background-color: black;
}

.endpoint.left {
  justify-content: end;
}

.endpoint.right {
  justify-content: start;
}

.line-connect {
  width: 50%;
  height: 1.5px;
  margin-top: 2.25px;
  background-color: black;
  display: inline-block;
}

.pb-inactive {
  background-color: var(--guideline-inactive);
}

.pb-active {
  background-color: var(--main-point-color);
  color: white;
}
.pb-marker{
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  border-radius: 5px;
}
.gbti-bg {
  background-color: var(--developer-bg-color);
}

.btn-gbti {
  padding: 10px 20px;
  text-align: center;
  box-shadow: 0 2px 4px var(--card-box-shadow);
  border-radius: 10px;
  border: 0;
}

.btn-gbti-group {
  margin: 15px 30px;
}

.gbti-harmony {
  display: flex;
  justify-content: center;
  margin: 20px 20% 10px;
}

.harmony {
  flex: 1 1 auto;
  padding: 2rem 5% 1rem;
}

.gbti-analysis {
  display: flex;
  margin: 5px 6rem 5px;
  gap: 15px
}

.gbti-analysis span {
  font-size: 18px;
  font-weight: 500;
}

.gbti-analysis-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: center;
  margin: auto;
}
.progress {
  border-radius: 0;
}
#visualization {
  min-height: 380px;
}
.col-my-p20 {
  flex: 0 0 auto;
  width: 20%;
}
.gbti-content>div.progress {
  margin-bottom: 2px;
  height: 10px;
}
.gbti-content .text-label {
  font-size: 10px;
  margin-bottom: 2px;
}
.gbti-content>h4 {
  font-size: 16px;
  margin-bottom: 4px;
}
#gbti-id-card{
  margin: 4% 4% 2%;
  padding: 1px 5px;
}
#gbti-btn-group{
  margin: 0 4%;
  padding: 1px 5px;
}
.modal-gbti-card {
  background-color: white;
  box-shadow: 0 4px 4px var(--card-box-shadow);
  border-radius: 15px;
}
.p-sm {
  padding: 1% 4%;
  width: 50%;
}
@media (max-width: 992px) {
  .text-label {
    font-size: 12px;
    margin: 0;
    font-weight: 600;
  }
  .horizontal-menu>button {
    padding: 5px;
    font-size: 12px;
  }
  .grass-color {
    display: block;
    width: 14px;
    height: 14px;
  }
  .grass-group {
    display: flex;
    justify-content: end;
    font-size: 12px;
    align-items: center;
  }
  .nav-link{
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  #profile-info {
    margin-top: 0 !important;
    width: 100%;
  }
  #profile-grid-section{
    width: 100% !important;
  }
  #visualization {
    width: 100%;
  }
  .modal-item {
    width: 100%;
    height: 45vw;
    padding: 0 8%;
    text-align: center;
  }
  .font-focus {
    font-size: 20px;
    font-weight: 500;
  }
}
@media (min-width: 768px) {
  #visualization {
    min-height: 380px;
  }
  .col-my-p20 {
    flex: 0 0 auto;
    width: 20%;
  }
  .gbti-content>div.progress {
    margin-bottom: 2px;
    height: 10px;
  }
  .gbti-content .text-label {
    font-size: 10px;
    margin-bottom: 2px;
  }
  .gbti-content>h4 {
    font-size: 16px;
    margin-bottom: 4px;
  }
  #gbti-id-card{
    margin: 4% 4% 2%;
    padding: 1px 5px;
  }
  #gbti-btn-group{
    margin: 0 4%;
    padding: 1px 5px;
  }
  .modal-gbti-card {
    background-color: white;
    box-shadow: 0 4px 4px var(--card-box-shadow);
    border-radius: 15px;
  }
  .p-sm {
    padding: 1% 4%;
    width: 50%;
  }
}
@media (min-width: 992px) {
  #visualization {
    min-height: 450px;
  }
  #gbti-id-card{
    margin: 4% 6% 2%;
    padding: 1px 5px;
  }
  #gbti-btn-group{
    margin: 0 6%;
    padding: 1px 5px;
  }
  .modal-gbti-card {
    background-color: white;
    box-shadow: 0 4px 4px var(--card-box-shadow);
    border-radius: 15px;
  }
  .p-sm {
    padding: 1.5% 4.5%;
    width: 50%;
  }
  .gbti-content>div.progress {
    margin-bottom: 4px;
    height: 14px;
  }
  .gbti-content .text-label {
    font-size: 12px;
    margin-bottom: 2px;
  }
  .gbti-content>h4 {
    font-size: 20px;
    margin-bottom: 4px;
  }
}
@media (min-width: 1200px) {
  #visualization {
    min-height: 480px;
  }
  #gbti-id-card{
    margin: 4% 12% 2%;
    padding: 1px 5px;
  }
  #gbti-btn-group{
    margin: 0 12%;
    padding: 1px 5px;
  }
  .modal-gbti-card {
    background-color: white;
    box-shadow: 0 4px 4px var(--card-box-shadow);
    border-radius: 15px;
  }
  .p-sm {
    padding: 2% 5%;
    width: 50%;
  }
  .gbti-content>div.progress {
    margin-bottom: 6px;
    height: 16px;
  }
  .gbti-content .text-label {
    font-size: 14px;
    margin-bottom: 2px;
  }
  .gbti-content>h4 {
    font-size: 24px;
    margin-bottom: 4px;
  }
}
@media (min-width: 1400px) {
  #visualization {
    min-height: 514px;
  }
}

.stack-box {
  height: 30px;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 4px;
  padding-top: 2px;

  text-align: center;
  /*box-shadow: 1px 1px 1px;*/
  border-radius: 0.2rem;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;

}


.stack-icon {
  width: 18px;
  margin-right: 3px;
}

.stack-name {
  font-size: 13px;
  font-weight: bold;
  
}

#user-github{
  width: 30px;
  

}
#user-github:hover{
  cursor: pointer;
}

#user-mail{
  width: 20px;
}

#profile-grid-section{
  width: 80%;
}

#personal-email{
  font-size: 15px;
}

#user-github-link{
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}
#user-github-link:link{
  color: white;
  text-decoration: underline;
}
#user-github-link:visited{
  color: white; text-decoration: none;
}
#user-github-link:hover{
  color:white; text-decoration: underline;
}

.tier-row{
  margin: 0 0 0 0;
  height: 38px;
}

.tier-name{
  height: 24px;
  width: 60px;
  min-width: 60px;
  
  text-align: center;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;

  border-width: 0 0 0 0;
  border-style: solid;
  border-color: #002743;
  padding-bottom: 10px;

}

.langs-row{
  overflow: hidden;
}

.tier-icon{
  width: 40px;
  margin-bottom: -10px;
  transition: all 0.3s ease-in-out;
  overflow:visible;

}

.tier-icon:hover{
  transform: scale(1.4);
}

#tiers-box{
  margin-top: 10px;
  margin-bottom: 20px;
  align-items: center;

}

.bi-star-fill{
  margin-left: -12px;
}

#portfolio-nav{
  max-height: 250px;
  overflow:auto;
}

#edit-button{
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet);
  --bs-btn-border-color: var(--bd-violet);
  --bs-btn-border-radius: .5rem;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
  --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
  --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};

  margin-top: -110px;
}
