@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.row {
  --bs-gutter-x: 0.8rem !important;
}
@media (min-width: 768px) {
  .col-my-p20 {
    flex: 0 0 auto;
    width: 20%;
  }
}

div.edit-container {
  height: 500px;
  margin-bottom: 1rem;
}


h5.card-title {
  margin-top: 15px;
  font: 16px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  text-indent: 20px;
}

.card {
  height: 500px;
  font-family: "Roboto", sans-serif;
}

#copyright {
  margin-bottom: 0px;
  font-size: 12px;
}
a.nav-link {
  cursor: pointer;
}

.infoform-element{
  margin-right: 5px;


}

.form-switch {
  padding-top: 9px;
  flex-basis: 150px;
}
.d-flex.text-lg > .btn-toolbar {
  margin-right: 20px;
}
.d-flex.text-lg > .dropdown {
  margin-right: 30px;
}

.bold {
  font-weight: bold;
  color: black;
}

.none {
  display: none;
}

.dropdown-scrollbar
{
    height: 400px;
    overflow: scroll;

}


.delete-domain{
  margin: 2px;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 1px;
  padding-bottom: 1px;

  
}

#ints_delete{
  color :black;
}

#for-photo{
  position:relative;
  display:block;
  text-align: center;
  background-color: rgb(79, 173, 224);
  color: white;
  cursor: pointer;
  border-radius: 0.3rem;
  width: 25px;
  margin:auto;
  margin-top: -20px;
  margin-right: 20px;

  z-index: 6;
}

.range-wrap {
  position: relative;
  margin: 0 auto 3rem;
}
.range {
  width: 100%;
}
.bubble {
  background: rgb(23, 215, 103);
  color: white;
  padding: 4px;
  position: absolute;
  border-radius: 4px;
  margin-top: 12px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}
.bubble::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  background: rgb(23, 215, 103);
  top: -1px;
  left: 50%;
}


.delete-lang{

  color:black;
  border:0;
  outline: 0;
  padding-left: 30px;
  padding-right: 3px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-left:auto;
}

.delete-lang:hover{

  background-color: none;
  border:0;
  outline: 0;
  padding-left: 30px;
  padding-right: 3px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-left:auto;
}

.delete-lang svg{
  fill: black;
}

.delete-lang:hover svg{
  fill: gray;
}

.appendbtn{
  /* + */

width: 28px;
height: 36px;
padding-right: 10px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 36px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


}

.savebtn{
width: 120px;
height: 30px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
/* identical to box height */
border-radius: 0.3rem;
margin-left: 5px;

background-color: #E7EDF1;
color: #000000;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;


}