.d-flex.text-lg{
  gap: 0.5% !important;
}
@media (min-width: 768px) {
  .col-my-p20 {
    flex: 0 0 auto;
    width: 20%;
  }
}

h5.card-title {
  font-size: 18px;
  font-weight: 500;
  text-indent: 5px;
}
.kpi {
  font-size: 2rem;
}
@media (max-width: 768px) {
  .kpi {
    font-size: 2rem !important;
  }
}

.percent-wrapper {
  opacity: 0.5;
  font-size: 1rem;
  margin-left: 0.25rem;
}

.tab-container {
  margin: 10px 0;
}

#overviewChart > .col-md-3 > .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card {
  height: 100%;
  margin-bottom: 5px;
}

a.nav-link {
  cursor: pointer;
}

.form-switch {
  padding-top: 9px;
  flex-basis: 150px;
}
.form-check-label {
  color: gray;
}

.border-round{
  border-radius: 0.375rem;
}
.nav-link.border-round{
  background: white;
  border: 1px solid var(--profile-btn-border) !important;
  min-width: 100px;
  text-align: center;
  color:black;
}
.nav-link.border-round:hover{
  background: var(--profile-btn-active);
}
.nav-link.border-round.active{
  background-color: var(--profile-btn-active);
  color: var(--bootstrap-primary);
}
.form-check-input:hover{
  background-color: var(--bootstrap-active-primary);
}
