.row {
  --bs-gutter-x: 0.8rem !important;
}
@media (min-width: 768px) {
  .col-my-p20 {
    flex: 0 0 auto;
    width: 20%;
  }
}

h5.card-title {
  font-size: 18px;
  font-weight: 500;
  text-indent: 5px;
}
.kpi {
  font-size: 2rem;
}
@media (max-width: 768px) {
  .kpi {
    font-size: 2rem !important;
  }
}

.percent-wrapper {
  opacity: 0.5;
  font-size: 1rem;
  margin-left: 0.25rem;
}

.tab-container {
  margin: 10px 0px;
}

#overviewChart > .col-md-3 > .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card {
  height: 100%;
  margin-bottom: 5px;
}

#copyright {
  margin-bottom: 0px;
  font-size: 12px;
}
a.nav-link {
  cursor: pointer;
}

.form-switch {
  padding-top: 9px;
  flex-basis: 150px;
}
.d-flex.text-lg > .btn-toolbar {
  margin-right: 20px;
}
.d-flex.text-lg > .dropdown {
  margin-right: 30px;
}
.form-check-label {
  color: gray;
}

.bold {
  font-weight: bold;
  color: black;
}
.none {
  display: none;
}
.border-round{
  border-radius: 0.375rem;
}
.nav-link.border-round.active{
  background-color: var(--bootstrap-primary);
  color: white;
}